{{ define "events/_filters.html" }}

<div class="filters-grid">
  <h3 class="filters-grid-label text-label text-xs">Filter</h3>
  <div class="filters-grid-content">

    <form id="eventFilterForm" method="get">

      <div class="columns">
        <div class="column">
          {{ template "forms/select.html" .filterForm.Fields.event_type }}
        </div>
        <div class="column">
          {{ template "forms/select.html" .filterForm.Fields.outcome }}
        </div>
        <div class="column">
          {{ template "forms/text_input.html" .filterForm.Fields.identifier }}
        </div>
        <div class="column is-align-self-flex-end">
          <div class="filters-grid-controls">
            <input class="filter-button button is-primary" type="submit" value="Filter">
            <a class="filter-toggle button is-compact is-white" href="#gridFiltersAll">
              <span class="material-icons md-16" aria-hidden="true">expand_more</span>
              <span class="more-filters">More Filters</span>
              <span class="less-filters is-hidden">Less Filters</span>
            </a>
          </div>
        </div>
      </div>

      <div class="filters-grid-all is-sr-only" id="gridFiltersAll">
        <hr>

        <div class="columns">
          <div class="column is-one-quarter">
            {{ template "forms/text_input.html" .filterForm.Fields.intellectual_object_identifier }}
          </div>
          <div class="column is-one-quarter">
            {{ template "forms/text_input.html" .filterForm.Fields.generic_file_identifier }}
          </div>
          <div class="column is-one-quarter">
            {{ if .CurrentUser.IsAdmin }}
            {{ template "forms/select.html" .filterForm.Fields.institution_id }}
            {{ end }}
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            {{ template "forms/date.html" .filterForm.Fields.date_time__gteq }}
          </div>
          <div class="column is-one-quarter">
            {{ template "forms/date.html" .filterForm.Fields.date_time__lteq }}
          </div>
        </div>
      </div>
    </form>

    {{ template "shared/_filter_chips.html" . }}

  </div>
</div>

{{ end }}
