{{ define "shared/_filter_chips.html" }}

<div class="filters-grid-clear">
    {{ range $index, $chip := .filterChips }}
    <button class="badge filter-chip mb-3">
      <strong class="mr-1">{{ $chip.ChipLabel }}:</strong> {{ $chip.ChipValue }}
      <span class="icon material-icons md-16" aria-hidden="true" onclick="removeFilter({{ $index }})">cancel</span>
    </button>
    {{ end }}

    {{ if .filterChips }}
    <button class="filter-clear button is-compact is-white" onclick="removeAllFilters()">Clear Filters</button>
    {{ end }}
  </div>


<script>
let filterChips = {{ .filterChipJson }}

function removeFilter(index) {
    let chips = JSON.parse(filterChips)
    let chip = chips[index]
    console.log(chip.Key)
    console.log(location.href)

    let parts = location.href.split('?');
    let url = parts[0]
    let queryString = parts[1]
    let params = new URLSearchParams(queryString);
    let newParams = new URLSearchParams()
    for (let pair of params.entries()) {
        if (chip.Key == pair[0] && chip.Values[0] == pair[1]) {
            // This is the filter the user wants to remove.
            continue
        }
        if (pair[0] == "page" || pair[1] == '') {
            // Remove the filter because it's empty.
            // Remove page number because filter change changes number of results.
            continue
        }
        // Filter is not empty and is not being removed, so keep it.
        newParams.append(pair[0], pair[1])
    }
    let newUrl = url + '?' + newParams.toString()
    window.location = newUrl
}

function removeAllFilters() {
    let parts = location.href.split('?');
    let url = parts[0]
    let queryString = parts[1]
    let params = new URLSearchParams(queryString);
    let newParams = new URLSearchParams()
    for (let pair of params.entries()) {
        // Remove all filters, but keep per_page and sort.
        // Page number should reset to 1 on filter change.
        if (pair[0] == "per_page" || pair[0] == "sort") {
           newParams.append(pair[0], pair[1])
        }
    }
    let newUrl = url + '?' + newParams.toString()
    window.location = newUrl
}
</script>
{{ end }}