{{ define "shared/_footer.html" }}

      </div> <!-- right column -->
    </div> <!-- row -->

  <footer>
    Copyright 2014-2021 APTrust
  </footer>

  <div class="modal" id="modal-one">
    <div class="modal-bg modal-exit"></div>
    <div class="modal-container">
      <h1>Modal Title <a class="modal-close modal-exit"><i class="fas fa-window-close"></i></a></h1>
      <div class="modal-content">Modal Content... Blah blah blah... You can put lots of stuff here.</div>
    </div>
  </div>

</body>
</html>
{{ end }}
