{{ define "shared/_header.html" }}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>APTrust Registry</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/registry.css">

    <meta name="csrf_token" content="{{ .csrf_token }}">

    <!-- Use the CDN version on server. Local version is for offline development. -->
    <!-- script src="https://cdn.jsdelivr.net/npm/chart.js" rel="noreferrer"></script -->

    <script>
     const aptLoadEvent = new Event('APTLoaded');
    </script>
    <script type="module" src="/static/js/chart-3.1.1.js"></script>
    <script type="module" src="/static/js/registry.js"></script>
  </head>

  <body class="container">

    {{ if not .suppressTopNav }}
    <div class="row top-nav">
      {{ template "shared/_top_nav.html" .}}
    </div>
    {{ end }}

    <div class="row">

      <div class="column column-20 side-nav">
        {{ if not .suppressSideNav }}
        {{ template "shared/_side_nav.html" .}}
        {{ end }}
      </div>

      <div class="column column-80">

        {{ if .flash }}
        <div class="row flash">
          {{ .flash }}
        </div>
        {{ end }}


{{ end }}
