{{ define "shared/_header.html" }}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>APTrust Registry - {{ .pageTitle }}</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon.png" alt="Academic Preservation Trust logo">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">

  <!-- 
    Note that Google fonts does not support integrity attribute, so we can't include it. 
    See https://github.com/google/fonts/issues/473
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/registry.css">

  <meta name="csrf_token" content="{{ .csrf_token }}">

  <!-- Use the CDN version on server. Local version is for offline development. -->
  <!-- script src="https://cdn.jsdelivr.net/npm/chart.js" rel="noreferrer"></script -->

  <script>
    const aptLoadEvent = new Event('APTLoaded');
  </script>
  <script type="module" src="/static/js/chart-3.1.1.js"></script>
  <script type="module" src="/static/js/registry.js"></script>
</head>

<body>

  <div class="page-wrapper" id="top">

    {{ if not .suppressSideNav }}
    <div class="side-nav">
      {{ template "shared/_side_nav.html" .}}
    </div>
    {{ end }}

    <div class="content-wrapper">

      {{ if not .suppressTopNav }}
      <div class="top-nav">
        {{ template "shared/_top_nav.html" .}}
      </div>
      {{ end }}

      {{ if .flash }}
      <div class="row flash">
        {{ .flash }}
      </div>
      {{ end }}

      <main class="page-content">


        {{ end }}