{{ define "shared/_pager.html" }}

<div class="pager">
  
</div>

<div class="row">
  <div class="column column-100 center-text">
    {{ .pager.ItemFirst }} - {{ .pager.ItemLast }} of {{ .pager.TotalItems }}
  </div>
</div>
<div class="row">

  <!--
       Previous and Next links.

       If .xhrTarget is defined, the link should be a button that calls
       a JavaScript AJAX function, which will load results into the
       HTML container whose ID matches .xhrTarget. For more info on how
       that works, see /static/js/modules/xhr.js.

       If there's no .xhrTarget, the buttons should be standard <a> elements,
       and clicking them will cause a full page reload.
  -->


  {{ if .pager.PreviousLink }}
    {{ if .xhrTarget }}
    <div class="column column-50"><button type="button" class="button button-outline clickable" data-xhr-url="{{ .pager.PreviousLink }}" data-xhr-target="{{ .xhrTarget }}">&lt;</button></div>
    {{ else }}
    <div class="column column-50"><a class="button button-outline clickable" href="{{ .pager.PreviousLink }}">&lt;</a></div>
    {{ end }}
  {{ end }}


  {{ if .pager.NextLink }}
    {{ if .xhrTarget }}
    <div class="column column-50"><button type="button" class="button button-outline clickable" data-xhr-url="{{ .pager.NextLink }}" data-xhr-target="{{ .xhrTarget }}">&gt;</button></div>
    {{ else }}
    <div class="column column-50"><a class="button button-outline clickable" href="{{ .pager.NextLink }}">&gt;</a></div>
    {{ end }}
  {{ end }}
</div>

{{ end }}
