{{ define "shared/_side_nav.html" }}

<div class="site-logo">
  <img src="/static/img/AP-Trust-Logo.png" alt="Academic Preservation Trust logo">
</div>

<nav>
  <ul class="sidebar">

    <!-- TODO Add `active` classname to nav items when on current page -->
    {{ if userCan .CurrentUser "DashboardShow" .CurrentUser.InstitutionID }}
    <li><a href="/dashboard"><span class="material-icons" aria-hidden="true">home</span> Dashboard</a></li>
    {{ end }}
  
    {{ if userCan .CurrentUser "IntellectualObjectRead" .CurrentUser.InstitutionID }}
    <li><a href="/objects?state=A"><span class="material-icons" aria-hidden="true">inventory</span> Objects</a></li>
    {{ end }}

    {{ if userCan .CurrentUser "WorkItemRead" .CurrentUser.InstitutionID }}
    <li><a href="/work_items"><span class="material-icons" aria-hidden="true">build</span> Work Items</a></li>
    {{ end }}

    <li><hr /></li>
  
    {{ if userCan .CurrentUser "DepositReportShow" .CurrentUser.InstitutionID }}
    <li><a href="/reports/deposits?storage_option=Total"><span class="material-icons" aria-hidden="true">insert_chart</span> Reports</a></li>
    {{ end }}

    {{ if userCan .CurrentUser "UserCreate" .CurrentUser.InstitutionID }}
    <li><a href="/users"><span class="material-icons" aria-hidden="true">people</span> Users</a></li>
    {{ end }}

    <li><a href="#sidebarSubnav" id="sidebarToggle">
      <span class="material-icons" aria-hidden="true">list</span> 
      <span class="more-options {{ if .openSubMenu }} is-hidden {{ end }}">More </span>  
      <span class="less-options {{ if not .openSubMenu }} is-hidden {{ end }}">Fewer </span> 
      &nbsp;Options
    </a></li>
  
    <li>
      <ul id="sidebarSubnav" class="{{ if not .openSubMenu }} is-sr-only {{ end }}">
        {{ if userCan .CurrentUser "FileRead" .CurrentUser.InstitutionID }}
        <li><a href="/files?state=A"><span class="material-icons" aria-hidden="true">insert_drive_file</span> Files</a></li>
        {{ end }}
      
        {{ if userCan .CurrentUser "EventRead" .CurrentUser.InstitutionID }}
        <li><a href="/events"><span class="material-icons" aria-hidden="true">fact_check</span> Events</a></li>
        {{ end }}
      
        {{ if userCan .CurrentUser "DeletionRequestList" .CurrentUser.InstitutionID }}
        <li><a href="/deletions"><span class="material-icons" aria-hidden="true">backspace</span> Deletions</a></li>
        {{ end }}

        {{ if userCan .CurrentUser "AlertRead" .CurrentUser.InstitutionID }}
        <li><a href="/alerts"><span class="material-icons" aria-hidden="true">notifications</span> Notifications</a></li>
        {{ end }}
      
        {{ if .CurrentUser.IsAdmin }}
          <li><a href="/institutions"><span class="material-icons" aria-hidden="true">location_city</span> Institutions</a></li>
        {{ else }}
          {{ if userCan .CurrentUser "InstitutionRead" .CurrentUser.InstitutionID }}
          <li><a href="/institutions/show/{{ .CurrentUser.InstitutionID }}"><span class="material-icons" aria-hidden="true">location_city</span> Institution</a></li>
          {{ end }}
        {{ end }}

        {{ if userCan .CurrentUser "BillingReportShow" .CurrentUser.InstitutionID }}
        <li><a href="/reports/billing/"><span class="material-icons" aria-hidden="true">monetization_on</span> Billing Report</a></li>
        {{ end }}

        {{ if userCan .CurrentUser "NsqAdmin" .CurrentUser.InstitutionID }}
        <li><a href="/nsq"><span class="material-icons" aria-hidden="true">not_started</span> NSQ</a></li>
        {{ end }}

        {{ if userCan .CurrentUser "InternalMetadataRead" .CurrentUser.InstitutionID }}
        <li><a href="/internal_metadata"><span class="material-icons" aria-hidden="true">dns</span> DB Meta</a></li>
        {{ end }}

      </ul>
    </li>

    <li><hr /></li>
  
    <li><a href="/users/sign_out"><span class="material-icons" aria-hidden="true">logout</span> Sign Out</a></li>
  </ul>
</nav>

{{ end }}
