{{ define "shared/_side_nav.html" }}

<div class="site-logo">
  <img src="/static/img/AP-Trust-Logo.png">
</div>

<nav>
  <ul>

    {{ if userCan .CurrentUser "DashboardShow" .CurrentUser.InstitutionID }}
    <li><a href="/dashboard"><span class="material-icons" aria-hidden="true">home</span> Dashboard</a></li>
    {{ end }}
  
    {{ if userCan .CurrentUser "IntellectualObjectRead" .CurrentUser.InstitutionID }}
    <li><a href="/objects?state=A"><span class="material-icons" aria-hidden="true">inventory</span> Objects</a></li>
    {{ end }}

    {{ if userCan .CurrentUser "WorkItemRead" .CurrentUser.InstitutionID }}
    <li><a href="/work_items"><span class="material-icons" aria-hidden="true">build</span> Work Items</a></li>
    {{ end }}

    <hr />
  
    {{ if userCan .CurrentUser "DepositReportShow" .CurrentUser.InstitutionID }}
    <li><a href="/reports/deposits"><span class="material-icons" aria-hidden="true">insert_chart</span> Reports</a></li>
    {{ end }}
  
    {{ if userCan .CurrentUser "UserCreate" .CurrentUser.InstitutionID }}
    <li><a href="/users"><span class="material-icons" aria-hidden="true">people</span> Users</a></li>
    {{ end }}

    <li><a href="#sidebarSubnav" id="sidebarToggle">
      <span class="material-icons" aria-hidden="true">list</span> 
      <span class="more-options">More </span> 
      <span class="less-options is-hidden">Less </span> 
      &nbsp;Options
    </a></li>
  
    <ul id="sidebarSubnav" class="is-sr-only">
      {{ if userCan .CurrentUser "FileRead" .CurrentUser.InstitutionID }}
      <li><a href="/files?state=A"><span class="material-icons" aria-hidden="true">insert_drive_file</span> Files</a></li>
      {{ end }}
    
      {{ if userCan .CurrentUser "EventRead" .CurrentUser.InstitutionID }}
      <li><a href="/events"><span class="material-icons" aria-hidden="true">fact_check</span> Events</a></li>
      {{ end }}
    
      {{ if userCan .CurrentUser "DeletionRequestList" .CurrentUser.InstitutionID }}
      <li><a href="/deletions"><span class="material-icons" aria-hidden="true">backspace</span> Deletions</a></li>
      {{ end }}

      {{ if userCan .CurrentUser "AlertRead" .CurrentUser.InstitutionID }}
      <li><a href="/alerts"><span class="material-icons" aria-hidden="true">notifications</span> Notifications</a></li>
      {{ end }}
    
      {{ if .CurrentUser.IsAdmin }}
        <li><a href="/institutions"><span class="material-icons" aria-hidden="true">location_city</span> Institutions</a></li>
      {{ else }}
        {{ if userCan .CurrentUser "InstitutionRead" .CurrentUser.InstitutionID }}
        <li><a href="/institutions/show/{{ .CurrentUser.InstitutionID }}"><span class="material-icons" aria-hidden="true">location_city</span> Institution</a></li>
        {{ end }}
      {{ end }}
    </ul>

    <hr />
  
    <li><a href="/users/sign_out"><span class="material-icons" aria-hidden="true">logout</span> Sign Out</a></li>
  </ul>
</nav>

{{ end }}
