{{ define "shared/_top_nav.html" }}

<!-- This is disabled for demo launch, because it has not been implemented. -->
<!-- See https://trello.com/c/QqFQQHFX -->
<!-- All of the search features this would implement are available elsewhere. -->
<div class="global-search">
  <div class="field has-addons">
    <div class="global-search-input-control control is-expanded">
      <!--
      <input class="input" type="text" placeholder="Enter an identifier, alternate ID, name, or eTag">
      -->
    </div>
    <div class="control">
      <!--
      <button class="button">
        Search
      </button>
      -->
    </div>
  </div>
  <!-- TODO In the design there's a tooltip here. What content would that have? -->
  <!--
  <p class="help text-md">Search for Objects, Files, or Work Items</p>
  -->
</div>

<div class="user-icons">
  {{ if userCan .CurrentUser "AlertRead" .CurrentUser.InstitutionID }}
  <!-- TODO If there are unread alerts, show red dot on notifications icon, using `has-notifications` classname -->
  {{ $cssClass := "" }}
  {{ if .CurrentUser.HasUnreadAlerts }}
    {{ $cssClass = "has-notifications" }}
  {{ end }}
  <a href="/alerts" class="alert-icon {{ $cssClass }}">
    <span class="material-icons md-30" aria-hidden="true">notifications</span>
    <span class="is-sr-only">Alerts</span>
  </a>
  {{ end }}
  <a href="/users/my_account" class="account-icon">
    <span class="material-icons md-30" aria-hidden="true">account_circle</span>
    <span class="is-sr-only">My Account</span>
  </a>
</div>

{{ end }}