{{ define "shared/header.html" }}

<!DOCTYPE html>
<html>
  <head>
    <title>APTrust Registry</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon.png">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/semantic-2.8.7.min.css">
    <link rel="stylesheet" href="/static/css/registry.css">
    <script src="/static/js/semantic-2.8.7.min.js"></script>
    <script src="/static/js/registry.js"></script>
  </head>

  <body>

    {{ template "shared/nav.html" .}}

    <div class="pusher registry-main">

{{ end }}
