{{ define "shared/header.html" }}

<!DOCTYPE html>
<html>
  <head>
    <title>APTrust Registry</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/milligram.css">
    <link rel="stylesheet" href="/static/css/registry.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js" rel="noreferrer"></script>
    <script src="/static/js/registry.js"></script>
  </head>

  <body class="container">

    {{ if not .suppressTopNav }}
    <div class="row top-nav">
      {{ template "shared/top_nav.html" .}}
    </div>
    {{ end }}

    <div class="row">

      <div class="column column-20 side-nav">
        {{ if not .suppressSideNav }}
        {{ template "shared/side_nav.html" .}}
        {{ end }}
      </div>

      <div class="column column-80">

        {{ if .flash }}
        <div class="row flash">
          {{ .flash }}
        </div>
        {{ end }}


{{ end }}
