{{ define "shared/nav.html" }}

<img src="/static/img/APTrustSquare.png">
<ul>
  <li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
  <li><a href="/objects"><i class="fa fa-archive"></i> Objects</a></li>
  <li><a href="/items"><i class="fa fa-cog"></i> Work Items</a></li>
  <li><a href="/reports"><i class="fa fa-chart-line"></i> Reports</a></li>
  <li><a href="/alerts"><i class="fa fa-bell"></i> Alerts</a></li>
  <li><a href="/institutions"><i class="fa fa-landmark"></i> Institutions</a></li>
  <li><a href="/users"><i class="fa fa-users"></i> Users</a></li>
  <li><a href="/users/sign_out"><i class="fas sign-out-alt"></i> Sign Out</a></li>
</ul>

<!--
<div id="topnav" class="ui top inverted fixed menu overlay">
  <div class="center menu">
    <div class="ui fluid category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Looking for something?">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>

    <a class="item"><i class="user icon"></i>Your Account</a>
    <a class="item"><i class="help icon"></i>Help</a>
 </div>
</div>
-->

{{ end }}
