{{ define "shared/nav.html" }}

<div class="ui left vertical inverted thin sidebar labeled menu visible">
  <img class="ui image tiny centered" src="/static/img/APTrustSquare.png">
  <a class="item" href="/dashboard">
    <i class="home icon"></i>
    Dashboard
  </a>
  <a class="item" href="/objects">
    <i class="box icon"></i>
    Objects
  </a>
  <a class="item" href="/items">
    <i class="cog icon"></i>
    Work Items
  </a>
  <a class="item" href="/reports">
    <i class="chart line icon"></i>
    Reports
  </a>
  <a class="item" href="/alerts">
    <i class="bell icon"></i>
    Alerts
  </a>
  <a class="item" href="/institutions">
    <i class="landmark icon"></i>
    Institutions
  </a>
  <a class="item" href="/users">
    <i class="users icon"></i>
    Users
  </a>
  <a class="item" href="/users/sign_out">
    <i class="poo icon"></i>
    Sign Out
  </a>
</div>


<div id="topnav" class="ui top inverted fixed menu overlay">
  <div class="center menu">
    <div class="ui fluid category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Looking for something?">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>

    <a class="item"><i class="user icon"></i>Your Account</a>
    <a class="item"><i class="help icon"></i>Help</a>
 </div>
</div>

{{ end }}
