{{ define "dashboard/_alerts.html" }}

<div class="box">
  <div class="box-header is-flex is-justify-content-space-between is-align-items-center">
    <h1 class="h2 is-flex is-align-items-center">
      <span class="material-icons mr-2" aria-hidden="true">notifications</span>
      Recent Notifications
    </h1>
    <a class="is-flex is-align-items-center" href="/alerts">
      see all
      <span class="material-icons md-16 ml-2" aria-hidden="true">arrow_forward</span>
    </a>
  </div>

  <table class="table is-hoverable is-fullwidth has-padding is-borderless">
    <tbody>
      {{ range $index, $alert := .alerts }}
      <tr class="clickable" onclick="window.location.href='/alerts/show/{{ $alert.ID }}/{{ $alert.UserID }}'">
        <td class="pl-5">
          <div class="is-flex is-align-items-center">
            <span class="action-icon mr-3"><!-- TODO Make this update with correct icon-->
              <span class="material-icons md-16" aria-hidden="true"><span>check</span></span>
            </span>
            <span class="is-grey-dark">{{ $alert.Type }}</span>
          </div>
          <div class="text-xs is-grey-dark is-dashboard-action">{{ $alert.Subject }}</div><!-- TODO Make this the filename instead? Subject and Type often match -->
        </td>
        <td class="is-grey-dark text-sm is-uppercase has-text-right pr-5">{{ dateUS $alert.CreatedAt }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

{{ end }}
