{{ define "dashboard/_deposits.html" }}

<div class="row">
  <div class="column column-100">
    <h2>Deposits by Storage Option</h2>
  </div>
</div>

<div class="row">
  <div class="column column-100">

    <!-- Chart -->
    <div class="row">
      <canvas id="depositChart" width="240" height="240"></canvas>
    </div>

    <!-- Stats -->
    <div class="row">
      <table>
        <thead>
          <th>Storage Option</th>
          <th>Files</th>
          <th>Size</th>
        </thead>
        <tbody>
          {{ range $index, $stat := .stats }}
          {{ if eq $stat.StorageOption "" }}
            <tr class="total">
          {{ else }}
            <tr>
          {{ end }}
              <td>
                {{ if eq $stat.StorageOption "" }}
                Total
                {{ else }}
                {{ $stat.StorageOption }}
                {{ end }}
              </td>
              <td>{{ $stat.FileCount }}</td>
              <td>{{ humanSize $stat.TotalBytes }}</td>
            </tr>
            {{ end }}
        </tbody>
      </table>
    </div>
  </div>

</div>

<!-- Dummy/placeholder charts -->
<!-- https://www.chartjs.org/docs/latest/charts/doughnut.html -->
<script>

 var data = {
     labels: [
         'Standard',
         'Glacier-VA',
         'Wasabi-OR'
     ],
     datasets: [{
         label: '',
         data: [60, 10, 30],
         backgroundColor: [
             'rgb(255, 99, 132)',
             'rgb(54, 162, 235)',
             'rgb(255, 205, 86)'
         ],
         hoverOffset: 4
     }]
 };
 function initChart(elementId, label) {
     let ctx = document.getElementById(elementId);
     let copyOfData = JSON.parse(JSON.stringify(data))
     copyOfData.datasets[0].label = label
     return new Chart(ctx, { type: 'doughnut', data: copyOfData })
 }

 window.addEventListener('load', (event) => {
     initChart("depositChart", "Deposits")
 });

</script>

{{ end }}
