{{ define "dashboard/_deposits.html" }}

<div class="row">
  <div class="column column-100">
    <h2>Deposits by Storage Option</h2>
  </div>
</div>

<div class="row">
  <div class="column column-100">

    <!-- Chart -->
    <div class="row">
      <canvas id="depositChart" width="240" height="240"></canvas>
    </div>

    <!-- Stats -->
    <div class="row">
      <table>
        <thead>
          <th>Storage Option</th>
          <th>Files</th>
          <th>Size</th>
        </thead>
        <tbody>
          {{ range $index, $stat := .depositStats }}
          {{ if eq $stat.StorageOption "Total" }}
            <tr class="total">
          {{ else }}
            <tr>
          {{ end }}
              <td>
                {{ if eq $stat.StorageOption "" }}
                Total
                {{ else }}
                {{ $stat.StorageOption }}
                {{ end }}
              </td>
              <td>{{ $stat.FileCount }}</td>
              <td>{{ humanSize $stat.TotalBytes }}</td>
            </tr>
            {{ end }}
        </tbody>
      </table>
    </div>
  </div>

</div>

<script>

 var depositChart = null
 const depositData = {{ toJSON .depositStats }};

 function renderChart() {
     let ctx = document.getElementById("depositChart");
     let data = buildChartData("Deposits by Storage Type")
     if (depositChart == null) {
         depositChart = new Chart(ctx, { type: 'doughnut', data: data })
     } else {
         depositChart.data = data
         depositChart.update()
     }
 }

 function buildChartData(label) {
     let labels = getLabels()
     return {
         labels: labels,
         datasets: [{
             label: label,
             data: getDepositData(),
             backgroundColor: window.APT.chartColors('fill', labels.length),
             borderColor: window.APT.chartColors('border', labels.length),
             borderWidth: 1
         }],
         hoverOffset: 4
     }
 }

 function getDepositData() {
     return depositData.filter(item => item.storage_option != 'Total').map(item => item.total_gb);
 }

 function getLabels() {
     return depositData.filter(item => item.storage_option != 'Total').map(item => item.storage_option);
 }

 // Render the chart after APTLoaded (aptLoadEvent) because it depends
 // on APT.chartColors.
 window.addEventListener('APTLoaded', (event) => {
     renderChart()
 });

</script>

{{ end }}
