{{ define "dashboard/_deposits.html" }}

<div class="box">
  <div class="box-header">
    <h1 class="h2">Deposits by Storage Option</h1>
  </div>

  <div class="box-content">
    <div class="columns">
      <div class="column">
        <canvas id="depositChart" width="240" height="240"></canvas>
      </div>

      <div class="column">
        <!-- TODO Update styles here when file summary total is also at the end -->
          <table class="table is-borderless is-fullwidth has-chart-data">
            <thead>
              <th>Storage Option</th>
              <th>Files</th>
              <th>Size</th>
            </thead>
            <tbody>
              {{ range $index, $stat := .depositStats }}
              {{ if eq $stat.StorageOption "Total" }}
                <tr class="total">
              {{ else }}
                <tr>
              {{ end }}
                  <td class="text-sm">
                    {{ if eq $stat.StorageOption "" }}
                    Total
                    {{ else }}
                    {{ $stat.StorageOption }}
                    {{ end }}
                  </td>
                  <td class="is-grey-dark num text-sm has-text-right">{{ $stat.FileCount }}</td>
                  <td class="is-grey-dark num text-sm has-text-right">{{ humanSize $stat.TotalBytes }}</td>
                </tr>
                {{ end }}
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <hr>
  <!-- TODO: Make this dynamic -->
  <div class="box-content">
    <div class="columns">
      <div class="column">
        <h5 class="text-label text-xs mb-2">Objects</h5>
        <p class="num text-lg">48,883</p>
      </div>
      <div class="column">
        <h5 class="text-label text-xs mb-2">Files</h5>
        <p class="num text-lg">6,663,871</p>
      </div>
      <div class="column">
        <h5 class="text-label text-xs mb-2">Fixity Checks</h5>
        <p class="num text-lg">8,771</p>
        <p class="text-sm is-italic">this week</p>
      </div>
    </div>
  </div>
</div>

<script>

 var depositChart = null
 const depositData = {{ toJSON .depositStats }};

 function renderChart() {
     let ctx = document.getElementById("depositChart");
     let data = buildChartData("Deposits by Storage Type")
     if (depositChart == null) {
         depositChart = new Chart(ctx, { type: 'doughnut', data: data })
     } else {
         depositChart.data = data
         depositChart.update()
     }
 }

 function buildChartData(label) {
     let labels = getLabels()
     return {
         labels: labels,
         datasets: [{
             label: label,
             data: getDepositData(),
             backgroundColor: window.APT.chartColors('fill', labels.length),
             borderColor: window.APT.chartColors('border', labels.length),
             borderWidth: 1
         }],
         hoverOffset: 4
     }
 }

 function getDepositData() {
     return depositData.filter(item => item.storage_option != 'Total').map(item => item.total_gb);
 }

 function getLabels() {
     return depositData.filter(item => item.storage_option != 'Total').map(item => item.storage_option);
 }

 // Render the chart after APTLoaded (aptLoadEvent) because it depends
 // on APT.chartColors.
 window.addEventListener('APTLoaded', (event) => {
     renderChart()
 });

</script>

{{ end }}
