{{ define "dashboard/_work_items.html" }}

<h2>Recent Work Items</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $item := .items }}
    <tr class="clickable" onclick="window.location.href='/work_items/show/{{ $item.ID }}'">
      <td>{{ $item.Name }}</td>
      <td>{{ $item.Action }}</td>
      <td>{{ $item.Status }}</td>
      <td>{{ dateUS $item.DateProcessed }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ end }}
