openapi: 3.0.0

info:
  title: APTrust Registry Admin API
  description: |
    Open API documentation for version 3 of the APTrust Registry Admin API.

    **This is an internal API. It is not a member-facing contract.**

    Access is restricted to APTrust system administrators. Requests to any
    `/admin-api/` route from a non-sysadmin account are rejected with a 403
    before the request ever reaches a handler, regardless of the credentials
    supplied. Depositors should use the
    [Member API](https://docs.aptrust.org/api/) instead.

    The primary consumer of this API is
    [preservation-services](https://github.com/APTrust/preservation-services),
    which uses it to create and update the object, file, checksum, storage
    record, premis event, and work item records produced during ingest,
    restoration, and deletion. Because preservation-services writes nearly all
    of the data in the Registry, the request and response shapes documented
    here are effectively the Registry's write contract, and changing them will
    break ingest.

    Several routes are handled by the same code that serves the Member API and
    return identical responses. Where the two APIs differ for the same route,
    the difference is called out in the endpoint description. The most
    significant difference is `GET /admin-api/v3/files`, which returns full
    GenericFile records with their related checksums, premis events, and
    storage records embedded, rather than the flattened GenericFileView objects
    the Member API returns.

    ### Filtering, sorting and paging

    Index (list) endpoints accept a fixed set of filter parameters, documented
    per endpoint below. The Registry rejects any query string parameter it does
    not recognize with a 400 response rather than silently ignoring it, so the
    parameter lists in this document are exhaustive. Filter names ending in
    `__gteq` and `__lteq` are inclusive range filters, `__in` accepts a
    repeated parameter, `__starts_with` and `__contains` are string matches,
    and `__is_null` / `__not_null` take a boolean.

    All index endpoints accept `page`, `per_page`, and `sort`. The `sort`
    parameter takes the form `column__direction`, where direction is `asc` or
    `desc`.
  version: '3.0.0'
  contact:
    email: "help@aptrust.org"
  license:
    name: BSD 2-Clause "Simplified" License
    url: https://raw.githubusercontent.com/APTrust/registry/master/LICENSE

servers:
  - url: https://demo.aptrust.org
    description: "APTrust demo server. Use this for testing."
  - url: https://repo.aptrust.org
    description: "APTrust production server."

tags:
  - name: Alerts
    description: Alerts generated by the Registry
  - name: Checksums
    description: Checksums calculated at ingest and during file fixity checks
  - name: Deletion Requests
    description: File and object deletion requests
  - name: Generic Files
    description: Create, update, delete and query individual files
  - name: Institutions
    description: Depositing institutions
  - name: Intellectual Objects
    description: Create, update, delete and query objects
  - name: Premis Events
    description: Events pertaining to files and objects
  - name: Storage Records
    description: Locations of file copies in preservation storage
  - name: Work Items
    description: Ingest, deletion, and restoration work items
  - name: Test Endpoints
    description: Endpoints compiled only into test and integration builds

security:
  - apiKey: []
    apiUser: []

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Pharos-API-Key
      description: The sysadmin user's secret API key
    apiUser:
      type: apiKey
      in: header
      name: X-Pharos-API-User
      description: The sysadmin user's email address

  schemas:
    AlertView:
      type: object
      properties:
        id:
          type: integer
          format: int64
        institution_id:
          type: integer
          format: int64
        institution_name:
          type: string
        institution_identifier:
          type: string
        type:
          type: string
          description: The type of alert.
          enum: ["Deletion Cancelled", "Deletion Completed", "Deletion Confirmed", "Deletion Requested", "Failed Fixity Check", "Password Changed", "Password Reset", "Restoration Completed", "Stalled Work Items", "Welcome New User"]
        subject:
          type: string
        content:
          type: string
          description: The main body of the alert message.
        deletion_request_id:
          type: integer
          format: int64
          nullable: true
          description: The id of the deletion request, if this alert pertains to a deletion request.
        created_at:
          type: string
          format: date-time
          description: Date and time the alert was generated.
        user_id:
          type: integer
          format: int64
          description: The ID of the user to whom the alert was sent.
        user_name:
          type: string
          description: The name of the user to whom the alert was sent.
        sent_at:
          type: string
          format: date-time
          nullable: true
          description: Date and time this alert was sent to the user. This may be null if the system was unable to send the alert.
        read_at:
          type: string
          format: date-time
          nullable: true
          description: Date and time the recipient read this alert. This will be null if the recipient has not yet viewed the alert, or if the recipient manually set the message to 'unread' in the Web UI.
    AlertViewList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: The total number of results matching your query.
        next:
          type: string
          description: The URL for the next page of results.
        previous:
          type: string
          description: The URL for the previous page of results.
        results:
          description: A list of alerts matching your query.
          type: array
          items:
            $ref: '#/components/schemas/AlertView'

    Checksum:
      type: object
      properties:
        id:
          type: integer
          format: int64
        algorithm:
          type: string
          enum: ["md5", "sha1", "sha256", "sha512"]
          description: The algorithm used to calculate the digest.
        datetime:
          type: string
          format: date-time
          description: The date and time at which this digest was calculated.
        digest:
          type: string
          description: The checksum.
        generic_file_id:
          type: integer
          format: int64
          description: The unique id of the GenericFile to which this checksum pertains.
    ChecksumView:
      type: object
      properties:
        id:
          type: integer
          format: int64
        algorithm:
          type: string
          enum: ["md5", "sha1", "sha256", "sha512"]
          description: The algorithm used to calculate the digest.
        datetime:
          type: string
          format: date-time
          description: The date and time at which this digest was calculated.
        digest:
          type: string
          description: The checksum.
        state:
          type: string
          enum: ["A", "D"]
          description: The state of the GenericFile to which this checksum pertains. A = Active, D = Deleted
        generic_file_identifier:
          type: string
          description: "The identifier of the GenericFile to which this checksum pertains. GenericFile identifiers follow a semantic format: <instution_identifier>/<bag_name>/<path_in_bag>"
          example: test.edu/SampleBag/data/document.pdf
        generic_file_id:
          type: integer
          format: int64
          description: The unique id of the GenericFile to which this checksum pertains.
        intellectual_object_id:
          type: integer
          format: int64
          description: The ID of the GenericFile's parent object.
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns the GenericFile.
        created_at:
          type: string
          format: date-time
          description: The date and time at which the checksum record was created in the database. This will be later than the datetime field because checksums are calculated early in the ingest process and recorded near the end of ingest.
        updated_at:
          type: string
          format: date-time
          description: Since checksums cannot be updated, this should always match the value of created_at.
    ChecksumViewList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: The total number of results matching your query.
        next:
          type: string
          description: The URL for the next page of results.
        previous:
          type: string
          description: The URL for the previous page of results.
        results:
          description: An array of ChecksumView objects matching your query.
          type: array
          items:
            $ref: '#/components/schemas/ChecksumView'

    DeletionRequest:
      type: object
      description: |
        A full deletion request record, including the users involved and the
        complete list of files or objects to be deleted. This is returned by
        the batch deletion endpoint. Note that the embedded user records are
        full User objects, not the abbreviated UserMin objects returned by
        `GET /admin-api/v3/deletions/show/{id}`.
      properties:
        id:
          type: integer
          format: int64
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns the files or objects to be deleted.
        requested_at:
          type: string
          format: date-time
          description: The date and time at which this deletion was requested.
        confirmed_at:
          type: string
          format: date-time
          description: The date and time at which this deletion was approved. Null until an institutional admin approves the request.
          nullable: true
        cancelled_at:
          type: string
          format: date-time
          description: The date and time at which this deletion was cancelled (rejected).
          nullable: true
        requested_by:
          description: The user who requested the deletion.
          allOf:
            - $ref: '#/components/schemas/User'
        confirmed_by:
          description: The user who confirmed (approved) the deletion. Null until approved.
          type: object
          nullable: true
          allOf:
            - $ref: '#/components/schemas/User'
        cancelled_by:
          description: The user who cancelled (rejected) the deletion.
          type: object
          nullable: true
          allOf:
            - $ref: '#/components/schemas/User'
        generic_files:
          type: array
          description: The files to be deleted. Empty for object deletion requests.
          items:
            $ref: '#/components/schemas/GenericFile'
        intellectual_objects:
          type: array
          description: The objects to be deleted. Empty for file deletion requests.
          items:
            $ref: '#/components/schemas/IntellectualObject'
        work_item:
          type: array
          description: "The work items associated with this deletion request. Note that despite the singular property name, this is an array."
          items:
            $ref: '#/components/schemas/WorkItem'

    DeletionRequestMin:
      type: object
      description: |
        An abbreviated deletion request record. The users attached to the
        request are reduced to id, name and email, and no work items are
        included.
      properties:
        id:
          type: integer
          format: int64
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns the files or objects to be deleted.
        requested_at:
          type: string
          format: date-time
          description: The date and time at which this deletion was requested.
        confirmed_at:
          type: string
          format: date-time
          description: The date and time at which this deletion was approved.
          nullable: true
        cancelled_at:
          type: string
          format: date-time
          description: The date and time at which this deletion was cancelled (rejected).
          nullable: true
        requested_by:
          description: The user who requested the deletion.
          allOf:
            - $ref: '#/components/schemas/UserMin'
        confirmed_by:
          description: The user who confirmed (approved) the deletion. Null until approved.
          type: object
          nullable: true
          allOf:
            - $ref: '#/components/schemas/UserMin'
        cancelled_by:
          description: The user who cancelled (rejected) the deletion.
          type: object
          nullable: true
          allOf:
            - $ref: '#/components/schemas/UserMin'
        generic_files:
          type: array
          description: The files to be deleted. Empty for object deletion requests.
          items:
            $ref: '#/components/schemas/GenericFile'
        intellectual_objects:
          type: array
          description: The objects to be deleted. Empty for file deletion requests.
          items:
            $ref: '#/components/schemas/IntellectualObject'

    DeletionRequestView:
      type: object
      properties:
        id:
          type: integer
          format: int64
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns the files or objects to which this deletion request pertains.
        institution_name:
          type: string
          description: The name of the institution that owns the files or objects to which this deletion request pertains.
        institution_identifier:
          type: string
          description: The identifier (domain name) of the institution that owns the files or objects to which this deletion request pertains.
        requested_by_id:
          type: integer
          format: int64
          description: The id of the user who requested the deletion.
        requested_by_name:
          type: string
          description: The name of the user who requested this deletion.
        requested_by_email:
          type: string
          description: The email address of the user who requested this deletion.
          format: email
        requested_at:
          type: string
          format: date-time
          description: The date and time at which this deletion was requested.
        confirmed_by_id:
          type: integer
          format: int64
          description: The id of the user who confirmed (approved) this deletion. This will be null if the deletion has not yet been approved or was cancelled.
          nullable: true
        confirmed_by_name:
          type: string
          description: The name of the user who confirmed (approved) this deletion.
          nullable: true
        confirmed_by_email:
          type: string
          description: The email address of the user who confirmed (approved) this deletion.
          format: email
          nullable: true
        confirmed_at:
          type: string
          format: date-time
          description: The date and time at which this deletion was approved.
          nullable: true
        cancelled_by_id:
          type: integer
          format: int64
          description: The id of the user who cancelled (rejected) this deletion.
          nullable: true
        cancelled_by_name:
          type: string
          description: The name of the user who cancelled (rejected) this deletion.
          nullable: true
        cancelled_by_email:
          type: string
          description: The email address of the user who cancelled (rejected) this deletion.
          format: email
          nullable: true
        cancelled_at:
          type: string
          format: date-time
          description: The date and time at which this deletion was cancelled (rejected).
          nullable: true
        file_count:
          type: integer
          format: int64
          description: The total number of files to be deleted in this request. If zero, this is an object deletion request.
          minimum: 0
        object_count:
          type: integer
          format: int64
          description: The total number of objects to be deleted in this request. If zero, this is a file deletion request.
          minimum: 0
        status:
          type: string
          description: The status of the deletion request.
          enum: ["Approved", "Awaiting Approval", "Rejected"]
          nullable: true
    DeletionRequestViewList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: The total number of results matching your query.
        next:
          type: string
          description: The URL for the next page of results.
        previous:
          type: string
          description: The URL for the previous page of results.
        results:
          description: A list of deletion requests matching your query.
          type: array
          items:
            $ref: '#/components/schemas/DeletionRequestView'

    FailedFixitySummary:
      type: object
      description: A summary of failed fixity checks at a single institution.
      properties:
        failures:
          type: integer
          format: int64
          description: The number of failed fixity checks at this institution since the alerts were last generated.
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution whose files failed fixity checks.
        institution_name:
          type: string
          description: The name of the institution whose files failed fixity checks.
        error:
          type: string
          description: If alert generation failed for this institution, this describes the failure. Alert generation continues for other institutions when one fails.
          nullable: true

    FailedFixitySummaryList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: The total number of failed fixity checks across all institutions in this report.
        next:
          type: string
          description: Not used by this endpoint. Always empty.
        previous:
          type: string
          description: Not used by this endpoint. Always empty.
        results:
          description: One summary per institution with failed fixity checks.
          type: array
          items:
            $ref: '#/components/schemas/FailedFixitySummary'

    GenericFile:
      type: object
      properties:
        id:
          type: integer
          format: int64
        file_format:
          type: string
          description: The mime type of the file.
        size:
          type: integer
          format: int64
          minimum: 0
          description: The size (in bytes) of the file.
        identifier:
          type: string
          description: The file's semantic identifier in the format <instution_identifier>/<bag_name>/<path_in_bag>.
        intellectual_object_id:
          type: integer
          format: int64
          description: The ID of the IntellectualObject to which this file belongs.
        state:
          type: string
          description: Indicates whether the file is Active (A) or Deleted (D).
          enum: ["A", "D"]
        last_fixity_check:
          type: string
          format: date-time
          description: The date and time of this file's last fixity check.
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns this file.
        storage_option:
          type: string
          description: Indicates where the file is stored.
          enum: ["Glacier-Deep-OH", "Glacier-Deep-OR", "Glacier-Deep-VA", "Glacier-OH", "Glacier-OR", "Glacier-VA", "Standard", "Wasabi-OR", "Wasabi-TX", "Wasabi-VA"]
        uuid:
          type: string
          format: uuid
          description: The file's unique identifier in preserveration storage. This is its S3/Glacier key name.
        premis_events:
          description: Premis events pertaining to this file.
          type: array
          items:
            $ref: '#/components/schemas/PremisEvent'
        checksums:
          description: A list of checksums for this file.
          type: array
          items:
            $ref: '#/components/schemas/Checksum'
        storage_records:
          description: A list of storage records for this file. Each record points to a copy of this file in a preservation storage bucket.
          type: array
          items:
            $ref: '#/components/schemas/StorageRecord'
        created_at:
          type: string
          format: date-time
          description: The date and time at which the generic file record was created. This indicates the date of initial ingest.
        updated_at:
          type: string
          format: date-time
          description: The date and time at which the generic file was last updated. Updates may indicate re-ingest or changes to last fixity check date.
        mtime:
          type: string
          format: date-time
          description: The file's last modified time as recorded in the bag's tag manifest. Not documented in the Member API, but present in the JSON.
          nullable: true

    GenericFileList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: The total number of results matching your query.
        next:
          type: string
          description: The URL for the next page of results.
        previous:
          type: string
          description: The URL for the previous page of results.
        results:
          description: A list of files matching your query, each including its checksums, premis events and storage records.
          type: array
          items:
            $ref: '#/components/schemas/GenericFile'

    Institution:
      type: object
      description: A depositing institution, as stored in the institutions table.
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          description: The institution's display name.
        identifier:
          type: string
          description: The institution's unique identifier, which is its domain name.
          example: test.edu
        state:
          type: string
          description: Indicates whether the institution is Active (A) or Deleted (D).
          enum: ["A", "D"]
        type:
          type: string
          description: Indicates whether this is a member institution (account) or a subscribing institution (sub-account).
          enum: ["MemberInstitution", "SubscriptionInstitution"]
        member_institution_id:
          type: integer
          format: int64
          description: The ID of this institution's parent. Applicable to subscribing institutions (sub-accounts) only.
          nullable: true
        deactivated_at:
          type: string
          format: date-time
          description: The date and time at which this institution was deactivated. Null for active institutions.
          nullable: true
        otp_enabled:
          type: boolean
          description: Indicates whether two-factor authentication is required for all users at this institution.
        spot_restore_frequency:
          type: integer
          format: int64
          description: How often, in days, the Registry should queue an automated spot restoration for this institution. Zero means never.
        last_spot_restore_work_item_id:
          type: integer
          format: int64
          description: The ID of the work item for this institution's most recent spot restoration.
          nullable: true
        receiving_bucket:
          type: string
          description: The name of the S3 bucket into which this institution uploads bags for ingest.
        restore_bucket:
          type: string
          description: The name of the S3 bucket into which the Registry restores this institution's objects and files.
        created_at:
          type: string
          format: date-time
          description: The date and time this record was created.
        updated_at:
          type: string
          format: date-time
          description: The date and time this record was last updated.

    InstitutionView:
      type: object
      description: |
        An institution record with its parent institution's details joined in.
        Subscribing institutions (sub-accounts) have a parent; member
        institutions do not, and their parent fields will be empty.
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          description: The institution's display name.
        identifier:
          type: string
          description: The institution's unique identifier, which is its domain name.
          example: test.edu
        state:
          type: string
          description: Indicates whether the institution is Active (A) or Deleted (D).
          enum: ["A", "D"]
        type:
          type: string
          description: Indicates whether this is a member institution (account) or a subscribing institution (sub-account).
          enum: ["MemberInstitution", "SubscriptionInstitution"]
        deactivated_at:
          type: string
          format: date-time
          description: The date and time at which this institution was deactivated. Null for active institutions.
          nullable: true
        otp_enabled:
          type: boolean
          description: Indicates whether two-factor authentication is required for all users at this institution.
        spot_restore_frequency:
          type: integer
          format: int64
          description: How often, in days, the Registry should queue an automated spot restoration for this institution. Zero means never.
        last_spot_restore_work_item_id:
          type: integer
          format: int64
          description: The ID of the work item for this institution's most recent spot restoration.
          nullable: true
        receiving_bucket:
          type: string
          description: The name of the S3 bucket into which this institution uploads bags for ingest.
        restore_bucket:
          type: string
          description: The name of the S3 bucket into which the Registry restores this institution's objects and files.
        created_at:
          type: string
          format: date-time
          description: The date and time this record was created.
        updated_at:
          type: string
          format: date-time
          description: The date and time this record was last updated.
        parent_id:
          type: integer
          format: int64
          description: The ID of this institution's parent. Applicable to subscribing institutions only.
          nullable: true
        parent_name:
          type: string
          description: The display name of this institution's parent.
          nullable: true
        parent_identifier:
          type: string
          description: The identifier (domain name) of this institution's parent.
          nullable: true
        parent_state:
          type: string
          description: Indicates whether the parent institution is Active (A) or Deleted (D).
          enum: ["A", "D"]
          nullable: true
        parent_deactivated_at:
          type: string
          format: date-time
          description: The date and time at which the parent institution was deactivated.
          nullable: true

    InstitutionViewList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: The total number of results matching your query.
        next:
          type: string
          description: The URL for the next page of results.
        previous:
          type: string
          description: The URL for the previous page of results.
        results:
          description: A list of institutions matching your query.
          type: array
          items:
            $ref: '#/components/schemas/InstitutionView'

    IntellectualObject:
      type: object
      description: |
        An intellectual object as stored in the intellectual_objects table.
        This is the shape used for object create and update, and the shape
        returned by the object create, update and delete endpoints. It differs
        from IntellectualObjectView, which is what the index and show endpoints
        return: the view flattens in the owning institution's details and
        adds derived counts and sizes, while this model carries the related
        records instead.

        The `institution`, `generic_files` and `premis_events` properties are
        populated only when the caller submits them or when the query that
        loaded the object requested those relations. They are typically absent
        from create and update responses.
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
          description: The title should briefly describe the contents of the object.
        description:
          type: string
          description: A more detailed description of the object's contents.
        identifier:
          type: string
          description: A unique identifier for this object in the format <instution_identifier>/<bag_name>. This cannot be changed once the object has been created.
        alt_identifier:
          type: string
          description: An alternate identifier for this object, supplied by the depositor.
          nullable: true
        access:
          type: string
          description: Describes whether this object's metadata can be accessed by the APTrust consortia, by the institution, or only by admins at the institution (restricted). This is a vestigial field. Access settings have never been fully implemented, and all objects are treated as access-level "institution".
          enum: ["consortia", "institution", "restricted"]
        bag_name:
          type: string
          description: The name of the bag when it was uploaded to the depositor's receiving bucket, minus the .tar extention. For example, bag "Photos_1945.tar" will have bag name "Photos_1945".
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns this object. This must match the institution_id in the URL, and it cannot be changed once the object has been created.
        state:
          type: string
          description: Indicates whether the object is Active (A) or Deleted (D).
          enum: ["A", "D"]
        etag:
          type: string
          description: The etag of last ingested version of this object. The etag is assinged by S3 upon upload to the depositor's receiving bucket.
        bag_group_identifier:
          type: string
          description: An optional identifier naming the logical group to which this object belongs. For instance, if ten bags are all part of the same collection, the collection name may be used as the group identifier associating all ten bags.
          nullable: true
        storage_option:
          type: string
          description: |
            Indicates where the object's files are stored. Note that the
            Registry silently forces this value back to the existing object's
            storage option when the existing object is active, because the
            storage option of an active object cannot be changed. See
            https://aptrust.github.io/userguide/bagging/#allowed-storage-option-values
          enum: ["Glacier-Deep-OH", "Glacier-Deep-OR", "Glacier-Deep-VA", "Glacier-OH", "Glacier-OR", "Glacier-VA", "Standard", "Wasabi-OR", "Wasabi-TX", "Wasabi-VA"]
        bagit_profile_identifier:
          type: string
          description: The identifier of the BagIt profile used to create this bag. This can be either the APTrust profile URL or the BTR profile URL. Bags will be restored using the same profile under which they were submitted.
          enum: ["https://github.com/dpscollaborative/btr_bagit_profile/releases/download/1.0/btr-bagit-profile.json", "https://raw.githubusercontent.com/APTrust/preservation-services/master/profiles/aptrust-v2.2.json"]
        source_organization:
          type: string
          description: The name of the institution that submitted the object for ingest.
        internal_sender_identifier:
          type: string
          description: An optional identifier for internal use by the depositor.
          nullable: true
        internal_sender_description:
          type: string
          description: An optional description for use by the depositor.
          nullable: true
        institution:
          description: The institution that owns this object. Present only when the object was loaded with its institution relation.
          type: object
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Institution'
        generic_files:
          type: array
          description: The files belonging to this object. Present only when the object was loaded with its file relation.
          items:
            $ref: '#/components/schemas/GenericFile'
        premis_events:
          type: array
          description: Object-level premis events. Present only when the object was loaded with its event relation.
          items:
            $ref: '#/components/schemas/PremisEvent'
        created_at:
          type: string
          format: date-time
          description: The date and time this record was created.
        updated_at:
          type: string
          format: date-time
          description: The date and time this record was last updated.

    IntellectualObjectView:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
          description: The title should briefly describe the contents of the object.
        description:
          type: string
          description: A more detailed description of the object's contents.
        identifier:
          type: string
          description: A unique identifier for this object in the format <instution_identifier>/<bag_name>.
        alt_identifier:
          type: string
          description: An alternate identifier for this object, supplied by the depositor.
          nullable: true
        access:
          type: string
          description: Describes whether this object's metadata can be accessed by the APTrust consortia, by the institution, or only by admins at the institution (restricted). This is vestigial field. Access settings have never been fully implemented, and all objects are treated as access-level "institution".
          enum: ["consortia", "institution", "restricted"]
        bag_name:
          type: string
          description: The name of the bag when it was uploaded to the depositor's receiving bucket, minus the .tar extention. For example, bag "Photos_1945.tar" will have bag name "Photos_1945".
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns this object.
        created_at:
          type: string
          format: date-time
          description: The date and time this record was created.
        updated_at:
          type: string
          format: date-time
          description: The date and time this record was last updated.
        state:
          type: string
          description: Indicates whether the object is Active (A) or Deleted (D).
          enum: ["A", "D"]
        etag:
          type: string
          description: The etag of last ingested version of this object. The etag is assinged by S3 upon upload to the depositor's receiving bucket.
          nullable: false
        bag_group_identifier:
          type: string
          description: An optional identifier naming the logical group to which this object belongs. For instance, if ten bags are all part of the same collection, the collection name may be used as the group identifier associating all ten bags.
          nullable: true
        storage_option:
          type: string
          description: Indicates where the object's files are stored.
          enum: ["Glacier-Deep-OH", "Glacier-Deep-OR", "Glacier-Deep-VA", "Glacier-OH", "Glacier-OR", "Glacier-VA", "Standard", "Wasabi-OR", "Wasabi-TX", "Wasabi-VA"]
        bagit_profile_identifier:
          type: string
          description: The identifier of the BagIt profile used to create this bag. This can be either the APTrust profile URL or the BTR profile URL. Bags will be restored using the same profile under which they were submitted.
          enum: ["https://github.com/dpscollaborative/btr_bagit_profile/releases/download/1.0/btr-bagit-profile.json", "https://raw.githubusercontent.com/APTrust/preservation-services/master/profiles/aptrust-v2.2.json"]
        source_organization:
          type: string
          description: The name of the institution that submitted the object for ingest.
        internal_sender_identifier:
          type: string
          description: An optional identifier for internal use by the depositor.
          nullable: true
        internal_sender_description:
          type: string
          description: An optional description for use by the depositor.
          nullable: true
        institution_name:
          type: string
          description: Name of the institution that deposited this object.
        institution_identifier:
          type: string
          description: Identifier of the institution that deposited this object.
        institution_type:
          type: string
          description: Indicates whether the institution that owns this object is a member institution (account) or subscribing institution (sub-account).
          enum: ["MemberInstitution", "SubscriptionInstitution"]
        institution_parent_id:
          type: integer
          format: int64
          description: ID of this institution's parent. Applicable to subscriber institutions (sub-accounts) only.
          nullable: true
        file_count:
          type: integer
          format: int64
          description: The total number of files preserved for this object. This includes payload files and preserved manifests. APTrust does not preserve manifests or tag manifests.  This number can change over time as additional new files are ingested or existing ones are deleted.
          nullable: false
        size:
          type: integer
          format: int64
          description: The total number of bytes for all files preserved for this object.  This number can change over time as additional new files are ingested or existing ones are deleted.
        payload_file_count:
          type: integer
          format: int64
          description: The total number of files in this object's payload. I.e., inside the data directory of the bag that was uploaded for deposit. This number can change over time as additional new files are ingested or existing ones are deleted.
          nullable: false
        payload_size:
          type: integer
          format: int64
          description: Total size, in bytes, of the files in this object's payload directory (the data directory of the bag that was uploaded for ingest).  This number can change over time as additional new files are ingested or existing ones are deleted.
          nullable: false
    IntellectualObjectViewList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: The total number of results matching your query.
        next:
          type: string
          description: The URL for the next page of results.
        previous:
          type: string
          description: The URL for the previous page of results.
        results:
          description: A list of objects matching your query.
          type: array
          items:
            $ref: '#/components/schemas/IntellectualObjectView'

    ObjectBatchDeleteParams:
      type: object
      description: |
        Parameters for a batch object deletion request.

        Note that unlike every other request body in this API, these properties
        are camelCase, not snake_case.
      required:
        - institutionId
        - requestorId
        - objectIds
        - secretKey
      properties:
        institutionId:
          type: integer
          format: int64
          description: The ID of the institution that owns all of the objects to be deleted. Every object in objectIds must belong to this institution.
        requestorId:
          type: integer
          format: int64
          description: The ID of the institutional admin on whose behalf this request is being made. This user must be an admin at the institution named in institutionId.
        objectIds:
          type: array
          description: The IDs of the objects to be deleted.
          items:
            type: integer
            format: int64
        secretKey:
          type: string
          format: uuid
          description: The batch deletion key. This must match the BatchDeletionKey setting in the Registry's configuration. Requests with a missing or incorrect key are rejected.

    PremisEvent:
      type: object
      properties:
        id:
          type: integer
          format: int64
        agent:
          type: string
          description: The name of the software or service that performed the action this event is recording.
        date_time:
          type: string
          format: date-time
          description: The date and time at which the action was performed.
        detail:
          type: string
          description: A description of the event.
        event_type:
          type: string
          description: The type of event.
          enum:
            - access assignment
            - creation
            - deletion
            - fixity check
            - identifier assignment
            - ingestion
            - message digest calculation
            - replication
            - validation
        generic_file_id:
          type: integer
          format: int64
          description: The ID of the file with which this event is associated. This will be null for object-level events.
          nullable: true
        identifier:
          type: string
          format: uuid
          description: A unique identifier for this event. The caller generates this UUID; the Registry does not assign it.
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns the file or object to which this event pertains.
        intellectual_object_id:
          type: integer
          format: int64
          description: The ID of the IntellectualObject with which this event is associated.
        object:
          type: string
          description: More information about the agent that performed this action.
        old_uuid:
          type: string
          format: uuid
          description: Legacy UUID of events created before 2017. This will be empty for most events.
          nullable: true
        outcome:
          type: string
          description: Indicates the outcome of the action.
          enum: ["Failure", "Success"]
        outcome_detail:
          type: string
          description: Details of the action's outcome, such as what identifier was assigned, what digest was calculated, etc.
        outcome_information:
          type: string
          description: A summary of the action's outcome.
        created_at:
          type: string
          format: date-time
          description: The date and time this record was created.
        updated_at:
          type: string
          format: date-time
          description: Because Premis Events cannot be changed, this timestamp should always match created_at.
    PremisEventView:
      type: object
      properties:
        id:
          type: integer
          format: int64
        agent:
          type: string
          description: The name of the software or service that performed the action this event is recording.
        created_at:
          type: string
          format: date-time
          description: The date and time this record was created.
        date_time:
          type: string
          format: date-time
          description: The date and time at which the action was performed.
        detail:
          type: string
          description: A description of the event.
        event_type:
          type: string
          description: The type of event.
          enum:
            - access assignment
            - creation
            - deletion
            - fixity check
            - identifier assignment
            - ingestion
            - message digest calculation
            - replication
            - validation
        generic_file_id:
          type: integer
          format: int64
          description: The ID of the file with which this event is associated. This will be null for object-level events.
          nullable: true
        generic_file_identifier:
          type: string
          description: The file's semantic identifier in the format <instution_identifier>/<bag_name>/<path_in_bag>.
          nullable: true
        identifier:
          type: string
          format: uuid
          description: A unique identifier for this event. The caller generates this UUID; the Registry does not assign it.
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns the file or object to which this event pertains.
        institution_name:
          type: string
          description: The name of the institution that owns the file or object to which the event pertains.
        intellectual_object_id:
          type: integer
          format: int64
          description: The ID of the IntellectualObject with which this event is associated.
        intellectual_object_identifier:
          type: string
          description: A unique identifier for the object to which this event pertains in the format <instution_identifier>/<bag_name>.
        object:
          type: string
          description: More information about the agent that performed this action.
        old_uuid:
          type: string
          format: uuid
          description: Legacy UUID of events created before 2017. This will be empty for most events.
          nullable: true
        outcome:
          type: string
          description: Indicates the outcome of the action.
          enum: ["Failure", "Success"]
        outcome_detail:
          type: string
          description: Details of the action's outcome, such as what identifier was assigned, what digest was calculated, etc.
        outcome_information:
          type: string
          description: A summary of the action's outcome.
        updated_at:
          type: string
          format: date-time
          description: Because Premis Events cannot be changed, this timestamp should always match created_at.
    PremisEventViewList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: The total number of results matching your query.
        next:
          type: string
          description: The URL for the next page of results.
        previous:
          type: string
          description: The URL for the previous page of results.
        results:
          description: A list of events matching your query.
          type: array
          items:
            $ref: '#/components/schemas/PremisEventView'

    RequestError:
      type: object
      description: The body returned with all 4xx and 5xx responses.
      properties:
        StatusCode:
          type: integer
          format: int32
          description: The HTTP status code, repeated in the response body.
        Error:
          type: string
          description: A description of what went wrong.

    StatusMessage:
      type: object
      description: A simple acknowledgement returned by endpoints that perform an action rather than returning a record.
      properties:
        StatusCode:
          type: integer
          format: int32
          description: The HTTP status code, repeated in the response body.
        Message:
          type: string
          description: A description of what the Registry did.

    StorageRecord:
      type: object
      properties:
        id:
          type: integer
          format: int64
        generic_file_id:
          type: integer
          format: int64
          description: The ID of the GenericFile stored in preservation.
        url:
          type: string
          format: uri
          description: The URL of the GenericFile in preservation storage.


    StorageRecordList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: The total number of results matching your query.
        next:
          type: string
          description: The URL for the next page of results.
        previous:
          type: string
          description: The URL for the previous page of results.
        results:
          description: A list of storage records matching your query.
          type: array
          items:
            $ref: '#/components/schemas/StorageRecord'

    User:
      type: object
      description: |
        A full user record. This appears only as an embedded record in the
        batch deletion response, and includes account details such as sign-in
        history and two-factor status. Password hashes, API key hashes, OTP
        secrets and backup codes are never serialized.
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          description: The user's display name.
        email:
          type: string
          format: email
          description: The user's email address, which is also their login.
        phone_number:
          type: string
          description: The user's phone number, starting with a country code. Used for SMS two-factor authentication.
          nullable: true
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution this user belongs to.
        role:
          type: string
          description: The user's role.
          enum: ["admin", "institutional_admin", "institutional_user", "none"]
        institution:
          description: The institution this user belongs to. Present only when the user was loaded with its institution relation.
          type: object
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Institution'
        sign_in_count:
          type: integer
          format: int32
          description: The number of times this user has successfully signed in.
        current_sign_in_at:
          type: string
          format: date-time
          description: When the user signed in for their current session.
          nullable: true
        current_sign_in_ip:
          type: string
          description: The IP address the user signed in from for their current session.
          nullable: true
        last_sign_in_at:
          type: string
          format: date-time
          description: When the user signed in for their previous session.
          nullable: true
        last_sign_in_ip:
          type: string
          description: The IP address the user signed in from for their previous session.
          nullable: true
        last_sign_in_with_authy:
          type: string
          format: date-time
          description: When the user last completed a successful Authy sign-in.
          nullable: true
        authy_status:
          type: string
          description: How the user authenticates with Authy, if at all.
          nullable: true
        otp_required_for_login:
          type: boolean
          description: Whether policy requires this user to complete a second authentication factor.
        enabled_two_factor:
          type: boolean
          description: Whether the user has enabled two-factor authentication.
        confirmed_two_factor:
          type: boolean
          description: Whether the system has confirmed the user's phone number or Authy account.
        email_verified:
          type: boolean
          description: Whether the system has verified the user's email address.
        password_changed_at:
          type: string
          format: date-time
          description: When the user last changed their password.
          nullable: true
        reset_password_sent_at:
          type: string
          format: date-time
          description: When a password reset email was last sent to this user.
          nullable: true
        initial_password_updated:
          type: boolean
          description: Whether the user has replaced the random password generated when their account was created.
        force_password_update:
          type: boolean
          description: Whether the user will be forced to change their password on their next visit.
        grace_period:
          type: string
          format: date-time
          description: Legacy field from the old Rails application. Not used.
          nullable: true
        deactivated_at:
          type: string
          format: date-time
          description: When this user was deactivated. Null for active users.
          nullable: true
        created_at:
          type: string
          format: date-time
          description: The date and time this record was created.
        updated_at:
          type: string
          format: date-time
          description: The date and time this record was last updated.

    UserMin:
      type: object
      description: The minimum information needed to identify a user.
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          description: The user's display name.
        email:
          type: string
          format: email
          description: The user's email address.

    WorkItem:
      type: object
      description: |
        A work item as stored in the work_items table. This is the shape used
        for work item create and update, and the shape returned by the create,
        update and restoration endpoints. It differs from WorkItemView, which
        the index and show endpoints return: the view joins in the institution
        and object identifiers, while this model carries only the foreign keys.

        On update, the Registry rejects any change to `id`, `institution_id`,
        `intellectual_object_id`, `generic_file_id`, `name`, `etag`, or
        `action` with a 400 response.
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          minLength: 1
          maxLength: 1000
          description: The name of the original tar file uploaded to the receiving bucket for ingest. Cannot be changed after creation.
        etag:
          type: string
          minLength: 32
          maxLength: 40
          description: The etag of the tar file uploaded for ingest. Cannot be changed after creation.
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns the file or object that is the subject of this work item. This must match the institution_id in the URL, and cannot be changed after creation.
        intellectual_object_id:
          type: integer
          format: int64
          description: The ID of the IntellectualObject being worked on. Null for ingest work items where the ingest is not yet complete. Cannot be changed after creation.
          nullable: true
        generic_file_id:
          type: integer
          format: int64
          description: The ID of the GenericFile this work item pertains to. Null if the work item pertains to an object. Cannot be changed after creation.
          nullable: true
        bucket:
          type: string
          minLength: 1
          maxLength: 1000
          description: The name of the receiving bucket into which the original bag was uploaded for ingest.
        user:
          type: string
          format: email
          description: The email address of the user who initiated this work item.
        note:
          type: string
          description: A brief summary of the status of this item.
        action:
          type: string
          description: The action being performed. Cannot be changed after creation.
          enum: ["Delete", "Restore Object", "Restore File", "Glacier Restore", "Ingest"]
        stage:
          type: string
          description: The stage of processing.
          enum:
            - Available in S3
            - Cleanup
            - Copy To Staging
            - Fetch
            - Format Identification
            - Package
            - Receive
            - Record
            - Reingest Check
            - Requested
            - Resolve
            - Restoring
            - Storage Validation
            - Store
            - Unpack
            - Validate
        status:
          type: string
          description: The status of the current operation.
          enum:
            - Cancelled
            - Failed
            - Pending
            - Started
            - Success
            - Suspended
        outcome:
          type: string
          description: The outcome of this item's activity.
        bag_date:
          type: string
          format: date-time
          description: The date on which the originally submitted bag appeared in the receiving bucket.
        date_processed:
          type: string
          format: date-time
          description: The date and time of last known activity on this work item. This timestamp may change several times during multipart processes such as ingest.
        retry:
          type: boolean
          description: Indicates whether APTrust worker processes should continue trying to process this work item. Set to false only after certain fatal errors, or after too many transient errors.
        node:
          type: string
          description: The hostname of the microservice worker currently processing this item.
          nullable: true
        pid:
          type: integer
          format: int32
          description: The process ID of the worker currently working on this item.
        needs_admin_review:
          type: boolean
          description: Indicates whether an APTrust admin needs to review and possibly requeue this item. Set after an item encounters too many transient errors.
        queued_at:
          type: string
          format: date-time
          description: The date and time this item was queued for processing.
          nullable: true
        size:
          type: integer
          format: int64
          description: The size (in bytes) of the bag, object, or file being worked on.
        stage_started_at:
          type: string
          format: date-time
          description: Indicates when the current stage of processing started for this item.
          nullable: true
        aptrust_approver:
          type: string
          format: email
          description: The email address of the APTrust admin who approved this item. Used only for bulk deletions.
          nullable: true
        inst_approver:
          type: string
          format: email
          description: The email address of the institutional admin who approved a deletion request.
          nullable: true
        deletion_request_id:
          type: integer
          format: int64
          description: The ID of the file or object deletion request related to this item. Null for all actions other than Delete.
          nullable: true
        created_at:
          type: string
          format: date-time
          description: The date and time this record was created.
        updated_at:
          type: string
          format: date-time
          description: The date and time this record was last updated.

    WorkItemView:
      type: object
      properties:
        id:
          type: integer
          format: int64
        action:
          type: string
          description: The action being performed.
          enum: ["Delete", "Restore Object", "Restore File", "Glacier Restore", "Ingest"]
        alt_identifier:
          type: string
          description: An alternate identifier for this object, supplied by the depositor.
          nullable: true
        aptrust_approver:
          type: string
          format: email
          description: The email address of the APTrust admin who approved this item. In the past, this was used to only to approve bulk deletions.
          nullable: true
        bagit_profile_identifier:
          type: string
          description: The identifier of the BagIt profile used to create this bag. This can be either the APTrust profile URL or the BTR profile URL. Bags will be restored using the same profile under which they were submitted.
          enum: ["https://github.com/dpscollaborative/btr_bagit_profile/releases/download/1.0/btr-bagit-profile.json", "https://raw.githubusercontent.com/APTrust/preservation-services/master/profiles/aptrust-v2.2.json"]
        bag_date:
          type: string
          format: date-time
          description: The date on which the originally submitted bag appeared in the receiving bucket.
        bag_group_identifier:
          type: string
          description: An optional identifier naming the logical group to which this object belongs. For instance, if ten bags are all part of the same collection, the collection name may be used as the group identifier associating all ten bags.
          nullable: true
        bucket:
          type: string
          description: The name of the receiving bucket into which the original bag was uploaded for ingest.
          nullable: false
        created_at:
          type: string
          format: date-time
          description: The date and time this record was created.
        date_processed:
          type: string
          format: date-time
          description: The date and time of last known activity on this work item. This timestamp may change several times during multipart processes such as ingest.
        deletion_request_id:
          type: integer
          format: int64
          description: The ID of the file or object deletion request related to this item. This will be null for all actions other than Delete.
          nullable: false
        etag:
          type: string
          description: The etag of tar file uploaded for ingest.
          nullable: false
        generic_file_id:
          type: integer
          format: int64
          description: The ID of the GenericFile this work item pertains to. This will be null if the WorkItem pertains to an object.
          nullable: true
        generic_file_identifier:
          type: string
          description: The file's semantic identifier in the format <instution_identifier>/<bag_name>/<path_in_bag>.
          nullable: true
        institution_id:
          type: integer
          format: int64
          description: The ID of the institution that owns the file or object that is the subject of this work item.
        institution_name:
          type: string
          description: The name of the institution that owns the files or objects to which this work item pertains.
        institution_identifier:
          type: string
          description: The identifier (domain name) of the institution that owns the files or objects to which this work item pertains.
        inst_approver:
          type: string
          format: email
          description: The email address of the institutional admin who approved a deletion request.
          nullable: true
        intellectual_object_id:
          type: integer
          format: int64
          description: The ID of the IntellectualObject being worked on. This will be null for ingest work items where the ingest is not yet complete.
          nullable: true
        internal_sender_identifier:
          type: string
          description: An optional identifier for internal use by the depositor.
          nullable: true
        name:
          type: string
          description: The name of the original tar file uploaded to the receiving bucket for ingest.
          nullable: false
        needs_admin_review:
          type: boolean
          description: Indicates whether an APTrust admin needs to review and possibly requeue this item. This flag is set after an item encounters too many transient errors.
        node:
          type: string
          description: The hostname of the microservice worker currently processing this item.
          nullable: true
        note:
          type: string
          description: A brief summary of the status of this item.
          nullable: false
        object_identifier:
          type: string
          description: A unique identifier for this object in the format <instution_identifier>/<bag_name>.
          nullable: true
        outcome:
          type: string
          description: The outcome of this item's activity.
          enum: ["Failure", "Success"]
        pid:
          type: integer
          format: int64
          description: The process ID of the worker that is currently working on this item.
        queued_at:
          type: string
          format: date-time
          description: The date and time this item was queued for processing.
          nullable: true
        retry:
          type: boolean
          description: Indicates whether APTrust worker process should continue trying to process this work item. This is set to false only after certain fatal errors, or after too many transient errors.
        size:
          type: integer
          format: int64
          description: The size (in bytes) of the bag, object, or file being worked on.
          nullable: false
        source_organization:
          type: string
          description: The name of the institution that submitted the object for ingest.
        stage:
          type: string
          description: The stage of processing.
          enum:
            - Available in S3
            - Cleanup
            - Copy To Staging
            - Fetch
            - Format Identification
            - Package
            - Receive
            - Record
            - Reingest Check
            - Requested
            - Resolve
            - Restoring
            - Storage Validation
            - Store
            - Unpack
            - Validate
        stage_started_at:
          type: string
          format: date-time
          description: Indicates when the current stage of processing started for this item.
          nullable: true
        status:
          type: string
          description: The status of the current operation.
          enum:
            - Cancelled
            - Failed
            - Pending
            - Started
            - Success
            - Suspended
        storage_option:
          type: string
          description: Indicates where the object's files are stored.
          enum: ["Glacier-Deep-OH", "Glacier-Deep-OR", "Glacier-Deep-VA", "Glacier-OH", "Glacier-OR", "Glacier-VA", "Standard", "Wasabi-OR", "Wasabi-TX", "Wasabi-VA"]
        updated_at:
          type: string
          format: date-time
          description: The date and time this record was last updated.
        user:
          type: string
          format: email
          description: The email address of the user who initiated this work item.
          nullable: false
    WorkItemViewList:
      type: object
      properties:
        count:
          type: integer
          format: int64
          description: The total number of results matching your query.
        next:
          type: string
          description: The URL for the next page of results.
        previous:
          type: string
          description: The URL for the previous page of results.
        results:
          description: A list of items matching your query.
          type: array
          items:
            $ref: '#/components/schemas/WorkItemView'

    # Request schemas. These carry the same properties as the models above,
    # and add the validation rules the Registry enforces on write. See each
    # model's Validate() method in pgmodels for the authoritative rules.

    ChecksumRequest:
      description: |
        A checksum submitted for creation.

        `id`, `created_at` and `updated_at` are assigned by the server and are
        ignored on input. Checksums cannot be updated or deleted once created.
      allOf:
        - $ref: '#/components/schemas/Checksum'
      required:
        - algorithm
        - datetime
        - digest
        - generic_file_id

    GenericFileRequest:
      description: |
        A file submitted for creation or update.

        `id`, `created_at` and `updated_at` are assigned by the server. On
        update, `id` must match the id in the URL.

        `institution_id` must match the `institution_id` in the URL on create,
        and cannot change on update. `identifier` cannot change on update.
        `storage_option` cannot change while the file is active; the Registry
        silently restores the stored value rather than rejecting the request.

        `size` is optional and defaults to 0, but may not be negative.
      allOf:
        - $ref: '#/components/schemas/GenericFile'
      required:
        - file_format
        - identifier
        - institution_id
        - intellectual_object_id
        - state
        - storage_option
        - uuid

    IntellectualObjectRequest:
      description: |
        An object submitted for creation or update.

        `id`, `created_at` and `updated_at` are assigned by the server. On
        update, `id` must match the id in the URL.

        `institution_id` must match the `institution_id` in the URL on create,
        and cannot change on update. `identifier` cannot change on update.
        `storage_option` cannot change while the object is active; the Registry
        silently restores the stored value rather than rejecting the request.
      allOf:
        - $ref: '#/components/schemas/IntellectualObject'
      required:
        - access
        - bagit_profile_identifier
        - identifier
        - institution_id
        - state
        - storage_option
        - title

    PremisEventRequest:
      description: |
        An event submitted for creation.

        **This route does not validate its input.** Unlike every other write
        endpoint in this API, `POST /admin-api/v3/events/create` saves the
        event without calling the model's validation, and the premis_events
        table has no NOT NULL constraints and no foreign keys on
        `institution_id`, `intellectual_object_id` or `generic_file_id`. An
        incomplete or internally inconsistent event will be accepted and
        stored. No properties are therefore marked required here, because the
        server does not require them.

        Callers should nonetheless send a complete event. The same event
        submitted inside `POST /admin-api/v3/files/create_batch/{institution_id}`
        *is* validated, and is rejected unless all of the following hold:

        * `agent`, `detail`, `object`, `outcome_detail` and
          `outcome_information` are non-empty
        * `date_time` is set
        * `event_type` is one of the values in the enum below
        * `outcome` is either Success or Failure
        * `identifier` is a UUID, which the caller generates
        * `institution_id` and `intellectual_object_id` are greater than zero
        * `generic_file_id` is optional, since not every event pertains to a
          file

        `id`, `created_at` and `updated_at` are assigned by the server. Events
        cannot be updated or deleted once created.
      allOf:
        - $ref: '#/components/schemas/PremisEvent'

    StorageRecordRequest:
      description: |
        A storage record submitted for creation.

        `id` is assigned by the server. There is no endpoint for updating or
        deleting a storage record.
      allOf:
        - $ref: '#/components/schemas/StorageRecord'
      required:
        - generic_file_id
        - url

    WorkItemRequest:
      description: |
        A work item submitted for creation or update.

        `id`, `created_at` and `updated_at` are assigned by the server. On
        update, `id` must match the id in the URL, and `institution_id`,
        `intellectual_object_id`, `generic_file_id`, `name`, `etag` and
        `action` cannot change.

        Note that `note` and `outcome` are not currently validated, despite
        appearances: the validator checks the length of `name` in the places
        it means to check those two fields.
      allOf:
        - $ref: '#/components/schemas/WorkItem'
      required:
        - action
        - bag_date
        - bucket
        - date_processed
        - etag
        - institution_id
        - name
        - stage
        - status
        - user

  parameters:
    page:
      name: page
      in: query
      description: The page of results to fetch.
      required: false
      schema:
        type: integer
        default: 1
        format: int32
    perPage:
      name: per_page
      in: query
      description: The number of results to fetch per page.
      required: false
      schema:
        type: integer
        default: 20
        format: int32
    resourceId:
      name: id
      in: path
      required: true
      description: The id of the resource.
      schema:
        type: integer
        format: int64
        minimum: 1
    institutionId:
      name: institution_id
      in: path
      required: true
      description: The id of the institution that owns the resource. This must match the institution_id in the request body.
      schema:
        type: integer
        format: int64
        minimum: 1

  responses:
    BadRequest:
      description: |
        Bad request. Common causes are an unrecognized query string parameter,
        malformed JSON, a resource or institution id in the body that does not
        match the one in the URL, or an attempt to change a field that cannot
        be changed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
    Unauthorized:
      description: Request is not authorized. Be sure you passed valid API credentials with your request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
    Forbidden:
      description: The current user is not an APTrust system administrator. The entire Admin API is closed to everyone else.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
    NotFound:
      description: There is no resource with this id.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
    Conflict:
      description: The operation conflicts with the current state of the resource. Most often, this means there are pending work items for the object or file.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
    InternalError:
      description: The Registry encountered an unexpected error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'

paths:
  /admin-api/v3/alerts:
    get:
      operationId: AlertIndex
      summary: Returns a list of alerts.
      description: |
        Returns all alerts sent to any user at any institution. This endpoint
        is shared with the Member API and returns identical results, except
        that the Member API restricts results to the calling user's own alerts.

        The Admin API does not really need this endpoint, and it may be removed
        in a future release.
      tags:
        - Alerts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: sort
          in: query
          description: Sort the results by the specified column and direction, in the format column__direction, where direction is "asc" or "desc". Sortable columns include created_at, institution_id, type, and user_id. Defaults to created_at__desc.
          required: false
          schema:
            type: string
            example: created_at__desc
        - name: created_at__gteq
          in: query
          description: Return alerts created on or after the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: created_at__lteq
          in: query
          description: Return alerts created on or before the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: institution_id
          in: query
          description: Return alerts pertaining to the specified institution.
          required: false
          schema:
            type: integer
            format: int64
        - name: type
          in: query
          description: Return alerts of the specified type.
          required: false
          schema:
            type: string
            enum: ["Deletion Cancelled", "Deletion Completed", "Deletion Confirmed", "Deletion Requested", "Failed Fixity Check", "Password Changed", "Password Reset", "Restoration Completed", "Stalled Work Items", "Welcome New User"]
        - name: user_id
          in: query
          description: Return alerts sent to the specified user.
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: A list of alerts matching your query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertViewList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin-api/v3/alerts/show/{id}/{user_id}:
    get:
      operationId: AlertShow
      summary: Returns the alert with the specified id, as sent to the specified user.
      description: |
        The alerts table contains one row per alert, but each alert may be sent
        to several recipients. The combination of alert id and recipient user id
        is unique, so both are required here.
      tags:
        - Alerts
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the alert to show.
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: user_id
          in: path
          required: true
          description: The id of the user who received the alert.
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: The requested alert.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin-api/v3/alerts/generate_failed_fixity_alerts:
    post:
      operationId: GenerateFailedFixityAlerts
      summary: Generates alerts describing recent failed fixity checks.
      description: |
        Queries for fixity check failures that occurred since this process last
        ran, then emails a summary to the institutional admins at each affected
        institution and a single consolidated summary to APTrust admins. It
        records the current timestamp as the new last-run date.

        This is a POST because it creates alert records in the database. It is
        intended to be called once per day by a scheduled job.

        If alert generation fails for one institution, the failure is recorded
        in that institution's summary and processing continues for the others,
        so a 200 or 201 response may still contain per-institution errors.
      tags:
        - Alerts
      responses:
        '200':
          description: No fixity failures were found, so no alerts were created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedFixitySummaryList'
        '201':
          description: Alerts were created for one or more institutions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedFixitySummaryList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Failed fixity alerts have already been generated today. The Registry will not generate them again until tomorrow.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
        '500':
          $ref: '#/components/responses/InternalError'

  /admin-api/v3/checksums:
    get:
      operationId: ChecksumIndex
      summary: Returns a list of checksums.
      description: This endpoint is shared with the Member API and returns identical results, except that the Member API restricts results to the calling user's own institution.
      tags:
        - Checksums
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: sort
          in: query
          description: Sort the results by the specified column and direction, in the format column__direction, where direction is "asc" or "desc". Sortable columns include algorithm, datetime, digest, generic_file_id, and id. Defaults to datetime__desc.
          required: false
          schema:
            type: string
            example: datetime__desc
        - name: algorithm
          in: query
          description: Return checksums calculated with the specified algorithm.
          required: false
          schema:
            type: string
            enum: ["md5", "sha1", "sha256", "sha512"]
        - name: datetime__gteq
          in: query
          description: Return checksums calculated on or after the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: datetime__lteq
          in: query
          description: Return checksums calculated on or before the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: digest
          in: query
          description: Return checksums with the specified digest value.
          required: false
          schema:
            type: string
        - name: generic_file_id
          in: query
          description: Return checksums belonging to the specified file.
          required: false
          schema:
            type: integer
            format: int64
        - name: generic_file_identifier
          in: query
          description: Return checksums belonging to the file with the specified identifier.
          required: false
          schema:
            type: string
            example: test.edu/SampleBag/data/document.pdf
        - name: institution_id
          in: query
          description: Return checksums belonging to files owned by the specified institution.
          required: false
          schema:
            type: integer
            format: int64
        - name: intellectual_object_id
          in: query
          description: Return checksums belonging to files of the specified object.
          required: false
          schema:
            type: integer
            format: int64
        - name: state
          in: query
          description: Return checksums whose files are in the specified state. A = Active, D = Deleted.
          required: false
          schema:
            type: string
            enum: ["A", "D"]
      responses:
        '200':
          description: A list of checksums matching your query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksumViewList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin-api/v3/checksums/show/{id}:
    get:
      operationId: ChecksumShow
      summary: Returns the checksum with the specified id.
      tags:
        - Checksums
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the checksum to show.
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: The checksum with the requested id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksumView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin-api/v3/checksums/create/{institution_id}:
    post:
      operationId: ChecksumCreate
      summary: Creates a new checksum.
      description: |
        Creates a checksum for an existing file. This is used only when
        ingesting a new version of a previously ingested file. On first ingest,
        checksums are saved as part of the batch transaction in
        `POST /admin-api/v3/files/create_batch/{institution_id}`.

        Checksums cannot be updated or deleted. The Registry keeps every
        checksum ever calculated for a file so that fixity history is complete.
        Submitting a checksum with a non-zero `id` returns 405, because that
        would be an update.
      tags:
        - Checksums
      parameters:
        - $ref: '#/components/parameters/institutionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksumRequest'
      responses:
        '201':
          description: The newly created checksum.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checksum'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: There is no generic file with the specified generic_file_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
        '405':
          description: The submitted checksum has a non-zero id. Checksums cannot be updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'

  /admin-api/v3/deletions:
    get:
      operationId: DeletionRequestIndex
      summary: Returns a list of deletion requests.
      description: This endpoint is shared with the Member API and returns identical results, except that the Member API restricts results to the calling user's own institution.
      tags:
        - Deletion Requests
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: sort
          in: query
          description: Sort the results by the specified column and direction, in the format column__direction, where direction is "asc" or "desc". Sortable columns include requested_at, confirmed_at, cancelled_at, institution_id, and id. Defaults to requested_at__desc.
          required: false
          schema:
            type: string
            example: requested_at__desc
        - name: institution_id
          in: query
          description: Return deletion requests belonging to the specified institution.
          required: false
          schema:
            type: integer
            format: int64
        - name: requested_at__gteq
          in: query
          description: Return deletion requests made on or after the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: requested_at__lteq
          in: query
          description: Return deletion requests made on or before the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: stage
          in: query
          deprecated: true
          description: |
            **Do not use.** The Registry's filter validator accepts this
            parameter, but the underlying database view has no stage column, so
            the query fails and the request returns a 500.
          required: false
          schema:
            type: string
        - name: status
          in: query
          deprecated: true
          description: |
            **Do not use.** The Registry's filter validator accepts this
            parameter, but the underlying database view has no status column,
            so the query fails and the request returns a 500.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A list of deletion requests matching your query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionRequestViewList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /admin-api/v3/deletions/show/{id}:
    get:
      operationId: DeletionRequestShow
      summary: Returns the deletion request with the specified id.
      description: |
        Note that this returns a different shape from the Member API's endpoint
        of the same name. The Member API returns a DeletionRequestView, which is
        a flattened summary. This returns the deletion request itself, including
        the full list of files or objects to be deleted and abbreviated records
        for the users who requested, approved or cancelled it.

        This is a read-only view. Deletion requests are initiated, approved and
        cancelled through the Registry's web interface, or, for batches, through
        `POST /admin-api/v3/objects/init_batch_delete`.
      tags:
        - Deletion Requests
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the deletion request to show.
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: The deletion request with the requested id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionRequestMin'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin-api/v3/files:
    get:
      operationId: GenericFileIndex
      summary: Returns a list of files.
      description: |
        **This differs from the Member API endpoint of the same name.** The
        Member API returns flattened GenericFileView records. This returns full
        GenericFile records with their checksums, premis events and storage
        records embedded, because the preservation services workers depend on
        those related records.

        Because each result carries its related records, responses from this
        endpoint can be very large. Use a small per_page value.
      tags:
        - Generic Files
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: sort
          in: query
          description: Sort the results by the specified column and direction, in the format column__direction, where direction is "asc" or "desc". Sortable columns include created_at, identifier, intellectual_object_id, last_fixity_check, size, state, storage_option, updated_at, and uuid. Defaults to updated_at__desc.
          required: false
          schema:
            type: string
            example: updated_at__desc
        - name: identifier
          in: query
          description: Return the file with this identifier.
          required: false
          schema:
            type: string
            example: test.edu/SampleBag/data/document.pdf
        - name: uuid
          in: query
          description: Return the file with this UUID. The UUID is the file's key name in preservation storage.
          required: false
          schema:
            type: string
            format: uuid
        - name: intellectual_object_id
          in: query
          description: Return files belonging to the specified intellectual object.
          required: false
          schema:
            type: integer
            format: int64
        - name: institution_id
          in: query
          description: Return files belonging to the specified institution.
          required: false
          schema:
            type: integer
            format: int64
        - name: state
          in: query
          description: Return files in the specified state. A = Active, D = Deleted.
          required: false
          schema:
            type: string
            enum: ["A", "D"]
        - name: storage_option
          in: query
          description: Return files with the specified storage option.
          required: false
          schema:
            type: string
            enum: ["Glacier-Deep-OH", "Glacier-Deep-OR", "Glacier-Deep-VA", "Glacier-OH", "Glacier-OR", "Glacier-VA", "Standard", "Wasabi-OR", "Wasabi-TX", "Wasabi-VA"]
        - name: storage_option__in
          in: query
          description: Return files with any of the specified storage options. Repeat this parameter once per value.
          required: false
          schema:
            type: array
            items:
              type: string
              enum: ["Glacier-Deep-OH", "Glacier-Deep-OR", "Glacier-Deep-VA", "Glacier-OH", "Glacier-OR", "Glacier-VA", "Standard", "Wasabi-OR", "Wasabi-TX", "Wasabi-VA"]
        - name: size__gteq
          in: query
          description: Return files whose size in bytes is greater than or equal to this value.
          required: false
          schema:
            type: integer
            format: int64
        - name: size__lteq
          in: query
          description: Return files whose size in bytes is less than or equal to this value.
          required: false
          schema:
            type: integer
            format: int64
        - name: created_at__gteq
          in: query
          description: Return files created on or after the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: created_at__lteq
          in: query
          description: Return files created on or before the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_at__gteq
          in: query
          description: Return files updated on or after the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_at__lteq
          in: query
          description: Return files updated on or before the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: last_fixity_check__gteq
          in: query
          description: Return files whose last fixity check was on or after the given timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: last_fixity_check__lteq
          in: query
          description: Return files whose last fixity check was on or before the given timestamp. This is how the fixity check workers find files due for checking.
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A list of files matching your query, each with its checksums, premis events and storage records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericFileList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin-api/v3/files/show/{id}:
    get:
      operationId: GenericFileShow
      summary: Returns the file with the specified id or identifier.
      description: |
        This endpoint is shared with the Member API and returns identical
        results. The returned file includes its checksums, premis events and
        storage records, with events and checksums ordered newest first.
      tags:
        - Generic Files
      parameters:
        - name: id
          in: path
          required: true
          description: |
            The numeric id of the file, or its semantic identifier in the form
[...]
