
.page-wrapper {
  display: flex;
  min-height: 100vh;
}

.side-nav {
  background: $white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 200px;

  nav {
    flex: 1;
  }

  ul {
    display: flex;
    flex-direction: column;

    a {
      @extend .text-label;
      align-items: center;
      display: flex;
      padding: 16px 24px;
  
      &:hover,
      &.active {
        background-color: $grey-highlight;
      }
    }

    .material-icons {
      color: $gold;
      margin-right: 10px;
    }
  }

  li:last-child {
    margin-top: auto;
  }
}

.content-wrapper {
  flex: 1;
  max-width: 1240px;
}

.site-logo {
  padding: 50px 12px;
}