.page-wrapper {
  display: flex;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
  max-width: 1240px;
  padding: 36px 36px 36px 28px;
}

.top-nav {
  display: flex;
}

.global-search {
  flex: 1;
  margin-bottom: 24px;

  .input,
  .button {
    height: 52px;
  }

  .input {
    border-color: $gold;
    border-radius: $radius-large;

    @include placeholder {
      font-style: italic;
    }
  }

  .button {
    @extend .text-label;
    background-color: $gold;
    border-bottom-right-radius: $radius-large !important;
    border-top-right-radius: $radius-large !important;
    color: $white;
    padding: 0 48px;
  }

  + .help {
    margin-top: 0;
  }
}

.global-search-input-control {
  max-width: 590px;
}

.user-icons {
  flex-grow: 0;
  margin-left: 36px;
  padding-top: 10px;

  .alert-icon {
    position: relative;
    &.has-notifications {
      &::after {
        background-color: $red;
        border: 1px solid $white;
        border-radius: 50%;
        content: "";
        height: 8px;
        position: absolute;
        right: 8px;
        top: -8px;
        width: 8px;
      }
    }
  }

  .account-icon {
    color: $gold;
    margin-left: 20px;
  }
}

.global-footer {
  margin-top: 24px;
  text-align: center;
}