.table {
  &.has-padding {
    td {
      padding-bottom: 1rem;
      padding-top: 1rem;
      vertical-align: middle;
    }
  }

  &.is-hoverable tbody tr:not(.is-selected):hover {
    cursor: pointer;
  }

  &.is-borderless {
    td,
    th {
      border: 0;
    }
  }

  thead {
    th {
      @extend .text-label;
      @extend .text-xs;
      color: $grey-dark;
    }
  }

  tbody {
    td {
      @extend .text-table;

      &.text-sm {
        @extend .text-sm;
      }
    }
  }

  .total {
    border-top: 1px solid $grey-4;

    td {
      &.text-sm {
        font-size: 18px;
      }

      &:first-child {
        @extend .text-label;
        @extend .text-xs;
        vertical-align: middle;
      }
    }
  }
  
}