{{ define "deletions/_filters.html" }}

<form id="deletionFilterForm" method="get">

  <div class="row">
    <div class="column col-50">
      {{ template "forms/select.html" .filterForm.Fields.stage }}
    </div>
    <div class="column col-50">
      {{ template "forms/select.html" .filterForm.Fields.status }}
    </div>
  </div>

  <div class="row">
    <div class="column col-50">
      {{ template "forms/date.html" .filterForm.Fields.requested_at__gteq }}
    </div>
    <div class="column col-50">
      {{ template "forms/date.html" .filterForm.Fields.requested_at__lteq }}
    </div>
  </div>


  <div class="row">
    <div class="column col-50">
      {{ if .CurrentUser.IsAdmin }}
      {{ template "forms/select.html" .filterForm.Fields.institution_id }}
      {{ end }}
    </div>
    <div class="column col-50">
      <input type="submit" value="Filter">
    </div>
  </div>

</form>

{{ end }}
