{{ define "deletions/approved_object.html" }}

{{ template "shared/_header.html" .}}

<div class="box">
  <div class="box-header"><h1>Deletion Approved</h1></div>
  <div class="box-content">
    <p>You have approved deletion of the following objects:</p>

    <ol class="mb-3 mt-3 ml-5" style="list-style: decimal">
    {{ range $index, $obj := .deletionRequest.IntellectualObjects }}
        <li class="mb-1"><a target="_blank" href="/objects/show/{{ $obj.ID }}">{{ $obj.Identifier }}</a></li>
    {{ end }}
    </ol>


    <p>
      Requested: {{ .deletionRequest.RequestedBy.Name }} on {{ dateUS .deletionRequest.RequestedAt }} <br/>
      Approved: {{ .deletionRequest.ConfirmedBy.Name }}  on {{ dateUS .deletionRequest.ConfirmedAt }} <br/>
    </p>

    <p>All files belonging to this object will be deleted from preservation storage shortly. We'll retain a tombstone record of the object and its files along with PREMIS events recording when each item was deleted and at whose request.</p>

    <p><a href="/work_items/show/{{ .deletionRequest.WorkItemID }}">Work Item #{{ .deletionRequest.WorkItemID }}</a> shows the status of this deletion.</p>

    <a class="button mr-3" href="/deletions">Back to Deletions List</a>
  </div>
</div>

{{ template "shared/_footer.html" .}}

{{ end }}
