{{ define "deletions/index.html" }}

{{ template "shared/_header.html" .}}

<div class="box">
  <div class="box-header">
    <h1 class="h2">Deletions</h1>
  </div>

  <div class="box-content">
    {{ template "deletions/_filters.html" . }}
  </div>



<!-- .items type is []DeletionRequestView -->

<table class="table is-hoverable is-fullwidth has-padding">
  <thead>
    <tr>
      <th class="pl-5"><a href="{{ sortUrl .currentUrl `requested_by_name` }}">Requested By</a></th>
      <th><a href="{{ sortUrl .currentUrl `requested_at` }}">Request Date</a></th>
      <th><a href="{{ sortUrl .currentUrl `confirmed_at` }}">Confirmed At</a></th>
      <th><a href="{{ sortUrl .currentUrl `file_count` }}">Files</a></th>
      <th><a href="{{ sortUrl .currentUrl `object_count` }}">Objects</a></th>
      <th><a href="{{ sortUrl .currentUrl `status` }}">Status</a></th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $deletion := .items }}
    <tr class="clickable" data-modal="modal-one" data-xhr-url="/deletions/show/{{ $deletion.ID }}?modal=true">
      <td class="pl-5">
        <div class="is-flex is-align-items-center">
          <span class="action-icon mr-3">
            <span class="material-icons md-16" aria-hidden="true"><span>delete_forever</span></span><!-- TODO wire up icon -->
          </span>
          <span class="is-grey-dark">{{ $deletion.RequestedByName }}</span>
        </div>
      </td>
      <td class="is-grey-dark text-sm is-uppercase">{{ dateUS $deletion.RequestedAt }}</td>
      <td class="is-grey-dark text-sm is-uppercase">{{ dateUS $deletion.ConfirmedAt }}</td>
      <td class="is-grey-dark num text-sm">{{ $deletion.FileCount }}</td>
      <td class="is-grey-dark num text-sm">{{ $deletion.ObjectCount }}</td>
      <td><span class="badge">{{ $deletion.DisplayStatus }}</span></td><!-- TODO Make status change classes -->
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "shared/_pager.html" dict "pager" .pager }}
</div>

{{ template "shared/_footer.html" .}}

{{ end }}
