{{ define "deletions/index.html" }}

{{ template "shared/_header.html" .}}

<h1>Deletions</h1>

<table>
  <thead>
    <tr>
      <th>Requested By</th>
      <th>Request Date</th>
      <th>Files</th>
      <th>Objects</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $deletion := .deletions }}
    <tr class="clickable" onclick="window.location.href='/deletions/show/{{ $deletion.ID }}'">
      <td>{{ $deletion.RequestedByName }}</td>
      <td>{{ dateUS $deletion.RequestedAt }}</td>
      <td>{{ $deletion.FileCount }}</td>
      <td>{{ $deletion.ObjectCount }}</td>
      <td>{{ $deletion.DisplayStatus }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "shared/_footer.html" .}}


{{ end }}
