{{ define "deletions/show.html" }}

{{ template "shared/_header.html" .}}

<h1>Deletion Request</h1>

<p>
  Requested By: {{ .deletionRequest.RequestedBy.Name }} <br/>
  Requested At: {{ dateUS .deletionRequest.RequestedAt }} <br/>

  {{ if .deletionRequest.ConfirmedBy }}
  Confirmed By: {{ .deletionRequest.ConfirmedBy.Name }} <br/>
  Confirmed On: {{ dateUS .deletionRequest.ConfirmedAt }} <br/>
  {{ end }}

  {{ if .deletionRequest.CancelledBy }}
  Cancelled By: {{ .deletionRequest.CancelledBy.Name }} <br/>
  Cancelled On: {{ dateUS .deletionRequest.CancelledAt }} <br/>
  {{ end }}

  {{ if .workItemURL }}
  Work Item: <a href="{{ .workItemURL }}">Work Item #{{ .deletionRequest.WorkItemID }}</a>
  {{ end }}

  {{ if .deletionRequest.IntellectualObjects }}
  <h2>Objects</h2>
  <ol>
  {{ range $index, $obj := .deletionRequest.IntellectualObjects }}
    <li><a href="/objects/show/{{ $obj.ID }}" target="_blank">{{ $obj.Identifier }}</a></li>
  {{ end }}
  </ol>
  {{ end }}

  {{ if .deletionRequest.GenericFiles }}
  <h2>Files</h2>
  <ol>
  {{ range $index, $gf := .deletionRequest.GenericFiles }}
    <li><a href="/files/show/{{ $gf.ID }}" target="_blank">{{ $gf.Identifier }}</a></li>
  {{ end }}
  </ol>
  {{ end }}


</p>

{{ end }}
