{{ define "deletions/show.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_header.html" .}}
{{ end }}


<!-- TODO: Make this an actual modal instead of a page -->
<div class="modal-detail">
  <div class="modal-title-row">
    <h2>Deletion Request</h2>
  </div>

  <dl class="modal-list modal-list-row">
    <dt class="text-label text-xs is-grey-dark">Requested By</dt>
    <dd class="text-table">{{ .deletionRequest.RequestedBy.Name }}</dd>
    <dt class="text-label text-xs is-grey-dark">Requested At</dt>
    <dd class="text-table">{{ dateUS .deletionRequest.RequestedAt }}</dd>
    {{ if .deletionRequest.ConfirmedBy }}
    <dt class="text-label text-xs is-grey-dark">Confirmed By</dt>
    <dd class="text-table">{{ .deletionRequest.ConfirmedBy.Name }}</dd>
    <dt class="text-label text-xs is-grey-dark">Confirmed On</dt>
    <dd class="text-table">{{ dateUS .deletionRequest.ConfirmedAt }}</dd>
    {{ end }}
    {{ if .deletionRequest.CancelledBy }}
    <dt class="text-label text-xs is-grey-dark">Cancelled By</dt>
    <dd class="text-table">{{ .deletionRequest.CancelledBy.Name }}</dd>
    <dt class="text-label text-xs is-grey-dark">Cancelled On</dt>
    <dd class="text-table">{{ dateUS .deletionRequest.CancelledAt }}</dd>
    {{ end }}
    {{ if .workItemURL }}
    <dt class="text-label text-xs is-grey-dark">Work Item</dt>
    <dd class="text-table"><a href="{{ .workItemURL }}">Work Item #{{ .deletionRequest.WorkItemID }}</a></dd>
    {{ end }}
    {{ if .deletionRequest.IntellectualObjects }}
    <dt class="text-label text-xs is-grey-dark">Objects</dt>
    {{ range $index, $obj := .deletionRequest.IntellectualObjects }}
      <dd class="text-table"><a href="/objects/show/{{ $obj.ID }}" target="_blank">{{ $obj.Identifier }}</a></dd>
    {{ end }}
    {{ end }}
    {{ if .deletionRequest.GenericFiles }}
    <dt class="text-label text-xs is-grey-dark">Files</dt>
    {{ range $index, $gf := .deletionRequest.GenericFiles }}
      <dd class="text-table"><a href="/files/show/{{ $gf.ID }}" target="_blank">{{ $gf.Identifier }}</a></dd>
    {{ end }}
    {{ end }}
  </dl>
</div>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}
