{{ define "errors/show_modal.html" }}

<div class="modal-detail">
    <div id="modalTitle" class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
      <h2>Oops!</h2>
      <a class="modal-exit is-grey-dark" href="#">
        <span class="material-icons" aria-hidden="true">close</span>
        <span class="is-sr-only">Close</span>
      </a>
    </div>
  
    <div class="modal-content">  
      <p class="mb-3"><b>{{ .error }}</b></p>
      <div class="is-flex">
        <button class="button modal-exit mr-5">OK</button>
      </div>      
    </div>
  </div>

{{ end }}
