{{ define "nsq/show.html" }}

{{ template "shared/_header.html" .}}

<h1>NSQ</h1>

<p>Version {{ .stats.Info.Version }} running at <b>{{ .stats.Info.BroadcastAddress }}:{{ .stats.Info.HttpPort }}</b>
  (TCP port {{ .stats.Info.TcpPort }}). <br />
  Started {{ unixToISO .stats.Info.StartTime }}. Health: {{ .stats.Health }}.</p>

<div id="nsqActionList" class="nsq-action-list">
  <a class="button is-primary is-outlined is-compact is-not-underlined" href="javascript:nsqInit()">Create Default Topics</a> <br /><br />

  <a class="button is-primary is-outlined is-compact is-not-underlined" href="javascript:nsqPost('pause', '', '', 'topic', true)"
    title="Pause all topics">Pause All Topics</a>
  <a class="button is-primary is-outlined is-compact is-not-underlined"
    href="javascript:nsqPost('unpause', '', '', 'topic', true)">Unpause All Topics</a>
  <a class="button is-danger is-outlined is-compact is-not-underlined" href="javascript:nsqPost('empty', '', '', 'topic', true)">Empty
    All Topics</a>
  <a class="button is-danger is-outlined is-compact is-not-underlined" href="javascript:nsqPost('delete', '', '', 'topic', true)">Delete
    All Topics</a> <br /><br />

  <a class="button is-primary is-outlined is-compact is-not-underlined" href="javascript:nsqPost('pause', '', '', 'channel', true)"
    title="Pause all channels">Pause All Channels</a>
  <a class="button is-primary is-outlined is-compact is-not-underlined"
    href="javascript:nsqPost('unpause', '', '', 'channel', true)">Unpause All Channels</a>
  <a class="button is-danger is-outlined is-compact is-not-underlined" href="javascript:nsqPost('empty', '', '', 'channel', true)">Empty
    All Channels</a>
  <a class="button is-danger is-outlined is-compact is-not-underlined" href="javascript:nsqPost('delete', '', '', 'channel', true)">Delete
    All Channels</a>
</div>

<hr style="margin-bottom: 50px" />

{{ range $index, $topic := .stats.Topics }}
<h2>{{ $topic.TopicName }} {{ if $topic.Paused }} <span class="badge is-failed">Paused</span> {{ else }} <span
    class="badge is-success">Running</span> {{ end }} </h2>
<p>
  {{ if $topic.Paused }}
  <a class="button is-primary is-outlined is-tiny-button mr-2 mt-2"
    href="javascript:nsqPost('unpause', '{{ $topic.TopicName }}', '', 'topic', false)"
    title="Unpause topic {{ $topic.TopicName }}">Unpause Topic</a>
  {{ else }}
  <a class="button is-primary is-outlined is-tiny-button mr-2 mt-2"
    href="javascript:nsqPost('pause', '{{ $topic.TopicName }}', '', 'topic', false)"
    title="Pause topic {{ $topic.TopicName }}">Pause Topic</a>
  {{ end }}
  <a class="button is-danger is-outlined is-tiny-button mr-2 mt-2"
    href="javascript:nsqPost('empty', '{{ $topic.TopicName }}', '', 'topic', false)"
    title="Empty topic {{ $topic.TopicName }}">Empty Topic</a>
  <a class="button is-danger is-outlined is-tiny-button mr-2 mt-2"
    href="javascript:nsqPost('delete', '{{ $topic.TopicName }}', '', 'topic', false)"
    title="Delete topic {{ $topic.TopicName }}">Delete Topic</a>
</p>

<table class="nsq-data mt-2">
  <tr>
    <th></th>
    <th>Depth</th>
    <th>Backend Depth</th>
    <th>In Flight</th>
    <th>Deferred</th>
    <th>Messages</th>
    <th>Requeued</th>
    <th>Timed Out</th>
    <th>Clients</th>
  </tr>
  <tr>
    <td>Topic Totals</td>
    <td>{{ $topic.Depth }}</td>
    <td>{{ $topic.BackendDepth }}</td>
    <td></td>
    <td></td>
    <td>{{ $topic.MessageCount }}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {{ range $chIndex, $channel := $topic.Channels }}
  <tr>
    <td>
      {{ if $channel.Paused }}
      <span class="badge is-failed">{{ $channel.ChannelName }}</span> <br />
      <a class="button is-primary is-outlined is-tiny-button mr-2 mt-2"
        href="javascript:nsqPost('unpause', '{{ $topic.TopicName }}', '{{ $channel.ChannelName }}', 'channel', false)"
        title="Unpause channel {{ $channel.ChannelName }}">Unpause Channel</a>
      {{ else }}
      <span class="badge is-success">{{ $channel.ChannelName }}</span> <br />
      <a class="button is-primary is-outlined is-tiny-button mr-2 mt-2"
        href="javascript:nsqPost('pause', '{{ $topic.TopicName }}', '{{ $channel.ChannelName }}', 'channel', false)"
        title="Pause channel {{ $channel.ChannelName }}">Pause Channel</button>
        {{ end }}
        <a class="button is-danger is-outlined is-tiny-button mr-2 mt-2"
          href="javascript:nsqPost('empty', '{{ $topic.TopicName }}', '{{ $channel.ChannelName }}', 'channel', false)"
          title="Empty channel {{ $channel.ChannelName }}">Empty Channel</a>
        <a class="button is-danger is-outlined is-tiny-button mr-2 mt-2"
          href="javascript:nsqPost('delete', '{{ $topic.TopicName }}', '{{ $channel.ChannelName }}', 'channel', false)"
          title="Delete channel {{ $channel.ChannelName }}">Delete Channel</a>
    </td>
    <td>{{ $channel.Depth }}</td>
    <td>{{ $channel.BackendDepth }}</td>
    <td>{{ $channel.InFlightCount }}</td>
    <td>{{ $channel.DeferredCount }}</td>
    <td>{{ $channel.MessageCount }}</td>
    <td>{{ $channel.RequeueCount }}</td>
    <td>{{ $channel.TimeoutCount }}</td>
    <td>{{ $channel.ClientCount }}</td>
  </tr>
  {{ if $channel.Clients }}
  <tr>
    <th colspan="2">Client</th>
    <th>State</th>
    <th>Ready Count</th>
    <th>In Flight</th>
    <th>Messages</th>
    <th>Finished</th>
    <th>Requeued</th>
    <th>Connected Since</th>
  </tr>
  {{ if $channel.Clients }}
  {{ range $clIndex, $client := $channel.Clients }}
  <tr>
    <td colspan="2">{{ $client.ClientID }}</td>
    <td>{{ $client.State }}</td>
    <td>{{ $client.ReadyCount }}</td>
    <td>{{ $client.InFlightCount }}</td>
    <td>{{ $client.MessageCount }}</td>
    <td>{{ $client.FinishCount }}</td>
    <td>{{ $client.RequeueCount }}</td>
    <td>{{ unixToISO $client.ConnectTime }}</td>
  </tr>
  {{ end }}
  {{ else }}
  <tr>
    <td colspan="9" style="background-color:#ddd;">No clients connected</td>
  </tr>
  {{ end }}
  {{ end }}
  {{ end }}
</table>
{{ end }}

<form name="nsqForm" method="post" action="/nsq/admin">
  {{ template "forms/csrf_token.html" . }}
  <input type="hidden" name="operation" value="" />
  <input type="hidden" name="targetType" value="" />
  <input type="hidden" name="topicName" value="" />
  <input type="hidden" name="channelName" value="" />
  <input type="hidden" name="applyToAll" value="false" />
</form>

<script>
  function nsqPost(operation, topicName, channelName, targetType, applyToAll) {
    let form = document.forms['nsqForm']
    let msg = getMessage(operation, topicName, channelName, applyToAll)
    console.log(msg)
    if (msg && !confirm(msg)) {
      return
    }
    form.elements['operation'].value = operation
    form.elements['targetType'].value = targetType
    form.elements['topicName'].value = topicName
    form.elements['channelName'].value = channelName
    form.elements['applyToAll'].value = applyToAll ? 'true' : 'false'
    form.submit()
  }

  function nsqInit() {
    let form = document.forms['nsqForm']
    form.action = '/nsq/init'
    form.submit()
  }

  function getMessage(operation, topicName, channelName, applyToAll) {
    if (!applyToAll && (operation == 'pause' || operation == 'unpause')) {
      return null
    }
    let target = topicName
    if (channelName) {
      target = `${channelName} in topic ${topicName}`
    }
    if (applyToAll) {
      if (channelName) {
        target = 'all channels'
      } else {
        target = 'all topics'
      }
    }
    return `Do you want to ${operation} ${target}?`
  }
</script>

<style>
  .nsq-action-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .nsq-action-list a {
    width: 170px;
    margin-right: 20px;
  }

  .nsq-data {
    margin-bottom: 160px;
  }

  .nsq-data td,
  .nsq-data th {
    padding: 5px;
    border: 1px solid #ddd;
    border-collapse: collapse;
  }

  .is-tiny-button {
    height: 25px;
    padding: 0.4rem !important;
    font-size: 10px;
    line-height: 10px;
  }
</style>

{{ template "shared/_footer.html" .}}

{{ end }}