{{ define "work_items/form.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_header.html" .}}
{{ end }}

<div class="box">
  <div class="box-header">
    <h2>{{ .item.Name }}</h2>
  </div>

  <div class="box-content">
    <form action="{{ .form.Action }}" id="workItemForm" method="post">

      {{ if .FormError }}
      <div class="notification is-danger is-light">
        {{ .FormError }}
      </div>
      {{ end }}

      <div class="columns">
        <div class="column">{{ template "forms/select.html" .form.Fields.Stage }}</div>
        <div class="column">{{ template "forms/select.html" .form.Fields.Status }}</div>
      </div>

      <div class="columns">
        <div class="column">{{ template "forms/select.html" .form.Fields.Retry }}</div>
        <div class="column">{{ template "forms/select.html" .form.Fields.NeedsAdminReview }}</div>
      </div>

      <div class="columns">
        <div class="column">{{ template "forms/textarea.html" .form.Fields.Note }}</div>
      </div>

      <div class="columns">
        <div class="column">{{ template "forms/text_input.html" .form.Fields.Node }}</div>
        <div class="column">{{ template "forms/number.html" .form.Fields.PID }}</div>
      </div>

      <div class="columns">
        <div class="column">{{ template "forms/select.html" .form.Fields.IntellectualObjectID }}</div>
        <div class="column"></div>
      </div>

      {{ template "forms/csrf_token.html" . }}

      <div class="is-flex is-justify-content-space-between">
        <a class="button modal-exit" href="#">Cancel</a>
        <input class="button is-dark" type="submit" value="Submit">
      </div>

    </form>
  </div>
</div>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}