{{ define "work_items/index.html" }}

{{ template "shared/_header.html" .}}

<div class="box">
  <div class="box-header">
    <h1 class="h2">Work Items</h1>
  </div>

  <div class="box-content">
    {{ template "work_items/_filters.html" . }}
  </div>

  <!-- .items type is []*WorkItemView -->

  <table class="table is-hoverable is-fullwidth has-padding">
    <thead>
      <tr><!-- TODO make table columns sortable -->
        <th class="pl-5">Action</th>
        <th>Object</th>
        {{ if .CurrentUser.IsAdmin }}
        <th>Institution</th>
        {{ end }}
        <th>Size</th>
        <th>Stage</th>
        <th>Status</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      {{ $cu := .CurrentUser }}
      {{ range $index, $item := .items }}
      <tr class="clickable" data-modal="modal-one" data-xhr-url="/work_items/show/{{ $item.ID }}?modal=true">
        <td class="pl-5">
          <div class="is-flex is-align-items-center">
            <span class="action-icon mr-3"><!-- TODO Make this update with correct icon-->
              <span class="material-icons md-16" aria-hidden="true"><span>{{ iconFor $item.Action }}</span></span>
            </span>
            <span class="is-grey-dark">{{ $item.Action }}</span>
          </div>
        </td>
        <td>{{ $item.Name }}</td>

        {{ if $cu.IsAdmin }}
        <td class="is-grey-dark">{{ $item.InstitutionName }}</td>
        {{ end }}

        <td class="is-grey-dark num text-sm">2.5GB*</td>
        <td class="is-grey-dark">{{ $item.Stage }}</td>
        <td><span class="badge {{ badgeClass $item.Status }}">{{ $item.Status }}</span></td><!-- TODO Make status change classes -->
        <td class="is-grey-dark text-sm is-uppercase">{{ dateUS $item.DateProcessed }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  {{ template "shared/_pager.html" dict "pager" .pager }}
</div>



{{ template "shared/_footer.html" .}}

{{ end }}
