{{ define "work_items/index.html" }}

{{ template "shared/_header.html" .}}

{{ template "work_items/_filters.html" . }}

<!-- .items type is []*WorkItemView -->

<h1>Work Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Institution</th>
      <th>Action</th>
      <th>Stage</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $item := .items }}
    <tr class="clickable" onclick="window.location.href='/work_items/show/{{ $item.ID }}'">
      <td>{{ $item.Name }}</td>
      <td>{{ $item.InstitutionName }}</td>
      <td>{{ $item.Action }}</td>
      <td>{{ $item.Stage }}</td>
      <td>{{ $item.Status }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "shared/_pager.html" dict "pager" .pager }}

{{ template "shared/_footer.html" .}}

{{ end }}
