{{ define "work_items/index.html" }}

{{ template "shared/_header.html" .}}

<div class="box">
  <div class="box-header">
    <h1 class="h2">Work Items</h1>
  </div>

  <div class="box-content">
    {{ template "work_items/_filters.html" . }}
  </div>

  <!-- .items type is []*WorkItemView -->

  <table class="table is-hoverable is-fullwidth has-padding">
    <thead>
      <tr><!-- TODO make icons change direction based on sort direction -->
        <th class="pl-5"><a href="{{ sortUrl .currentUrl `action` }}" class="is-flex is-align-items-center">
          Action
          <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
        </a></th>
        <th><a href="{{ sortUrl .currentUrl `name` }}" class="is-flex is-align-items-center">
          Object
          <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
        </a></th>
        {{ if .CurrentUser.IsAdmin }}
        <th><a href="{{ sortUrl .currentUrl `institution_name` }}" class="is-flex is-align-items-center">
          Institution
          <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
        </a></th>
        {{ end }}
        <th><a href="{{ sortUrl .currentUrl `size` }}" class="is-flex is-align-items-center">
          Size
          <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
        </a></th>
        <th><a href="{{ sortUrl .currentUrl `stage` }}" class="is-flex is-align-items-center">
          Stage
          <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
        </a></th>
        <th><a href="{{ sortUrl .currentUrl `status` }}" class="is-flex is-align-items-center">
          Status
          <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
        </a></th>
        <th><a href="{{ sortUrl .currentUrl `updated_at` }}" class="is-flex is-align-items-center">
          Updated
          <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
        </a></th>
      </tr>
    </thead>
    <tbody>
      {{ $cu := .CurrentUser }}
      {{ range $index, $item := .items }}
      <tr class="clickable" data-modal="modal-one" data-xhr-url="/work_items/show/{{ $item.ID }}?modal=true">
        <td class="pl-5">
          <div class="is-flex is-align-items-center">
            <span class="action-icon mr-3">
              <span class="material-icons md-16" aria-hidden="true"><span>{{ iconFor $item.Action }}</span></span>
            </span>
            <span class="is-grey-dark">{{ $item.Action }}</span>
          </div>
        </td>
        <td>{{ $item.Name }}</td>

        {{ if $cu.IsAdmin }}
        <td class="is-grey-dark">{{ $item.InstitutionName }}</td>
        {{ end }}

        <td class="is-grey-dark num text-sm">{{ humanSize $item.Size }}</td>
        <td class="is-grey-dark">{{ $item.Stage }}</td>
        <td><span class="badge {{ badgeClass $item.Status }}">{{ $item.Status }}</span></td>
        <td class="is-grey-dark text-sm is-uppercase">{{ dateUS $item.DateProcessed }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  {{ template "shared/_pager.html" dict "pager" .pager }}
</div>



{{ template "shared/_footer.html" .}}

{{ end }}
