{{ define "work_items/requeue_form.html" }}

<form action="{{ .form.Action }}" id="workItemRequeueForm" method="post">

  {{ if .FormError }}
  <div class="row form-error">
    {{ .FormError }}
  </div>
  {{ end }}

  {{ template "forms/select.html" .form.Fields.Stage }}

  <div class="float-right">
    <input type="submit" value="Requeue">
  </div>

</form>

<script>
 function confirmRequeue(event) {
     let stage = document.getElementById("requeueList").value
     if (!confirm(`Requeue this item to ${stage}?`)) {
         event.preventDefault();
     }
 }
 document.getElementById("workItemRequeueForm").addEventListener("submit", confirmRequeue, true)
</script>

{{ end }}
