{{ define "work_items/requeue_form.html" }}

<form class="mb-5" action="{{ .form.Action }}" id="workItemRequeueForm" method="post">
  {{ if .FormError }}
  <div class="notification is-danger is-light">
    {{ .FormError }}
  </div>
  {{ end }}

  {{ template "forms/select.html" .form.Fields.Stage }}

  {{ template "forms/csrf_token.html" . }}

  <input class="button" type="submit" value="Requeue">
</form>

<script>
 function confirmRequeue(event) {
     let stage = document.getElementById("requeueList").value
     if (!confirm(`Requeue this item to ${stage}?`)) {
         event.preventDefault();
     }
 }
 document.getElementById("workItemRequeueForm").addEventListener("submit", confirmRequeue, true)
</script>

{{ end }}
