{{ define "work_items/show.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_header.html" .}}
{{ end }}

<div class="box">
  <div class="box-header is-flex is-align-items-center is-justify-content-space-between">
    <h2>{{ .item.Name }}</h2>
    {{ if userCan .CurrentUser "WorkItemUpdate" .item.InstitutionID }}
      {{ if .showMissingObjWarning }} 
        <div><span class="badge is-failed">Missing Object ID</span></div>
      {{ end }}
      <div><a class="button" href="/work_items/edit/{{ .item.ID }}">Edit</a></div>
    {{ end }}
  </div>

  <div class="box-content">
    <div class="mb-5">
      {{ if userCan .CurrentUser "WorkItemRequeue" .item.InstitutionID }}
      {{ if not .item.HasCompleted }}
      {{ template "work_items/requeue_form.html" . }}
      {{ end }}
      {{ end }}
    </div>

    <dl class="data-header-row is-flex is-justify-content-space-between mb-5">
      <div>
        <dt class="text-label text-xs is-grey-dark mb-2">Action</dt>
        <dd class="text-table">
          <span class="action-icon">
            <span class="material-icons md-16" aria-hidden="true"><span>check</span></span>
          </span>
          {{ .item.Action }}
        </dd>
      </div>
      <div>
        <dt class="text-label text-xs is-grey-dark mb-2">Size</dt>
        <dd class="text-table">{{ formatInt64 .item.Size }} ({{ humanSize .item.Size }})</dd>
      </div>
      <div>
        <dt class="text-label text-xs is-grey-dark mb-2">Stage</dt>
        <dd class="text-table">{{ .item.Stage }}</dd>
      </div>
      <div>
        <dt class="text-label text-xs is-grey-dark mb-2">Status</dt>
        <dd class="badge">{{ .item.Status }}</dd>
      </div>
    </dl>


    <div class="data-list-wrapper is-flex is-justify-content-space-between">
      <dl class="data-list data-list-left">
        <dt class="text-label text-xs is-grey-dark">ETag</dt>
        <dd class="text-table">{{ .item.ETag }}</dd>
        <dt class="text-label text-xs is-grey-dark">Object Identifier</dt>
        <dd class="text-table">
          {{ if .item.IntellectualObjectID }}
          <a href="/objects/show/{{ .item.IntellectualObjectID }}">{{ .item.ObjectIdentifier }}</a>
          {{ else }}
          {{ defaultString .item.ObjectIdentifier "Not yet assigned" }}
          {{ end }}
        </dd>
        <dt class="text-label text-xs is-grey-dark">Bucket</dt>
        <dd class="text-table">{{ .item.Bucket }}</dd>
        <dt class="text-label text-xs is-grey-dark">Generic File</dt>
        <dd class="text-table">{{ defaultString .item.GenericFileIdentifier "N/A" }}</dd>
        <dt class="text-label text-xs is-grey-dark">User</dt>
        <dd class="text-table">{{ .item.User }}</dd>
        <dt class="text-label text-xs is-grey-dark">Node</dt>
        <dd class="text-table">{{ defaultString .item.Node "N/A" }}</dd>
        <dt class="text-label text-xs is-grey-dark">PID</dt>
        <dd class="text-table">{{ .item.PID }}</dd>
        <dt class="text-label text-xs is-grey-dark">APTrust Approver</dt>
        <dd class="text-table">{{ defaultString .item.APTrustApprover "None" }}</dd>
        <dt class="text-label text-xs is-grey-dark">Intitutional Approver</dt>
        <dd class="text-table">{{ defaultString .item.User "None" }}</dd>
      </dl>

      <dl class="data-list data-list-right">
        <dt class="text-label text-xs is-grey-dark">Bag Date</dt>
        <dd class="text-table">{{ dateTimeUS .item.BagDate }}</dd>
        <dt class="text-label text-xs is-grey-dark">Date Processed</dt>
        <dd class="text-table">{{ dateTimeUS .item.DateProcessed }}</dd>
        <dt class="text-label text-xs is-grey-dark">Queued At</dt>
        <dd class="text-table">{{ dateTimeUS .item.QueuedAt }}</dd>
        <dt class="text-label text-xs is-grey-dark">Stage Started At</dt>
        <dd class="text-table">{{ dateTimeUS .item.StageStartedAt }}</dd>
        <dt class="text-label text-xs is-grey-dark">Created At</dt>
        <dd class="text-table">{{ dateTimeUS .item.CreatedAt }}</dd>
        <dt class="text-label text-xs is-grey-dark">Updated At</dt>
        <dd class="text-table">{{ dateTimeUS .item.UpdatedAt }}</dd>
      </dl>
    </div>

    <dl class="data-list data-list-row">
      <dt class="text-label text-xs is-grey-dark">Note</dt>
      <dd class="text-table">{{ .item.Note }}</dd>
      <dt class="text-label text-xs is-grey-dark">Outcome</dt>
      <dd class="text-table">{{ .item.Outcome }}</dd>
    </dl>

    <dl class="data-list data-list-row is-flex">
      <div>
        <dt class="text-label text-xs is-grey-dark">Retry</dt>
        <dd class="text-table is-capitalized">{{ .item.Retry }}</dd>
      </div>
      <div class="ml-6">
        <dt class="text-label text-xs is-grey-dark">Needs Admin Review</dt>
        <dd class="text-table is-capitalized">{{ .item.NeedsAdminReview }}</dd>
      </div>
    </dl>

    {{ if .redisInfo }}
    <!-- Show raw json data. For sys admin only. -->
    <p class="mt-5"><b>Redis Data</b></p>
    <div class="control mt-3 mb-3">
      <pre>
    {{ .redisInfo }}
      </pre>
    </div>
    {{ end }}


    {{ if .showRedisDelete }}
    <form id="redisDelete" method="post" action="/work_items/redis_delete/{{ .item.ID }}"
      onsubmit='return confirm("Delete Redis record? We generally do this only when pushing an item back to Receive. If in doubt, cancel!")'>
      {{ template "forms/csrf_token.html" . }}
      <input class="button" type="submit" value="Delete Redis Data"></input>
    </form>
    {{ end }}
  </div>


  <!-- Show the footer unless query string says modal=true -->
  {{ if not .showAsModal }}
  {{ template "shared/_footer.html" .}}
  {{ end }}


  {{ end }}