{{ define "ui_components/_badges.html" }}

<hr>
<div class="content is-flex is-justify-content-space-between is-align-items-center">
  <h1 id="badges">Badges and Chips</h1>
  <a href="#top">Back to top</a>
</div>
<hr>

<h2 class="mb-3">Default Badges</h2>
<span class="badge mb-3">Default Badge</span>
<pre class="mb-5"><code>&lt;span class=&quot;badge&quot;&gt;Default Badge&lt;/span&gt;</code></pre>

<span class="badge is-full mb-3">Full Width Badge</span>
<pre class="mb-5"><code>&lt;span class=&quot;badge is-full&quot;&gt;Full Width Badge&lt;/span&gt;</code></pre>

<h2 class="mb-3">Status Badges</h2>
<span class="badge is-pending mb-3">Pending</span>
<pre class="mb-5"><code>&lt;span class=&quot;badge is-pending&quot;&gt;Pending&lt;/span&gt;</code></pre>

<span class="badge is-started mb-3">Started</span>
<pre class="mb-5"><code>&lt;span class=&quot;badge is-started&quot;&gt;Started&lt;/span&gt;</code></pre>

<span class="badge is-success mb-3">Success</span>
<pre class="mb-5"><code>&lt;span class=&quot;badge is-success&quot;&gt;Success&lt;/span&gt;</code></pre>

<span class="badge is-failed mb-3">Failed</span>
<pre class="mb-5"><code>&lt;span class=&quot;badge is-failed&quot;&gt;Failed&lt;/span&gt;</code></pre>

<span class="badge is-cancelled mb-3">Cancelled</span>
<pre class="mb-5"><code>&lt;span class=&quot;badge is-cancelled&quot;&gt;Cancelled&lt;/span&gt;</code></pre>

<h2 class="mb-3">Filter Chips</h2>
<button class="badge filter-chip mb-3">
  Close Filter
  <span class="icon material-icons md-16" aria-hidden="true">cancel</span>
</button>
<pre class="mb-5"><code>&lt;button class=&quot;badge filter-chip mb-3&quot;&gt;
  Close Filter
  &lt;span class=&quot;icon material-icons md-16&quot; aria-hidden=&quot;true&quot;&gt;cancel&lt;/span&gt;
&lt;/button&gt;</code></pre>

{{ end }}
