{{ define "ui_components/_buttons.html" }}

<hr>
<div class="content is-flex is-justify-content-space-between is-align-items-center">
  <h1 id="buttons">Buttons</h1>
  <a href="#top">Back to top</a>
</div>
<hr>

<button class="button mb-3">Default Button</button>
<pre class="mb-3"><code>&lt;button class=&quot;button&quot;&gt;Default Button&lt;/button&gt;</code></pre>
<button class="button is-primary mb-3">Primary (Purple) Button</button>
<pre class="mb-3"><code>&lt;button class=&quot;button is-primary&quot;&gt;Primary (Purple) Button&lt;/button&gt;</code></pre>
<button class="button is-primary is-outlined mb-3">Outlined Button</button>
<pre class="mb-3"><code>&lt;button class=&quot;button is-primary is-outlined&quot;&gt;Outlined Button&lt;/button&gt;</code></pre>
<button class="button is-danger mb-3">Danger Button</button>
<pre class="mb-3"><code>&lt;button class=&quot;button is-danger&quot;&gt;Danger Button&lt;/button&gt;</code></pre>

{{ end }}
