{{ define "ui_components/_icons.html" }}

<hr>
<div class="content is-flex is-justify-content-space-between is-align-items-center">
  <h1 id="icons">Icons</h1>
  <a href="#top">Back to top</a>
</div>
<hr>

<div class="notification">
  <p class="mb-3">
    This project uses the <a href="https://fonts.google.com/icons?icon.set=Material+Icons">
      Material Icons Library</a>. Additional icons can be found using their tools.
  </p>
  <p>This is simply a font, so you can set the icon color as you would other text
     via the CSS <code>color</code> property.</p>
</div>

<h2 class="mb-3">Standard Icon Usage</h2>
<span class="material-icons" aria-hidden="true">face</span>
<pre class="mb-5"><code>&lt;span class=&quot;material-icons&quot; aria-hidden=&quot;true&quot;&gt;face&lt;/span&gt;</code></pre>

<h2 class="mb-3">Additional sizes</h2>
<span class="material-icons md-12" aria-hidden="true">face</span>
<pre class="mb-5"><code>&lt;span class=&quot;material-icons md-12&quot; aria-hidden=&quot;true&quot;&gt;face&lt;/span&gt;</code></pre>

<span class="material-icons md-16" aria-hidden="true">face</span>
<pre class="mb-5"><code>&lt;span class=&quot;material-icons md-16&quot; aria-hidden=&quot;true&quot;&gt;face&lt;/span&gt;</code></pre>

<span class="material-icons md-18" aria-hidden="true">face</span>
<pre class="mb-5"><code>&lt;span class=&quot;material-icons md-18&quot; aria-hidden=&quot;true&quot;&gt;face&lt;/span&gt;</code></pre>

<span class="material-icons md-30" aria-hidden="true">face</span>
<pre class="mb-5"><code>&lt;span class=&quot;material-icons md-30&quot; aria-hidden=&quot;true&quot;&gt;face&lt;/span&gt;</code></pre>

<span class="material-icons md-36" aria-hidden="true">face</span>
<pre class="mb-5"><code>&lt;span class=&quot;material-icons md-36&quot; aria-hidden=&quot;true&quot;&gt;face&lt;/span&gt;</code></pre>

<span class="material-icons md-48" aria-hidden="true">face</span>
<pre class="mb-5"><code>&lt;span class=&quot;material-icons md-48&quot; aria-hidden=&quot;true&quot;&gt;face&lt;/span&gt;</code></pre>

{{ end }}
