{{ define "ui_components/index.html" }}

{{ template "shared/_header.html" .}}


<div class="intro mb-5">
  <h1>UI Components</h1>
  <p>This library exists to document various elements of the UI system. 
    Note that the CSS employs a "reset" that removes many default browser
    styles, in favor of custom styles. As such, margins, list styles, and other
    styles may need to be manually readded in some cases. Where applicable, these will
    be documented below.</p>
</div>

<!-- Add components inline, or in partials, as belo. -->

{{ template "ui_components/_typography.html" . }}






{{ template "shared/_footer.html" .}}

{{ end }}
