{{ define "alerts/index.html" }}

{{ template "shared/_header.html" .}}

{{ $isAdmin := .CurrentUser.IsAdmin }}

<!-- .items type is []*AlertView -->

<div class="box">
  <div class="box-header">
    <h1 class="h2">Alerts</h1>
  </div>

  <div class="box-content">
    {{ template "alerts/_filters.html" . }}

    <div class="mt-5"><a href="javascript:document.forms['alertsMarkAllAsRead'].submit()" class="is-underlined">Mark all as read</a></div>
    <form name="alertsMarkAllAsRead" action="/alerts/mark_all_as_read" method="post">
      {{ template "forms/csrf_token.html" . }}
    </form>
  </div>

  <table class="table is-hoverable is-fullwidth has-padding">
    <thead>
      <tr>
        <th class="pl-5"><a href="{{ sortUrl .currentUrl `type` }}">Type</a></th>
        {{ if $isAdmin }}
        <th><a href="{{ sortUrl .currentUrl `user_name` }}">Recipient</a></th>
        {{ end }}
        <th><a href="{{ sortUrl .currentUrl `created_at` }}">Created</a></th>
        <th><a href="{{ sortUrl .currentUrl `read_at` }}">Read</a></th>
        <th>Read Status</th>
      </tr>
    </thead>
    <tbody>
      {{ range $index, $alert := .items }}
      <tr class="clickable" data-modal="modal-one" data-xhr-url="/alerts/show/{{ $alert.ID }}/{{ $alert.UserID }}?modal=true">
        <td class="pl-5">
          <div class="is-flex is-align-items-center">
            <span class="action-icon mr-3"><!-- TODO Make this update with correct icon-->
              <span class="material-icons md-16" aria-hidden="true"><span>check</span></span>
            </span>
            <span class="is-grey-dark">{{ $alert.Type }}</span>
          </div>
          <div class="text-xs is-grey-dark is-dashboard-action">{{ $alert.Subject }}</div>
        </td>
        {{ if $isAdmin }}
        <td>{{ defaultString $alert.UserName "N/A" }}</td>
        {{ end }}
        <td>{{ dateUS $alert.CreatedAt }}</td>
        <td>{{ dateUS $alert.ReadAt }}</td>
        <td class="has-text-centered">
          <a href="#"><!-- TODO: Hook this up-->
            {{ if $alert.HasBeenRead }}
            <span class="material-icons is-grey" aria-hidden="true">drafts</span>
            <span class="is-sr-only">Mark as Unread</span>
            {{ else }}
            <span class="material-icons is-gold" aria-hidden="true">mail</span>
            <span class="is-sr-only">Mark as Read</span>
            {{ end }}
          </a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  {{ template "shared/_pager.html" dict "pager" .pager }}
</div>

{{ template "shared/_footer.html" .}}

{{ end }}
