{{ define "alerts/index.html" }} {{ template "shared/_header.html" .}} {{
$isAdmin := .CurrentUser.IsAdmin }}

<!-- .items type is []*AlertView -->

<div class="box">
  <div class="box-header">
    <h1 class="h2">Alerts</h1>
  </div>

  <div class="box-content">
    {{ template "alerts/_filters.html" . }}

    <div class="mt-5">
      <a href="javascript:document.forms['alertsMarkAllAsRead'].submit()" class="is-underlined is-grey-dark">Mark all as read</a>
    </div>
    <form name="alertsMarkAllAsRead" action="/alerts/mark_all_as_read" method="post">
      {{ template "forms/csrf_token.html" . }}
    </form>
  </div>

  <table class="table is-hoverable is-fullwidth has-padding">
    <thead>
      <tr>
        <th class="pl-5">
          <a href="{{ sortUrl .currentUrl `type` }}" class="is-grey-dark">Type
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `type` }}</span></a>
        </th>
        {{ if $isAdmin }}
        <th>
          <a href="{{ sortUrl .currentUrl `user_name` }}" class="is-grey-dark">Recipient
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `user_name` }}</span></a>
        </th>
        {{ end }}
        <th>
          <a href="{{ sortUrl .currentUrl `created_at` }}" class="is-grey-dark">Created
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `created_at` }}</span></a>
        </th>
        <th>
          <a href="{{ sortUrl .currentUrl `read_at` }}" class="is-grey-dark">Read
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `read_at` }}</span></a>
        </th>
        <th>Read Status</th>
      </tr>
    </thead>
    <tbody>
      {{ range $index, $alert := .items }}
      <tr class="clickable" data-modal="modal-one"
        data-xhr-url="/alerts/show/{{ $alert.ID }}/{{ $alert.UserID }}?modal=true"
        data-alert-id="{{ $alert.ID }}.{{ $alert.UserID }}" data-alert-recipient-id="{{ $alert.UserID }}">
        <td class="pl-5">
          <div class="is-flex is-align-items-center">
            <span class="action-icon mr-3">
              <!-- TODO Make this update with correct icon-->
              <span class="material-icons md-16" aria-hidden="true"><span>check</span></span>
            </span>
            <span class="is-grey-dark">{{ $alert.Type }}</span>
          </div>
          <div class="text-xs is-grey-dark is-dashboard-action">
            {{ $alert.Subject }}
          </div>
        </td>
        {{ if $isAdmin }}
        <td>
            {{ defaultString $alert.UserName "N/A" }} <br/>
            <span class="text-xs is-grey-dark">{{ defaultString $alert.UserEmail "N/A" }}</span>
        </td>
        {{ end }}
        <td>{{ dateUS $alert.CreatedAt }}</td>
        <td data-name="alertReadAt">{{ dateUS $alert.ReadAt }}</td>
        <td class="has-text-centered">
          <a href="#">
            <!-- TODO: Hook this up-->
            {{ if $alert.HasBeenRead }}
            <span data-name="alertReadIcon" class="material-icons is-grey" aria-hidden="true">drafts</span>
            <span class="is-sr-only">Mark as Unread</span>
            {{ else }}
            <span data-name="alertReadIcon" class="material-icons is-gold" aria-hidden="true">mail</span>
            <span class="is-sr-only">Mark as Read</span>
            {{ end }}
          </a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  {{ template "shared/_pager.html" dict "pager" .pager }}
</div>

<script>
  function markAlertRead(alertId) {
    var currentUserId = '{{ .CurrentUser.ID }}'
    var row = document.querySelector(`tr[data-alert-id="${alertId}"]`);
    var readAt = row.querySelector('[data-name="alertReadAt"]');
    var icon = row.querySelector('[data-name="alertReadIcon"]');
    var recipientId = row.getAttribute("data-alert-recipient-id");
    if (currentUserId != recipientId) {
      return;
    }
    if (icon.innerText == "drafts") {
      return; // alread marked as read
    }
    readAt.innerText = new Date().toLocaleDateString("en-us", {
      year: "numeric",
      month: "short",
      day: "numeric",
    });
    icon.innerText = "drafts";
    icon.classList.remove("is-gold");
    icon.classList.add("is-grey");
  }
  function addAlertEventListeners() {
    document.querySelectorAll("tr[data-alert-id]").forEach(function (row) {
      var id = row.getAttribute("data-alert-id");
      row.addEventListener("click", function () {
        markAlertRead(id);
      });
    });
  }
  addAlertEventListeners();
</script>

{{ template "shared/_footer.html" .}} {{ end }}