{{ define "alerts/show.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_header.html" .}}
{{ end }}

<!-- Note: The object here is AlertView, not Alert. -->

<div class="modal-detail">
  <div id="modalTitle" class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Alert</h2>
    <a class="modal-exit is-grey-dark" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <div class="modal-content">
    <dl class="data-list">
      <dt class="text-label text-xs is-grey-dark">To</dt>
      <dd class="text-table">{{ .alert.UserName }} - {{ dateUS .alert.CreatedAt }}</dd>
      <dt class="text-label text-xs is-grey-dark">Subject</dt>
      <dd class="text-table">{{ .alert.Subject }}</dd>
      <dt class="text-label text-xs is-grey-dark">Content</dt>
      <dd>{{ linkifyUrls .alert.Content }}</dd>
    </dl>
  </div>
</div>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_footer.html" .}}  
{{ end }}

{{ end }}
