{{ define "objects/_delete_restore.html" }}

<div class="is-flex is-justify-content-space-between mb-5">
    {{ if userCan .CurrentUser "IntellectualObjectRequestDelete" .object.InstitutionID }}
      {{ if .hasPendingWorkItems }}
        <button class="button" disabled title="Object cannot be deleted until pending work items are complete." data-modal="modal-one" data-xhr-url="/objects/request_delete/{{ .object.ID }}">Delete</button>
      {{ else if not .object.HasPassedMinimumRetentionPeriod}} 
        <button class="button" disabled title="Object cannot be deleted until minimum retention period ends on {{ dateUS .object.EarliestDeletionDate}}" data-modal="modal-one" data-xhr-url="/objects/request_delete/{{ .object.ID }}">Delete</button>
      {{ else }}
        <button class="button is-primary is-outlined" data-modal="modal-one" data-xhr-url="/objects/request_delete/{{ .object.ID }}">Delete</button>
      {{ end }}
    {{ end }}

    {{ if userCan .CurrentUser "IntellectualObjectRestore" .object.InstitutionID }}
      {{ if .hasPendingWorkItems }}
      <button class="button" disabled title="Object cannot be restored until pending work items are complete." data-modal="modal-one" data-xhr-url="/objects/request_restore/{{ .object.ID }}">Restore</button>
      {{ else }}
        <button class="button is-primary" data-modal="modal-one" data-xhr-url="/objects/request_restore/{{ .object.ID }}">Restore</button>
      {{ end }}
    {{ end }}

</div>

{{ end }}
