{{ define "objects/_events.html" }}

<div class="column column-100"  id="objEvents">
  <div class="row">
    <div class="column column-100">
      <h2>Events History</h2>
    </div>
  </div>

  <div class="row">
    <div class="column column-100">
      <table>
        {{ range $index, $event := .events }}
        <tr>
          <td>{{ iconFor $event.EventType }}</td>
          <td>{{ $event.EventType }}</td>
          <td>{{ dateUS $event.DateTime }}</td>
        </tr>
        {{ end }}
      </table>
    </div>
  </div>

  <div class="row">
    <div class="column column-100 center-text">
      {{ .eventsOffsetStart }} - {{ .eventsOffsetEnd }} of {{ .eventsCount }}
    </div>
  </div>
  <div class="row">
    {{ if .eventsShowLeftArrow }}
    <div class="column column-50"><button type="button" class="button button-outline" data-xhr-url="/objects/events/{{ .object.ID }}/?page={{ .eventsPreviousPage }}&per_page=5" data-xhr-target="objEvents">&lt;</button></div>
    {{ end }}

    {{ if .eventsShowRightArrow }}
    <div class="column column-50"><button type="button" class="button button-outline" data-xhr-url="/objects/events/{{ .object.ID }}/?page={{ .eventsNextPage }}&per_page=5" data-xhr-target="objEvents">&gt;</button></div>
    {{ end }}
  </div>

</div>

{{ end }}
