{{ define "objects/_events.html" }}

<div class="box"  id="objEvents">
  <div class="box-header">
    <h2>Object Event History</h2>
  </div>

  <div class="box-content">
    <ul class="event-history-list">
      {{ range $index, $event := .events }}
      <li class="clickable is-flex is-align-items-center mb-5" data-modal="modal-one" data-xhr-url="/events/show_xhr/{{ $event.ID }}">
        <span class="is-flex is-align-items-center">
          <span class="action-icon mr-3">
            <span class="material-icons md-16" aria-hidden="true"><span>{{ iconFor $event.EventType }}</span></span>
          </span>
          <span class="is-capitalized">{{ $event.EventType }}</span>
        </span>
        <span class="ml-auto">{{ dateUS $event.DateTime }}</span>
      </li>
      {{ end }}
    </ul>
  </div>

  <!-- TODO: Pager is broken at this size -->
  {{ template "shared/_pager.html" dict "pager" .eventPager "xhrTarget" "objEvents" "pagerSize" "small" }}

</div>

{{ end }}
