{{ define "objects/_events.html" }}

<div class="box"  id="objEvents">
  <div class="row">
    <div class="column column-100">
      <h2>Events History</h2>
    </div>
  </div>

  <div class="row">
    <div class="column column-100">
      <table>
        {{ range $index, $event := .events }}
        <tr class="clickable" data-modal="modal-one" data-xhr-url="/events/show_xhr/{{ $event.ID }}">
          <td>{{ iconFor $event.EventType }}</td>
          <td>{{ $event.EventType }}</td>
          <td>{{ dateUS $event.DateTime }}</td>
        </tr>
        {{ end }}
      </table>
    </div>
  </div>

  {{ template "shared/_pager.html" dict "pager" .eventPager "xhrTarget" "objEvents" }}

</div>

{{ end }}
