{{ define "objects/_filters.html" }}

<div class="filters-grid">
  <h3 class="filters-grid-label text-label text-xs">Filter</h3>
  <div class="filters-grid-content">

    <form id="fileFilterForm" method="get">

      <!-- Include this, so we don't lose it when user changes filters. -->
      <input type="hidden" name="per_page" value="{{ .pager.PerPage }}">

      <div class="columns filters-grid-header">
        <div class="column">
          {{ template "forms/text_input.html" .filterForm.Fields.identifier }}
        </div>
        <div class="column">
          {{ template "forms/select.html" .filterForm.Fields.state }}
        </div>
        <div class="column">
          {{ template "forms/select.html" .filterForm.Fields.storage_option }}
        </div>
        <div class="column is-align-self-flex-end">
          <div class="filters-grid-controls">
            <input class="filter-button button is-primary" type="submit" value="Filter">
            <a class="filter-toggle button is-compact is-white is-not-underlined" href="#gridFiltersAll">
              <span class="material-icons md-16" aria-hidden="true">expand_more</span>
              <span class="more-filters">More Filters</span>
              <span class="less-filters is-hidden">Less Filters</span>
            </a>
          </div>
        </div>
      </div>

      <div class="filters-grid-all is-sr-only" id="gridFiltersAll">
        <hr>

        <div class="columns">
          <div class="column is-one-quarter">
            {{ template "forms/text_input.html" .filterForm.Fields.bag_name }}
          </div>
          <div class="column is-one-quarter">
            {{ template "forms/text_input.html" .filterForm.Fields.alt_identifier }}
          </div>
          <div class="column is-one-quarter">
            {{ template "forms/text_input.html" .filterForm.Fields.bag_group_identifier }}
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            {{ template "forms/text_input.html" .filterForm.Fields.internal_sender_identifier }}
          </div>
          <div class="column is-one-quarter">
            {{ template "forms/select.html" .filterForm.Fields.bagit_profile_identifier }}
          </div>
          <div class="column is-one-quarter">
            {{ template "forms/select.html" .filterForm.Fields.access }}
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            {{ template "forms/number.html" .filterForm.Fields.size__gteq }}
          </div>
          <div class="column is-one-quarter">
            {{ template "forms/number.html" .filterForm.Fields.size__lteq }}
          </div>
          <div class="column is-one-quarter">
            {{ if .CurrentUser.IsAdmin }}
            {{ template "forms/select.html" .filterForm.Fields.institution_id }}
            {{ end }}
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            {{ template "forms/number.html" .filterForm.Fields.file_count__gteq }}
          </div>
          <div class="column is-one-quarter">
            {{ template "forms/number.html" .filterForm.Fields.file_count__lteq }}
          </div>
          <div class="column is-one-quarter">
            {{ if .CurrentUser.IsAdmin }}
            {{ template "forms/select.html" .filterForm.Fields.institution_parent_id }}
            {{ end }}
          </div>
        </div>


        <div class="columns">
          <div class="column is-one-quarter">
            {{ template "forms/date.html" .filterForm.Fields.created_at__gteq }}
          </div>
          <div class="column is-one-quarter">
            {{ template "forms/date.html" .filterForm.Fields.created_at__lteq }}
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            {{ template "forms/date.html" .filterForm.Fields.updated_at__gteq }}
          </div>
          <div class="column is-one-quarter">
            {{ template "forms/date.html" .filterForm.Fields.updated_at__lteq }}
          </div>
        </div>

      </div>
    </form>

    {{ template "shared/_filter_chips.html" . }}

  </div>
</div>

{{ end }}
