{{ define "objects/_file_summary.html" }}

<div class="box">
  <div class="box-header">
    <h2>File Summary</h2>
  </div>

  <div class="box-content">
    <div class="columns">
      <div class="column is-two-fifths">
        <table class="table is-borderless is-fullwidth has-chart-data">
          <thead>
            <th>Format</th>
            <th class="has-text-right">Count</th>
            <th class="has-text-right">Size</th>
          </thead>
          <tbody>
            {{ range $index, $stat := .depositFormatStats }}
              {{ if eq $stat.FileFormat "Total" }}
               <!-- TODO: move total to the end, which will also require an update to tables.scss  -->
                <tr class="total">
              {{ else }}
                <tr>
              {{ end }}
                  <td class="is-grey-dark">{{ $stat.FileFormat }}</td>
                  <td class="is-grey-dark num text-sm has-text-right">{{ $stat.FileCount }}</td>
                  <td class="is-grey-dark num text-sm has-text-right">{{ humanSize $stat.TotalBytes }}</td>
                </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    
      <div class="column">
        <h5 class="text-label text-xs has-text-centered">Files by Size (GB)</h5>
        <div><canvas id="sizeChart"></canvas></div>
      </div>
    
      <div class="column">
        <h5 class="text-label text-xs has-text-centered">Files by Count</h5>
        <div>
          <canvas id="countChart"></canvas>
        </div>
      </div>
    
    </div>
  </div>
</div>


<script>

 const depositData = {{ toJSON .depositFormatStats }};

 function renderChart(elementID, metric, label) {
     let ctx = document.getElementById(elementID);
     let data = buildChartData(metric, label)
     return new Chart(ctx, { type: 'doughnut', data: data })
 }

 function buildChartData(metric, label) {
     let labels = getLabels()
     return {
         labels: labels,
         datasets: [{
             label: label,
             data: getDepositData(metric),
             backgroundColor: window.APT.chartColors('fill', labels.length),
             borderColor: window.APT.chartColors('border', labels.length),
             borderWidth: 1
         }],
         hoverOffset: 4
     }
 }

 function getDepositData(metric) {
     return depositData.filter(item => item.file_format != 'Total').map(item => item[metric]);
 }

 function getLabels() {
     return depositData.filter(item => item.file_format != 'Total').map(item => item.file_format);
 }

 // Render the chart after APTLoaded (aptLoadEvent) because it depends
 // on APT.chartColors.
 window.addEventListener('APTLoaded', (event) => {
     renderChart("sizeChart", "total_gb", "File Distribution by Size")
     renderChart("countChart", "file_count", "File Distribution by Count")
 });

</script>

{{ end }}
