{{ define "objects/_file_list.html" }}

{{ $CurrentUser := .CurrentUser }}

<div class="box" id="objFileList">
  <div class="box-header is-flex is-justify-content-space-between is-align-items-center">
    {{ if eq .state "A" }}
    <h2>Active Files</h2>
    <button type="button" class="button is-white is-compact is-lowercase has-text-weight-normal"
      data-xhr-url="/objects/files/{{ .object.ID }}?state=D&page=1&per_page=10" data-xhr-target="objFileList">
      Show Deleted Files
    </button>
    {{ else }}
    <h2>Deleted Files</h2>
    <button type="button" class="button is-white is-compact is-lowercase has-text-weight-normal"
      data-xhr-url="/objects/files/{{ .object.ID }}?state=A&page=1&per_page=10" data-xhr-target="objFileList">
      Show Active Files
    </button>
    {{ end }}
  </div>

  <div class="box-content">
    <div class="columns">
      <div class="field is-grouped column is-half">
        <label class="label is-sr-only" for="fileFilter">Basic Text Input</label>
        <div class="control is-expanded">
          <input class="input" type="text" placeholder="Filter by partial identifier or exact checksum" id="fileFilter"
            value="{{ .fileFilter }}">
        </div>
        <div class="control">
          <input class="button is-primary" type="button" value="Filter" onclick="filterFiles('{{ .state }}')" />
        </div>
      </div>
    </div>
  </div>

  <table class="table is-fullwidth single-item-file-list-table">
    <thead>
      <th></th>
      <th>Identifier</th>
      <th>Format</th>
      <th class="has-text-right">Size</th>
      <th class="has-text-right">Ingested</th>
      <th class="has-text-right">Modified</th>
      <th class="has-text-right">Last Fixity</th>
    </thead>
    {{ range $index, $file := .files }}
    <tr>
      <td class="clickable" data-toggle-table-row="file-{{ $file.ID }}">[+]</td>
      <td class="is-grey-dark">{{ truncateStart $file.Identifier 60 }}</td>
      <td class="is-grey-dark">{{ $file.FileFormat }}</td>
      <td class="is-grey-dark num text-sm has-text-right">{{ humanSize $file.Size }}</td>
      <td class="is-grey-dark text-sm is-uppercase has-text-right">{{ dateUS $file.CreatedAt }}</td>
      <td class="is-grey-dark text-sm is-uppercase has-text-right">{{ dateUS $file.UpdatedAt }}</td>
      <td class="is-grey-dark text-sm is-uppercase has-text-right">{{ dateUS $file.LastFixityCheck }}</td>
    </tr>
    <tr id="file-{{ $file.ID }}" class="single-item-file-list-accordion">
      <td colspan="1"></td>
      <td colspan="6" style="border:none">
        <div>

          <div class="single-item-file-list-detail wrap-long-words">
            <h5 class="text-label text-xs">Identifier</h5>
            <p class="wrap-long-words">{{ $file.Identifier }}</p>
          </div>

          {{ range $index, $sr := $file.StorageRecords }}
          <div class="single-item-file-list-detail wrap-long-words">
            <h5 class="text-label text-xs">URL</h5>
            <p><a href="{{ $sr.URL }}">{{ $sr.URL }}</a></p>
          </div>
          {{ end }}

          <h3 class="mb-4">Checksums</h3>

          <dl class="data-list">
            {{ range $index, $c := $file.Checksums }}
            <dt class="text-label text-xs is-grey-dark">Date</dt>
            <dd class="text-table">{{ dateUS $c.DateTime }}</dd>
            <dt class="text-label text-xs is-grey-dark">Algorithm</dt>
            <dd class="text-table">{{ $c.Algorithm }}</dd>
            <dt class="text-label text-xs is-grey-dark">Digest</dt>
            <dd class="text-table wrap-long-words">{{ $c.Digest }}</dd>
            <hr>
            {{ end }}
          </dl>

          {{ if eq $file.State "A"}}
          {{ if userCan $CurrentUser "FileRequestDelete" $file.InstitutionID }}
          <button class="button" data-modal="modal-one" data-xhr-url="/files/request_delete/{{ $file.ID }}">Delete
            File</button>
          {{ end }}

          {{ if userCan $CurrentUser "FileRestore" $file.InstitutionID }}
          <button class="button" data-modal="modal-one" data-xhr-url="/files/request_restore/{{ $file.ID }}">Restore
            File</button>
          {{ end }}
          {{ end }}

        </div>
      </td>
    </tr>
    {{ end }}
  </table>

  {{ template "shared/_pager.html" dict "pager" .filePager "xhrTarget" "objFileList" }}

</div>



{{ end }}