{{ define "objects/_file_list.html" }}


  <div class="row">
    <div class="column column-70">
      <h2>Active Files</h2>
    </div>
    <div class="column column-30">
      <a href="#">See Archived Files</a>
    </div>
  </div>

  <div class="row">
    <div class="column column-70">
      <input type="text" placeholder="Filter by partial identifier or exact checksum" id="fileFilter" value="{{ .fileFilter }}" />
    </div>
    <div class="column column-30">
      <input type="button" value="Filter" onclick="filterFiles()" />
    </div>
  </div>

  <div class="row">
    <div class="column column-100">
      <table>
        <thead>
          <th></th>
          <th>Identifier</th>
          <th>Format</th>
          <th>Size</th>
          <th>Ingested</th>
          <th>Modified</th>
          <th>Last Fixity</th>
        </thead>
        {{ range $index, $file := .files }}
        <tr>
          <td class="clickable" data-toggle="file-{{ $file.ID }}">[+]</td>
          <td>{{ truncateStart $file.Identifier 60 }}</td>
          <td>{{ $file.FileFormat }}</td>
          <td>{{ humanSize $file.Size }}</td>
          <td>{{ dateUS $file.CreatedAt }}</td>
          <td>{{ dateUS $file.UpdatedAt }}</td>
          <td>{{ dateUS $file.LastFixityCheck }}</td>
        </tr>
        <tr>
          <td colspan="7" style="border:none">
            <div id="file-{{ $file.ID }}" style="display:none;background-color:#eef;">
              <table>
                <tbody>
                  <tr>
                    <th>Identifier</th>
                    <td>{{ $file.Identifier }}</td>
                  </tr>
                  {{ range $index, $sr := $file.StorageRecords }}
                  <tr>
                    <th>URL</th> 
                    <td>{{ $sr.URL }}</td>
                  </tr>
                  {{ end }} 
                </tbody>
              </table>

                <h3>Checksums</h3>
              <table>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Algorithm</th>
                    <th>Digest</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range $index, $c := $file.Checksums }}
                  <tr>
                    <td>{{ dateUS $c.DateTime }}</td>
                    <td>{{ $c.Algorithm }}</td> 
                    <td>{{ $c.Digest }}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
              </p>
            </div>
          </td>
        </tr>
        {{ end }}
      </table>
    </div>
  </div>

  {{ template "shared/_pager.html" dict "pager" .filePager "xhrTarget" "objFileList" }}


{{ end }}
