{{ define "objects/_request_delete.html" }}

<div class="container">

  <h1>Delete Object</h1>

  <div class="row">
    <p>Are you sure you want to delete this object and its files?</p>
  </div>

  <div class="row">
    <dl>
      <dt>Identifier</dt>
      <dd>{{ .object.Identifier }}</dd>

      <dt>Bag Group Identifier</dt>
      <dd>{{ .object.BagGroupIdentifier }}</dd>

      <dt>Alt Identifier</dt>
      <dd>{{ .object.AltIdentifier }}</dd>

      <dt>File</dt>
      <dd>{{ .object.FileCount }} files / {{ humanSize .object.Size }}</dd>

      <dt>Description</dt>
      <dd>{{ truncate .object.Description 200 }}</dd>

    </dl>

  </div>

  <div class="row">

    <p>Confirming will mark this object for deletion and notify
      institutional admins to review the request.</p>

  </div>


  <div class="row">
    <div class="column column-30">
      <button class="button button-outline" onclick="document.getElementById('modal-one').classList.remove('open')">Cancel</button>
    </div>
    <div class="column column-40">

    </div>
    <div class="column column-30">
      <button class="button">Confirm</button>
    </div>
  </div>

</div>

{{ end }}
