{{ define "objects/_request_delete.html" }}

<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Delete Object</h2>
    <a class="modal-exit is-grey-dark" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <div class="modal-content">
    <p class="mb-3">Are you sure you want to delete this object and its files?</p>

    <dl class="data-list mb-3">
      <dt>Identifier</dt>
      <dd>{{ .object.Identifier }}</dd>

      <dt>Bag Group Identifier</dt>
      <dd>{{ .object.BagGroupIdentifier }}</dd>

      <dt>Alt Identifier</dt>
      <dd>{{ .object.AltIdentifier }}</dd>

      <dt>File</dt>
      <dd>{{ .object.FileCount }} files / {{ humanSize .object.Size }}</dd>

      <dt>Description</dt>
      <dd>{{ truncate .object.Description 200 }}</dd>

    </dl>

    <p class="mb-5">Confirming will mark this object for deletion and notify
      institutional admins to review the request.</p>

    <div class="is-flex">
      <button class="button modal-exit mr-5">Cancel</button>
      <button class="button is-primary" data-modal-post-form="objDeleteForm"
        data-modal-post-target="modal-one">Confirm</button>
    </div>

    <form name="objDeleteForm" action="/objects/init_delete/{{ .object.ID }}" method="post">
      <input type="hidden" name="id" value="{{ .object.ID }}" />
      {{ template "forms/csrf_token.html" . }}
    </form>
  </div>
</div>

{{ end }}