{{ define "objects/_request_restore.html" }}

<div class="modal-detail">
  <div id="modalTitle" class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Restore Object</h2>
    <a class="modal-exit is-grey-dark" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <div class="modal-content">
    <p class="mb-3">This object will be restored to your institution's receiving bucket and you'll receive an email at {{ .CurrentUser.Email }} when it's ready.</p>

    <p class="mb-5">Restoration times vary. Large objects take longer than smaller objects. Items restored from Glacier and Glacier Deep Archive take longer than items restored in S3.</p>

    <div class="is-flex">
        <button class="button modal-exit mr-5">Cancel</button>
        <button class="button is-primary" data-modal-post-form="objRestoreForm" data-modal-post-target="modal-one">Confirm</button>
    </div>
  
    <form method="post" id="objRestoreForm" action="/objects/init_restore/{{ .object.ID }}">
      <input type="hidden" name="id" value="{{ .object.ID }}"/>
      {{ template "forms/csrf_token.html" . }}
    </form>
  </div>
</div>

{{ end }}
