{{ define "objects/deletion_requested.html" }}

<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Deletion Requested</h2>
    <a class="modal-exit is-grey-dark" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <div class="modal-content">
    <p class="mb-3">Thanks. We have received your request to delete the following object:</p>
    <p class="mb-3"><b>{{ .objIdentifier }}</b></p>

    <p class="mb-3">The APTrust administrators at your institution will soon receive an email
      asking them to approve the deletion.</p>

    <div class="is-flex">
      <button class="button modal-exit mr-5">OK</button>
    </div>      
  </div>
</div>

{{ end }} 
