{{ define "objects/index.html" }}

{{ template "shared/_header.html" .}}

<h1>Objects</h1>

{{ template "objects/_filters.html" . }}

<table>
  <thead>
    <tr>
      <th>Title/Identifier</th>
      <th>Storage Option</th>
      <th>File Count</th>
      <th>Size</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $obj := .objects }}
    <tr class="clickable" onclick="window.location.href='/objects/show/{{ $obj.ID }}'">
      <td>
        {{ truncate $obj.Title 80 }}<br/>
        {{ truncate $obj.Identifier 80 }}<br/>
        {{ truncate $obj.AltIdentifier 80 }}<br/>
        {{ $obj.BagGroupIdentifier }}
      </td>
      <td>{{ $obj.StorageOption }}</td>
      <td>{{ $obj.FileCount }}</td>
      <td>{{ humanSize $obj.Size }}</td>
      <td>{{ dateUS $obj.UpdatedAt }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "shared/_pager.html" dict "pager" .pager }}

{{ template "shared/_footer.html" .}}


{{ end }}
