{{ define "objects/index.html" }}

{{ template "shared/_header.html" .}}

<!-- .items type is []*IntellectualObjectView -->

<div class="box">
  <div class="box-header">
    <h1 class="h2">Objects</h1>
  </div>


  <div class="box-content">
    {{ template "objects/_filters.html" . }}
  </div>

  <table class="table is-hoverable is-fullwidth has-padding">
    <thead>
      <tr>
        <th class="pl-5"><a href="{{ sortUrl .currentUrl `identifier` }}" class="is-flex is-align-items-center">
            Title/Identifier
            <span class="material-icons" aria-hidden="true">{{ sortIcon .currentUrl `identifier` }}</span>
          </a></th>
        <th><a href="{{ sortUrl .currentUrl `storage_option` }}" class="is-flex is-align-items-center">
            Storage Option
            <span class="material-icons" aria-hidden="true">{{ sortIcon .currentUrl `storage_option` }}</span>
          </a></th>
        <th><a href="{{ sortUrl .currentUrl `file_count` }}" class="is-flex is-align-items-center">
            File Count
            <span class="material-icons" aria-hidden="true">{{ sortIcon .currentUrl `file_count` }}</span>
          </a></th>
        <th><a href="{{ sortUrl .currentUrl `size` }}" class="is-flex is-align-items-center">
            Size
            <span class="material-icons" aria-hidden="true">{{ sortIcon .currentUrl `size` }}</span>
          </a></th>
        <th><a href="{{ sortUrl .currentUrl `updated_at` }}" class="is-flex is-align-items-center">
            Modified
            <span class="material-icons" aria-hidden="true">{{ sortIcon .currentUrl `updated_at` }}</span>
          </a></th>
      </tr>
    </thead>
    <tbody>
      {{ range $index, $obj := .items }}
      <tr class="clickable" onclick="window.location.href='/objects/show/{{ $obj.ID }}'">
        <td class="pl-5">
          <div class="is-flex is-align-items-center">
            <span class="is-grey-dark">
              {{ truncate $obj.Title 80 }}<br />
              {{ truncate $obj.Identifier 80 }}<br />
              {{ truncate $obj.AltIdentifier 80 }}<br />
              {{ $obj.BagGroupIdentifier }}
            </span>
          </div>
        </td>
        <td class="is-grey-dark">{{ $obj.StorageOption }}</td>
        <td class="is-grey-dark num text-sm">{{ $obj.FileCount }}</td>
        <td class="is-grey-dark num text-sm">{{ humanSize $obj.Size }}</td>
        <td class="is-grey-dark text-sm is-uppercase">{{ dateUS $obj.UpdatedAt }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  {{ template "shared/_pager.html" dict "pager" .pager }}
</div>

{{ template "shared/_footer.html" .}}


{{ end }}