{{ define "objects/show.html" }}

{{ template "shared/header.html" .}}

<h1>{{ .object.Title }}</h1>

<!-- https://bencoveney.github.io/Milligrid/#nesting -->

<div class="container object-detail">

  <!-- First Row: Intellectual Object -->
  <div class="row">
    <!-- Top Left Box: Contains object summary -->
    <div class="column column-67 rounded-box">
      {{ template "objects/summary.html" . }}
    </div>

    <!-- Top Right Box: Buttons and events -->
    <div class="column column-33 rounded-box">
      <div class="row">
        {{ template "objects/delete_restore.html" . }}
      </div>
      <div class="row">
        {{ template "objects/events.html" . }}
      </div>
    </div>
  </div>


  <!-- Second Row: File Summary -->
  <div class="row">
    <div class="column column-100 rounded-box">
      {{ template "objects/file_summary.html" . }}
    </div>
  </div>


  <!-- Third Row: Active Files -->
  <div class="row">
    <div class="column column-100 rounded-box">
      {{ template "objects/file_list.html" . }}
    </div>
  </div>


</div> <!-- end container -->


{{ template "shared/footer.html" .}}


{{ end }}
