{{ define "objects/show.html" }}

{{ template "shared/_header.html" .}}

<script>
 function filterFiles(state) {
     let filter = document.getElementById("fileFilter").value
     let url = "/objects/files/{{ .object.ID }}/?file_filter=" + encodeURIComponent(filter) + "&state=" + encodeURIComponent(state)
     APT.loadIntoElement("get", url, "objFileList")
 }
</script>

<!-- https://bencoveney.github.io/Milligrid/#nesting -->

<main class="object-detail page-content">

  <div class="single-item-header">
    <span class="action-icon is-jumbo is-dark">
      <span class="material-icons" aria-hidden="true"><span>inventory</span></span>
    </span>
    <div>
      <h5 class="single-item-header-type">Object</h5>
      <h1 class="single-item-header-title">{{ .object.Title }}</h1>
    </div>
  </div>

  <!-- First Row: Intellectual Object -->
  <div class="columns">
    <!-- Top Left Box: Contains object summary -->
    <div class="column">
      {{ template "objects/_object_summary.html" . }}
    </div>

    <!-- Top Right Box: Buttons and events -->
    <div class="column is-one-third">
        {{ if eq .object.State "A" }}
        {{ template "objects/_delete_restore.html" . }}
        {{ end }}
      
        {{ template "objects/_events.html" . }}
    </div>
  </div>


  <!-- Second Row: File Summary -->
  {{ template "objects/_file_summary.html" . }}

  <!-- Third Row: Active Files -->
  {{ template "objects/_file_list.html" . }}

</main> <!-- end container -->


{{ template "shared/_footer.html" .}}


{{ end }}
