{{ define "objects/summary.html" }}

<div class="row">
  <div class="column column-67">
    <dl>
      <dt>Identifier</dt>
      <dd>{{ .object.Identifier }}</dd>

      <dt>Bag Group Identifier</dt>
      <dd>{{ .object.BagGroupIdentifier }}</dd>

      <dt>Alt Identifier</dt>
      <dd>{{ .object.AltIdentifier }}</dd>

      <dt>File Count</dt>
      <dd>{{ .object.FileCount }}</dd>

      <dt>Size (Active Files)</dt>
      <dd>{{ humanSize .object.Size }}</dd>
    </dl>
  </div>
  <div class="column column-33">
    <dl>
      <dt>Created</dt>
      <dd>{{ dateUS .object.CreatedAt }}</dd>

      <dt>Modified</dt>
      <dd>{{ dateUS .object.UpdatedAt }}</dd>

      <dt>Access</dt>
      <dd>{{ .object.Access }}</dd>

      <dt>Storage Option</dt>
      <dd>{{ .object.StorageOption }}</dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="column column-100">

    <dl>
      <dt>Description</dt>
      <dd>{{ .object.Description }}</dd>
    </dl>

  </div>
</div>

{{ end }}
