{{ define "institutions/_filters.html" }}

<form id="institutionFilterForm" method="get">

  <div class="columns">
    <div class="column is-one-quarter">
      {{ template "forms/text_input.html" .filterForm.Fields.name__contains }}
    </div>
    <div class="column is-one-quarter">
      {{ template "forms/select.html" .filterForm.Fields.type }}
    </div>
    <div class="column is-one-quarter is-align-self-flex-end">
      <input class="filter-button button is-primary" type="submit" value="Filter">
    </div>
  </div>

</form>

{{ template "shared/_filter_chips.html" . }}

{{ end }}
