{{ define "institutions/form.html" }}

{{ template "shared/header.html" .}}

<form action="{{ .form.Action }}" method="post">

  {{ template "forms/text_input.html" .form.Fields.Name }}

  {{ template "forms/text_input.html" .form.Fields.Identifier }}

  {{ template "forms/select.html" .form.Fields.Type }}

  {{ template "forms/select.html" .form.Fields.MemberInstitutionID }}

  {{ template "forms/select.html" .form.Fields.OTPEnabled }}

  {{ template "forms/text_input.html" .form.Fields.ReceivingBucket }}

  {{ template "forms/text_input.html" .form.Fields.RestoreBucket }}

  <div class="float-right">
    <input type="submit" value="Submit">
  </div>
  <div class="float-left">
    <a class="button button-outline" href="javascript:history.back()">Cancel</a>
  </div>

</form>

<script>
// Enable/disable parent institution select list based on institution type. 
window.addEventListener('load', (event) => {
  let typeList = document.forms[0].elements.Type
  let parentList = document.forms[0].elements.MemberInstitutionID
  typeList.addEventListener('change', (e) => {
      if (typeList.value == "MemberInstitution") {
        parentList.value = ''
        parentList.disabled = true
      } else {
        parentList.disabled = false
      }
  })
});
  
</script>

{{ template "shared/footer.html" .}}

{{ end }}
