{{ define "institutions/form.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_header.html" .}}
{{ end }}

<div class="box">
  <div class="box-header">
    <h2>Edit Institution</h2>
  </div>
  <div class="box-content">
    <form action="{{ .form.Action }}" id="instForm" method="post">

      {{ if .FormError }}
      <div class="notification is-danger is-light">
        {{ .FormError }}
      </div>
      {{ end }}

      <div class="columns">
        <div class="column">{{ template "forms/text_input.html" .form.Fields.Name }}</div>
        <div class="column">{{ template "forms/text_input.html" .form.Fields.Identifier }}</div>
        <div class="column">{{ template "forms/select.html" .form.Fields.Type }}</div>
      </div>

      <div class="columns">
        <div class="column">{{ template "forms/select.html" .form.Fields.MemberInstitutionID }}</div>
        <div class="column">{{ template "forms/select.html" .form.Fields.OTPEnabled }}</div>
        <div class="column">{{ template "forms/number.html" .form.Fields.SpotRestoreFrequency }}</div>
      </div>

      <div class="columns">
        <div class="column">{{ template "forms/text_input.html" .form.Fields.ReceivingBucket }}</div>
        <div class="column">{{ template "forms/text_input.html" .form.Fields.RestoreBucket }}</div>
      </div>

      {{ template "forms/csrf_token.html" . }}

      <div class="is-flex">
        <input class="button is-primary mr-4" type="submit" value="Submit">
        <a class="button modal-exit is-not-underlined" href="#">Cancel</a>
      </div>

    </form>
  </div>
</div>

<script>
  // Enable/disable parent institution select list based on institution type.
  window.addEventListener('load', (event) => {
    let typeList = document.forms['instForm'].elements.Type
    let parentList = document.forms['instForm'].elements.MemberInstitutionID
    typeList.addEventListener('change', (e) => {
      if (typeList.value == "MemberInstitution") {
        parentList.value = ''
        parentList.disabled = true
      } else {
        parentList.disabled = false
      }
    })
  });
</script>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_footer.html" .}}
{{ end }}

{{ end }}