{{ define "institutions/index.html" }}

{{ template "shared/header.html" .}}

{{ if .CurrentUser.IsAdmin }}
<div class="float-right"><a class="button" href="/institutions/new">New</a></div>
{{ end }}

<h1>Institutions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th>Type</th>
      <th>Parent</th>
      <th>Deactivated</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $inst := .institutions }}
      {{ $cssClass := "clickable" }}
      {{ if not $inst.DeactivatedAt.IsZero }}
        {{ $cssClass = "clickable row-disabled" }}
      {{ end }}
    <tr class="{{ $cssClass }}" onclick="window.location.href='/institutions/show/{{ $inst.ID }}'">
      <td>{{ $inst.Name }}</td>
      <td>{{ $inst.Identifier }}</td>
      <td>{{ replace $inst.Type "Institution" "" 1 }}</td>
      <td>{{ $inst.ParentIdentifier }}</td>
      <td>{{ dateUS $inst.DeactivatedAt }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "shared/footer.html" .}}


{{ end }}
