{{ define "institutions/show.html" }}

{{ template "shared/_header.html" .}}

<!-- TODO: Make this an actual modal instead of a page -->
<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>{{ .institution.Name }}</h2>
  </div>

  {{ if .institution.DeactivatedAt.IsZero }}
    <div class="is-flex">
      {{ if userCan .CurrentUser "InstitutionUpdate" .institution.ID }}
      <a class="button is-primary" href="/institutions/edit/{{ .institution.ID }}">Edit</a>
      {{ end }}
      {{ if userCan .CurrentUser "InstitutionDelete" .institution.ID }}
      <a class="button is-danger ml-4" href="/institutions/delete/{{ .institution.ID }}">Deactivate</a>
      {{ end }}
    </div>
  {{ else }}
    {{ if userCan .CurrentUser "InstitutionUpdate" .institution.ID }}
    <a class="button" href="/institutions/undelete/{{ .institution.ID }}">Reactivate</a>
    {{ end }}
  {{ end }}

  <div class="modal-content">
    <dl class="modal-list modal-list-row">
      <dt class="text-label text-xs is-grey-dark">Identifier</dt>
      <dd class="text-table">{{ .institution.Identifier }}</dd>
      <dt class="text-label text-xs is-grey-dark">Type</dt>
      <dd class="text-table">{{ replace .institution.Type "Institution" "" 1 }}</dd>
      <dt class="text-label text-xs is-grey-dark">Parent</dt>
      <dd class="text-table">{{ if .institution.ParentName }}{{ .institution.ParentName }}{{ else }}None{{end}}</dd>
      <dt class="text-label text-xs is-grey-dark">Two-Factor Enabled</dt>
      <dd class="text-table">{{ yesNo .institution.OTPEnabled }}</dd>
      <dt class="text-label text-xs is-grey-dark">Restoration Spot Tests Enabled</dt>
      <dd class="text-table">{{ yesNo .institution.EnableSpotRestore }}</dd>
      <dt class="text-label text-xs is-grey-dark">Active?</dt>
      <dd class="text-table">{{ if eq .institution.State "A" }} Yes {{ else }} No - deactivated {{ dateUS .institution.DeactivatedAt }} {{ end }}</dd>
      <dt class="text-label text-xs is-grey-dark">Receiving Bucket</dt>
      <dd class="text-table">{{ .institution.ReceivingBucket }}</dd>
      <dt class="text-label text-xs is-grey-dark">Restore Bucket</dt>
      <dd class="text-table">{{ .institution.RestoreBucket }}</dd>

      {{ if .subscribers }}
      <dt class="text-label text-xs is-grey-dark">Subscribers</dt>
        {{ if .CurrentUser.IsAdmin }}
            {{ range $index, $inst := .subscribers }}
            <dd class="text-table"><a href="/institutions/show/{{ $inst.ID }}">{{ $inst.Name }}</a></dd>
            {{ end }}
          {{ else }}
            {{ range $index, $inst := .subscribers }}
              <dd class="text-table">{{ $inst.Name }}</dd>
            {{ end }}
          {{ end }}    <!-- end if .CurrentUser.IsAdmin -->
        {{ end }}  <!-- end if .subscribers -->

      {{ if .users }}
      <dt class="text-label text-xs is-grey-dark">Users</dt>
      {{ if userCan .CurrentUser "UserUpdate" .institution.ID }}
          {{ range $index, $user := .users }}
          <dd class="text-table"><a href="/users/show/{{ $user.ID }}">{{ $user.Name }} ({{ roleName $user.Role }})</a></dd>
          {{ end }}
        {{ else }}
          {{ range $index, $user := .users }}
          <dd class="text-table">{{ $user.Name }} ({{ roleName $user.Role }})</dd>
          {{ end }}
        {{ end }}  <!-- end if userCan -->
      {{ end }}    <!-- end if .users -->
    </dl>
  </div>
</div>

{{ template "shared/_footer.html" .}}


{{ end }}
