{{ define "users/_filters.html" }}

<div class="filters-grid">
  <h3 class="filters-grid-label text-label text-xs">Filter</h3>
  <div class="filters-grid-content">
    <form id="userFilterForm" method="get">

      <!-- Include this, so we don't lose it when user changes filters. -->
      <input type="hidden" name="per_page" value="{{ .pager.PerPage }}">

      <div class="columns">
        <div class="column is-one-quarter">
          {{ template "forms/text_input.html" .filterForm.Fields.name__contains }}
        </div>
        <div class="column is-one-quarter">
          {{ template "forms/text_input.html" .filterForm.Fields.email__contains }}
        </div>
        <div class="column is-one-quarter is-align-self-flex-end">
          <input class="filter-button button is-primary" type="submit" value="Filter">
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-quarter">
          {{ template "forms/select.html" .filterForm.Fields.institution_id }}
        </div>
        <div class="column is-one-quarter">
          {{ template "forms/select.html" .filterForm.Fields.role }}
        </div>
      </div>

    </form>

    {{ template "shared/_filter_chips.html" . }}

  </div>
</div>

{{ end }}
