{{ define "users/_filters.html" }}

<div class="filters-grid">
  <h3 class="filters-grid-label text-label text-xs">Filter</h3>
  <div class="filters-grid-content">
    <form id="userFilterForm" method="get">

      <div class="columns">
        <div class="column is-one-quarter">
          {{ template "forms/text_input.html" .filterForm.Fields.name__contains }}
        </div>
        <div class="column is-one-quarter">
          {{ template "forms/text_input.html" .filterForm.Fields.email__contains }}
        </div>
        <div class="column is-one-quarter is-align-self-flex-end">
          <input class="filter-button button is-primary" type="submit" value="Filter">
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-quarter">
          {{ template "forms/select.html" .filterForm.Fields.institution_id }}
        </div>
        <div class="column is-one-quarter">
          {{ template "forms/select.html" .filterForm.Fields.role }}
        </div>
      </div>

    </form>

    <div class="filters-grid-clear">
      <!-- TODO Example filter chips below, not wired up yet -->
      <button class="badge filter-chip mb-3">
        <strong class="mr-1">Action:</strong> Restore File
        <span class="icon material-icons md-16" aria-hidden="true">cancel</span>
      </button>
      <button class="badge filter-chip mb-3">
        <strong class="mr-1">Action:</strong> Restore File
        <span class="icon material-icons md-16" aria-hidden="true">cancel</span>
      </button>
      <button class="badge filter-chip mb-3">
        <strong class="mr-1">Action:</strong> Restore File
        <span class="icon material-icons md-16" aria-hidden="true">cancel</span>
      </button>
      <button class="filter-clear button is-compact is-white">Clear Filters</button>
    </div>
  </div>
</div>

{{ end }}
