{{ define "users/authy_registration_complete.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_header.html" .}}
{{ end }}


<!-- TODO: Make this an actual modal instead of a page -->
<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Authy Registration Complete</h2>
    <a class="modal-exit" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <p>Your Authy registration is complete. You can now use Authy OneTouch to log in.</p>

  <a class="button" href="/dashboard">Go to Dashboard</a>
</div>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_footer.html" .}}
{{ end }}

{{ end }}
