{{ define "users/backup_codes.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_header.html" .}}
{{ end }}

<div class="modal-detail">
  <div id="modalTitle" class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Backup Codes</h2>
    <a class="modal-exit is-grey-dark" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <p class="mb-5">Please copy the backup codes below. You can use these for two-factor login when you don't have access
    to Authy or text messages. These backup codes supersede all previously-generated codes.</p>

  <!--
      Note that two_factor_controller_test.go looks for these span tags
      to extract backup codes during testing.
  -->

  {{ range $index, $code := .backupCodes }}
  <p class="backup-code">{{ $code }}</p>
  {{ end }}
</div>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}