{{ define "users/choose_second_factor.html" }}

{{ template "shared/_header.html" .}}

<!--
     Note: This page is for choosing how to complete a login
     after entering email and password. For setting up one's
     preferred two-factor auth method, see init_2fa_setup.html
-->

<h1>Multi-Factor Authentication Required</h1>

<p>How would you like to complete your login?</p>

<div class="two-factor-option clickable" onclick="submitSecondFactor('authy')">
  Authy
</div>
<div class="two-factor-option clickable" onclick="submitSecondFactor('sms')">
  Text Message
</div>
<div class="two-factor-option clickable" onclick="submitSecondFactor('backup')">
  Backup Code
</div>

<form name="twoFactorChoiceForm" method="post" action="">
  <input type="hidden" name="two_factor_method" value="" />
  <!-- CSRF token is in script below -->
</form>

<script>
 // Set everything explicitly on each click. If user uses
 // back button to return to this page, we need to be sure
 // csrf and form action are set correctly.
 function submitSecondFactor(twoFactorMethod) {
     let form = document.forms["twoFactorChoiceForm"]
     let csrfToken = "{{ .csrf_token }}"
     form["two_factor_method"].value = twoFactorMethod

     if (twoFactorMethod == "backup") {
         form["csrf_token"] = null
         form.method = "get"
         form.action = "/users/2fa_backup/"
     } else if (twoFactorMethod == "authy") {
         addCsrf(form, csrfToken)
         form.method = "post"
         form.action = "/users/2fa_push/"
     } else if (twoFactorMethod == "sms") {
         addCsrf(form, csrfToken)
         form.method = "post"
         form.action = "/users/2fa_sms/"
     }
     form.submit()
 }
 function addCsrf(form, token) {
     if (form["csrf_token"] == null) {
         let input = document.createElement("input");
         input.setAttribute("type", "hidden");
         input.setAttribute("name", "csrf_token");
         input.setAttribute("value", token);
         form.appendChild(input);
     }
 }
</script>

{{ template "shared/_footer.html" .}}

{{ end }}
