{{ define "users/confirm_phone.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_header.html" .}}
{{ end }}

<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Confirm Your Phone Number</h2>
    <a class="modal-exit is-grey-dark" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <div class="modal-content">
    <p>Enter the code we just texted you into the box below.</p>

    <form name="confirmPhoneForm" method="post" action="/users/confirm_phone">
      <div class="field">
        <div class="control">
          <input class="input" type="text" name="otp" value="" autofocus>
        </div>
      </div>
      {{ template "forms/csrf_token.html" . }}
      <input class="button" type="submit" value="Submit">
    </form>



    <script>
      window.addEventListener('load', (event) => {
        document.forms['confirmPhoneForm']['otp'].focus()
      })
    </script>
  </div>
</div>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}