{{ define "users/enter_auth_token.html" }}

{{ template "shared/_header.html" .}}

<h1>Enter {{if (eq .twoFactorMethod "sms") }} SMS Code {{ else }} Backup Code {{ end }}</h1>

<form name="twoFactorTokenForm" method="post" action="/users/2fa_verify/">
  <input type="text" name="otp"/>
  <input type="hidden" name="two_factor_method" value="{{ .twoFactorMethod }}" />
  {{ template "forms/csrf_token.html" . }}
  <input type="submit" value="Submit">
</form>

<p>Not working? <a href="/users/2fa_choose">Try another method.</a>

{{ if (eq .twoFactorMethod "sms") }}

<form name="twoFactorResendForm" method="post" action="/users/2fa_sms/">
  <input type="hidden" name="two_factor_method" value="sms" />
  {{ template "forms/csrf_token.html" . }}
  <p>
    Didn't get your password?
    <a href="javascript:resendSMSPassword()">Send a new one.</a>
  </p>
</form>

<script>
 function resendSMSPassword() {
     if (confirm("Send a new password now?")) {
         document.forms['twoFactorResendForm'].submit()
     }
 }
</script>

{{ end }}

{{ template "shared/_footer.html" .}}

{{ end }}
