{{ define "users/enter_password_reset_token.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_header.html" .}}
{{ end }}


<!-- TODO: Make this an actual modal instead of a page -->
<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Password Reset</h2>
  </div>

  <div class="modal-content">
    <p>Enter the password reset token from the email you received.</p>

    <form name="passwordResetTokenForm" method="post" action="/users/complete_password_reset/{{ .id }}">
      <div class="field">
        <label class="label" for="tokenInput">Password reset token</label>
        <div class="control">
          <input class="input" type="text" id="tokenInput" name="token" placeholder="Password reset token">
        </div>
      </div>
      {{ template "forms/csrf_token.html" . }}
      <input class="button" type="submit" value="Submit">
    </form>
  </div>
</div>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}
