{{ define "users/forgot_password.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_header.html" .}}
{{ end }}

<div class="modal-edit">
    <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
        <h2>Forgot Password</h2>
        {{ if .showAsModal }}
        <a class="modal-exit" href="#">
            <span class="material-icons" aria-hidden="true">close</span>
            <span class="is-sr-only">Close</span>
        </a>
        {{ end }}
    </div>

    <p class="mb-3">Enter your email address below and we'll send you a login link.</p>

    <form action="/users/forgot_password" id="forgotPasswordForm" method="post">

        {{ if .FormError }}
        <div class="notification is-danger is-light">
            {{ .FormError }}
        </div>
        {{ end }}

        <div class="field">
            <label class="label" for="Email">Email Address</label>
            <div class="control">
                <input class="input" type="email" name="email" id="email" value="" autofocus>
            </div>
        </div>

        {{ template "forms/csrf_token.html" . }}

        <div class="is-flex is-justify-content-space-between">
            <a class="button" href="javascript:history.back()">Cancel</a>
            <input class="button is-dark" type="submit" value="Submit">
        </div>
    </form>
</div>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}