{{ define "users/form.html" }}

{{ template "shared/header.html" .}}

<form action="{{ .form.Action }}" method="post">

  {{ template "forms/text_input.html" .form.Fields.Name }}

  {{ template "forms/email.html" .form.Fields.Email }}

  {{ template "forms/tel.html" .form.Fields.PhoneNumber }}

  {{ template "forms/checkbox.html" .form.Fields.OTPRequiredForLogin }}

  {{ template "forms/date.html" .form.Fields.GracePeriod }}

  {{ template "forms/select.html" .form.Fields.InstitutionID }}

  {{ template "forms/select.html" .form.Fields.Role }}

  <div class="sign-in-submit">
    <input type="submit" value="Submit">
  </div>

</form>

{{ template "shared/footer.html" .}}

{{ end }}
