{{ define "users/form.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_header.html" .}}
{{ end }}

<div class="box">

  <form class="box-content" action="{{ .form.Action }}" id="userForm" method="post">

    {{ if .FormError }}
    <div class="notification is-danger is-light">
      {{ .FormError }}
    </div>
    {{ end }}

    <div class="columns">
      <div class="column">{{ template "forms/text_input.html" .form.Fields.Name }}</div>
    </div>

    <div class="columns">
      <div class="column">{{ template "forms/email.html" .form.Fields.Email }}</div>
      <div class="column">{{ template "forms/tel.html" .form.Fields.PhoneNumber }}</div>
    </div>

    <div class="columns">
      <div class="column">{{ template "forms/select.html" .form.Fields.OTPRequiredForLogin }}</div>
      <div class="column">{{ template "forms/date.html" .form.Fields.GracePeriod }}</div>
    </div>

    <div class="columns">
      {{ if .CurrentUser.IsAdmin }}
      <div class="column">{{ template "forms/select.html" .form.Fields.InstitutionID }}</div>
      {{ else }}
      {{ template "forms/hidden.html" .form.Fields.InstitutionID }}
      {{ end }}
      <div class="column">{{ template "forms/select.html" .form.Fields.Role }}</div>
    </div>

    {{ template "forms/csrf_token.html" . }}

    <div class="is-flex is-justify-content-space-between">
      <a class="button" href="javascript:history.back()">Cancel</a>
      <input class="button is-dark" type="submit" value="Submit">
    </div>
  </form>
</div>

<script>
  // Set 2FA date if 2FA is mandatory and no date is set
  window.addEventListener('load', (event) => {
    let otpList = document.forms['userForm'].elements.OTPRequiredForLogin
    let graceDate = document.forms['userForm'].elements.GracePeriod
    otpList.addEventListener('change', (e) => {
      if (otpList.value == "true") {
        let today = new Date()
        let deadline = new Date(today.setDate(today.getDate() + 60))
        graceDate.value = deadline.toISOString().substring(0, 10)
      } else if (otpList.value == "false") {
        graceDate.value = ''
      }
    })
  });
</script>


<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}