{{ define "users/form.html" }}

{{ template "shared/_header.html" .}}

<form action="{{ .form.Action }}" id="userForm" method="post">

  {{ if .FormError }}
  <div class="row form-error">
    {{ .FormError }}
  </div>
  {{ end }}

  {{ template "forms/text_input.html" .form.Fields.Name }}

  {{ template "forms/email.html" .form.Fields.Email }}

  {{ template "forms/tel.html" .form.Fields.PhoneNumber }}

  {{ template "forms/select.html" .form.Fields.OTPRequiredForLogin }}

  {{ template "forms/date.html" .form.Fields.GracePeriod }}

  {{ if .CurrentUser.IsAdmin }}
    {{ template "forms/select.html" .form.Fields.InstitutionID }}
  {{ else }}
    {{ template "forms/hidden.html" .form.Fields.InstitutionID }}
  {{ end }}

  {{ template "forms/select.html" .form.Fields.Role }}

  {{ template "forms/csrf_token.html" . }}

  <div class="float-right">
    <input type="submit" value="Submit">
  </div>
  <div class="float-left">
    <a class="button button-outline" href="javascript:history.back()">Cancel</a>
  </div>
</form>

<script>
// Set 2FA date if 2FA is mandatory and no date is set
window.addEventListener('load', (event) => {
     let otpList = document.forms['userForm'].elements.OTPRequiredForLogin
     let graceDate = document.forms['userForm'].elements.GracePeriod
     otpList.addEventListener('change', (e) => {
         if (otpList.value == "true") {
             let today = new Date()
             let deadline = new Date(today.setDate(today.getDate() + 60))
             graceDate.value = deadline.toISOString().substring(0,10)
         } else if (otpList.value == "false") {
             graceDate.value = ''
         }
     })
});
</script>


{{ template "shared/_footer.html" .}}

{{ end }}
