{{ define "users/index.html" }}

{{ template "shared/header.html" .}}

<h1>Users</h1>

<form method="get">
  <div class="row">
    <div class="column-50">
      <select id="institution_id__eq" name="institution_id__eq">
        <option value="">All Institutions</option>
        {{ $selectedID := .selectedID }}
        {{ range $index, $option := .institutionOptions }}
        <option value="{{ $option.Value }}" {{ if eq $selectedID $option.Value }}selected{{ end}}>{{ $option.Text }}</option>
        {{ end }}
      </select>
    </div>
    <div class="column-25">
      <input class="button-primary" type="submit" value="Filter">
    </div>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Institution</th>
      <th>Role</th>
      <th>Last Login</th>
      <th>2FA</th>
      <th>Disabled</th>
    </tr>
  </thead>
  <tbody>
    <!-- Obj type is UsersView, not User -->
    {{ range $index, $user := .users }}
    <tr>
      <td>{{ $user.Name }}</td>
      <td>{{ $user.Email }}</td>
      <td>{{ $user.InstitutionName }}</td>
      <td>{{ roleName $user.Role }}</td>
      <td>{{ dateUS $user.LastLogin }}</td>
      <td>{{ yesNo $user.EnabledTwoFactor }}</td>
      <td>{{ dateUS $user.DeactivatedAt }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "shared/footer.html" .}}


{{ end }}
