{{ define "users/index.html" }} {{ template "shared/_header.html" .}}

<div class="box">
  <div class="box-header is-flex is-align-items-center is-justify-content-space-between">
    <h1 class="h2">Users</h1>
    {{ if .CurrentUser.IsAdmin }}
    <a class="button is-success mr-6" href="/users/new">
      Add new user
    </a>
    {{ else if userCan .CurrentUser "UserCreate" .CurrentUser.InstitutionID }}
    <a class="button is-success mr-6" href="/users/new?institution_id={{ .CurrentUser.InstitutionID }}">
      Add new user
    </a>
    {{ end }}
  </div>

  <div class="box-content">
    {{ if .CurrentUser.IsAdmin }}
    {{ template "users/_filters.html" . }}
    {{ end }}
  </div>

  <table class="table is-fullwidth has-padding is-hoverable">
    <thead>
      <tr>
        <th class="pl-5">
          <a href="{{ sortUrl .currentUrl `name` }}">Name<span class="material-icons sort-icon" aria-hidden="true">
              {{ sortIcon .currentUrl `name` }}</span></a>
        </th>
        <th>
          <a href="{{ sortUrl .currentUrl `email` }}">Email<span class="material-icons sort-icon" aria-hidden="true">
              {{ sortIcon .currentUrl `email` }}</span></a>
        </th>
        <th>
          <a href="{{ sortUrl .currentUrl `institution_name` }}">Institution<span class="material-icons sort-icon"
              aria-hidden="true">{{ sortIcon .currentUrl `institution_name` }}</span></a>
        </th>
        <th>
          <a href="{{ sortUrl .currentUrl `role` }}">Role<span class="material-icons sort-icon" aria-hidden="true">
              {{ sortIcon .currentUrl `role` }}</span></a>
        </th>
        <th>
          <a href="{{ sortUrl .currentUrl `last_sign_in_at` }}">Last Sign In
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `last_sign_in_at`
              }}</span></a>
        </th>
        <th>
          <a href="{{ sortUrl .currentUrl `enabled_two_factor` }}">2FA
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `enabled_two_factor`
              }}</span></a>
        </th>
        <th>
          <a href="{{ sortUrl .currentUrl `deactivated_at` }}">Disabled
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `deactivated_at`
              }}</span></a>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- .items type is UsersView, not User -->
      {{ range $index, $user := .items }} {{ $cssClass := "clickable" }} {{ if
      not $user.DeactivatedAt.IsZero }} {{ $cssClass = "clickable row-disabled"
      }} {{ end }}
      <tr class="{{ $cssClass }}" onclick="window.location.href='/users/show/{{ $user.ID }}'">
        <td class="pl-5">{{ $user.Name }}</td>
        <td class="is-grey-dark">{{ $user.Email }}</td>
        <td class="is-grey-dark">{{ $user.InstitutionName }}</td>
        <td class="is-grey-dark">{{ roleName $user.Role }}</td>
        <td class="is-grey-dark">{{ dateUS $user.CurrentSignInAt }}</td>
        <td class="is-grey-dark">{{ yesNo $user.EnabledTwoFactor }}</td>
        <td class="is-grey-dark">{{ dateUS $user.DeactivatedAt }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  {{ template "shared/_pager.html" dict "pager" .pager }}
</div>

{{ template "shared/_footer.html" .}} {{ end }}