{{ define "users/init_2fa_setup.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_header.html" .}}
{{ end }}


<!-- TODO: Make this an actual modal instead of a page -->
<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Two-Factor Method</h2>
    <a class="modal-exit" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <div class="modal-content">
    <p class="mb-5">Please ensure your phone number is correct and choose your preferred method for two-factor authentication.</p>

    <form name="twoFactorSetupForm" method="post" onsubmit="confirmChange()" action="/users/2fa_setup">

      <div class="columns">
        <div class="column is-one-third">{{ template "forms/tel.html" .form.Fields.PhoneNumber }}</div>
      </div>

      <div class="columns">
        <div class="column">{{ template "forms/radio.html" .form.Fields.AuthyStatus }}</div>
      </div>

      {{ template "forms/csrf_token.html" . }}

      <input class="button" type="submit" value="Submit">

    </form>
  </div>
</div>

<script>
 let currentMethod = '{{ .CurrentUser.AuthyStatus }}'
 function confirmChange() {
     let selectedMethod = document.forms['twoFactorSetupForm']['AuthyStatus'].value
     if (selectedMethod != currentMethod && selectedMethod.toLowerCase() == 'none') {
         return confirm('Are you sure you want to turn off two-factor authentication?')
     }
     return true
 }
</script>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}
