{{ define "users/my_account.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_header.html" .}}
{{ end }}


<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <div>
      <h2>{{ .CurrentUser.Name }}</h2>
      <h4>{{ roleName .CurrentUser.Role }} at {{ .CurrentUser.Institution.Name }}</h4>
    </div>
    <a class="modal-exit" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>
  <div class="modal-content">
    {{ if userCan .CurrentUser "UserUpdateSelf" .CurrentUser.InstitutionID }}
    <div class="is-flex is-justify-content-space-between mb-5">
      <a class="button" href="/users/change_password/{{ .CurrentUser.ID }}">Change Password</a>
      <a class="button" href="javascript:getAPIKey()">Get API Key</a>
    </div>
    <div class="is-flex is-justify-content-space-between mb-5">
      <a class="button" href="javascript:generateBackupCodes()">Generate Backup Codes</a>
      <a class="button" href="/users/2fa_setup">Set Up Two-Factor Auth</a>
    </div>
    {{ end }}

    <div class="modal-list-row is-flex is-justify-content-space-between">
      <dl class="modal-list modal-list-left">
        <dt class="text-label text-xs is-grey-dark">Email</dt>
        <dd class="text-table">{{ .CurrentUser.Email }}</dd>
        <dt class="text-label text-xs is-grey-dark">Verified</dt>
        <dd class="text-table">{{ yesNo .CurrentUser.EmailVerified }}</dd>
        <dt class="text-label text-xs is-grey-dark">Phone</dt>
        <dd class="text-table">{{ .CurrentUser.PhoneNumber }}</dd>
        <dt class="text-label text-xs is-grey-dark">Sign In Count</dt>
        <dd class="text-table">{{ .CurrentUser.SignInCount }}</dd>
        <dt class="text-label text-xs is-grey-dark">Current Sign In</dt>
        <dd class="text-table">{{ dateUS .CurrentUser.CurrentSignInAt }} from {{ .CurrentUser.CurrentSignInIP }}</dd>
        <dt class="text-label text-xs is-grey-dark">Last Sign In</dt>
        <dd class="text-table">{{ dateUS .CurrentUser.LastSignInAt }} from {{ .CurrentUser.LastSignInIP }}</dd>
        <dt class="text-label text-xs is-grey-dark">Initial Password Updated</dt>
        <dd class="text-table">{{ yesNo .CurrentUser.InitialPasswordUpdated }}</dd>
        <dt class="text-label text-xs is-grey-dark">Force Password Update?</dt>
        <dd class="text-table">{{ yesNo .CurrentUser.ForcePasswordUpdate }}</dd>
        <dt class="text-label text-xs is-grey-dark">2FA Required</dt>
        <dd class="text-table">{{ yesNo .CurrentUser.OTPRequiredForLogin }}</dd>
        <dt class="text-label text-xs is-grey-dark">2FA Enabled</dt>
        <dd class="text-table">{{ yesNo .CurrentUser.EnabledTwoFactor }}</dd>
        <dt class="text-label text-xs is-grey-dark">2FA Confirmed</dt>
        <dd class="text-table">{{ yesNo .CurrentUser.ConfirmedTwoFactor }}</dd>
        <dt class="text-label text-xs is-grey-dark">2FA Required By</dt>
        <dd class="text-table">{{ dateUS .CurrentUser.GracePeriod }}</dd>
        <dt class="text-label text-xs is-grey-dark">Authy Status</dt>
        <dd class="text-table">{{ defaultString .CurrentUser.AuthyStatus "N/A" }}</dd>
        <dt class="text-label text-xs is-grey-dark">Authy ID</dt>
        <dd class="text-table">{{ defaultString .CurrentUser.AuthyID "N/A" }}</dd>
        <dt class="text-label text-xs is-grey-dark">Last Authy SignIn</dt>
        <dd class="text-table">{{ dateUS .CurrentUser.LastSignInWithAuthy }}</dd>
      </dl>

      <dl class="modal-list modal-list-right">
        <dt class="text-label text-xs is-grey-dark">Last Updated</dt>
        <dd class="text-table">{{ dateUS .CurrentUser.UpdatedAt }}</dd>
        <dt class="text-label text-xs is-grey-dark">Deactivated</dt>
        <dd class="text-table">{{ dateUS .CurrentUser.DeactivatedAt }}</dd>
      </dl>
    </div>
  </div>
</div>

<form name="apiKeyForm" action="/users/get_api_key/{{ .CurrentUser.ID }}" method="post">
  <input type="hidden" name="id" value="{{ .CurrentUser.ID }}">
  {{ template "forms/csrf_token.html" . }}
</form>

<form name="backupCodeForm" action="/users/backup_codes" method="post">
  <input type="hidden" name="id" value="{{ .CurrentUser.ID }}">
  {{ template "forms/csrf_token.html" . }}
</form>

<script>
 function getAPIKey() {
     if (confirm("Do you want to get a new API key? This will invalidate your existing key if you have one.")) {
         document.forms["apiKeyForm"].submit()
     }
 }
 function generateBackupCodes() {
     if (confirm("Do you want to generate backup codes? This will invalidate your existing backup codes.")) {
         document.forms["backupCodeForm"].submit()
     }
 }
</script>


<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}
