{{ define "users/passkey_register.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_header.html" .}}
{{ end }}

<div class="modal-detail">
  <div id="modalTitle" id="modalTitle" class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Passkey Registration</h2>
    <a class="modal-exit is-grey-dark" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <div class="modal-content">
    <p class="mb-5">Click below to add a passkey.</p>


    <form method="POST" action="/users/begin_passkey_registration">
      <button class="button" type="submit" onclick="registerPasskey()" value="Set up Passkey">Set up Passkey</button>
      {{ template "forms/csrf_token.html" . }}
    </form>
  </div>
</div>

<script>
  async function registerPasskey() {
      /*const startRegisterPasskey = await fetch('/users/begin_passkey_registration', {  
          method: 'POST',  
          headers: {  
              'Content-Type': 'application/json',  
              'Session-Key': "{{ .sessionKey }}"
          },
          body: JSON.stringify({"csrf_token": "{{ .csrf_token }}"})
      });  

      const pubKey = startRegisterPasskey.json();
      const challenge = pubKey.publicKey;
      attestationResponse = await SimpleWebAuthnBrowser.startRegistration(challenge)

      attestationResponse["csrf_token"] = "{{ .csrf_token }}"

     const verificationResponse = await fetch('/users/finish_passkey_registration', {  
          method: 'POST',  
          headers: {  
              'Content-Type': 'application/json',  
              'Session-Key': "{{ .sessionKey }}"
          },  
          body: JSON.stringify(attestationResponse)  
      });  

      const msg = await verificationResponse.json();  
      if (verificationResponse.ok) {  
        // good
      } else {  
        // bad     
      } */ 
  }
</script>

<script src="/static/js/simplewebauthn.index.umd.min.js"></script>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}
