{{ define "users/reset_password.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_header.html" .}}
{{ end }}


<!-- TODO: Make this an actual modal instead of a page -->
<div class="modal-edit">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>{{ .user.Name }}</h2>
    <a class="modal-exit" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <form action="/users/change_password/{{ .form.Model.GetID }}" id="passwordResetForm" method="post" onsubmit="return checkNewPassword()">

    {{ if .FormError }}
    <div class="notification is-danger is-light">
      {{ .FormError }}
    </div>
    {{ end }}

    <div class="columns">
      <div class="column">{{ template "forms/password.html" .form.Fields.NewPassword }}</div>
      <div class="column">{{ template "forms/password.html" .form.Fields.ConfirmNewPassword }}</div>
    </div>

    {{ template "forms/csrf_token.html" . }}

    <div id="pwdErrorMsg" class="notification is-danger is-light" style="display:none"></div>

    <div class="is-flex is-justify-content-space-between">
      <a class="button" href="javascript:history.back()">Cancel</a>
      <input class="button is-dark" type="submit" value="Submit">
    </div>
  </form>
</div>

<script>
 function checkNewPassword() {
     hideError()
     let form = document.forms['passwordResetForm']
     let newPwd = form['NewPassword'].value
     let confirmPwd = form['ConfirmNewPassword'].value
     if (newPwd != confirmPwd) {
         showError('Passwords do not match.')
         return false
     }
     if (!meetsLengthReq(newPwd)) {
         showError('New password must contain at least 8 characters.')
         return false
     }
     if (!meetsComplexityReq(newPwd)) {
         showError('Password must contain at least one uppercase letter, one lowercase letter and one number.')
         return false
     }
     return true
 }
 function meetsLengthReq(pwd) {
     return pwd.length >= 8
 }
 function meetsComplexityReq(pwd) {
     let lc = pwd.match(/[a-z]/)
     let uc = pwd.match(/[A-Z]/)
     let num = pwd.match(/[0-9]/)
     return lc && uc && num
 }
 function showError(msg) {
     let div = document.getElementById('pwdErrorMsg')
     div.innerText = msg
     div.style.display = 'block'
 }
 function hideError() {
     document.getElementById('pwdErrorMsg').style.display = 'none'
 }
</script>


<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}
