{{ define "users/reset_password_initiated.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_header.html" .}}
{{ end }}

<div class="box">
  <div class="box-header">
    <h2>Password Reset</h2>
  </div>
  <div class="box-content">
    <p class="mb-5">The password for {{ .user.Name }} has been reset. The user will receive an email soon with a link
      that
      will let
      them choose a new password.</p>
    <button class="button" onclick="history.back()">OK</button>
  </div>
</div>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}