{{ define "users/reset_password.html" }}

{{ template "shared/_header.html" .}}

<form action="{{ .form.Action }}" id="userForm" method="post" onsubmit="checkNewPassword()">

  {{ if .FormError }}
  <div class="row form-error">
    {{ .FormError }}
  </div>
  {{ end }}

  {{ template "forms/text_input.html" .form.Fields.OldPassword }}

  {{ template "forms/email.html" .form.Fields.NewPassword }}

  {{ template "forms/tel.html" .form.Fields.ConfirmNewPassword }}

  <div class="float-right">
    <input type="submit" value="Submit">
  </div>
  <div class="float-left">
    <a class="button button-outline" href="javascript:history.back()">Cancel</a>
  </div>
</form>

<script>
 function checkNewPassword() {
     return true
 }
</script>


{{ template "shared/_footer.html" .}}

{{ end }}
