{{ define "users/reset_password_initiated.html" }}

{{ template "shared/_header.html" .}}

<!-- TODO: Make this an actual modal instead of a page -->
<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Password Reset</h2>
  </div>

  <p>The password for {{ .user.Name }} has been reset. The user will receive an email soon with link that will let them choose a new password.</p>
</div>

{{ template "shared/_footer.html" .}}

{{ end }}
