{{ define "users/reset_password.html" }}

{{ template "shared/_header.html" .}}

<form action="/users/change_password/{{ .form.Model.GetID }}" id="passwordResetForm" method="post" onsubmit="return checkNewPassword()">

  {{ if .FormError }}
  <div class="row form-error">
    {{ .FormError }}
  </div>
  {{ end }}

  {{ template "forms/password.html" .form.Fields.NewPassword }}

  {{ template "forms/password.html" .form.Fields.ConfirmNewPassword }}

  <div id="pwdErrorMsg" class="row form-error" style="display:none"></div>

  <div class="float-right">
    <input type="submit" value="Submit">
  </div>
  <div class="float-left">
    <a class="button button-outline" href="javascript:history.back()">Cancel</a>
  </div>
</form>

<script>
 function checkNewPassword() {
     hideError()
     let form = document.forms['passwordResetForm']
     let newPwd = form['NewPassword'].value
     let confirmPwd = form['ConfirmNewPassword'].value
     if (newPwd != confirmPwd) {
         showError('Passwords do not match.')
         return false
     }
     if (!meetsLengthReq(newPwd)) {
         showError('New password must contain at least 8 characters.')
         return false
     }
     if (!meetsComplexityReq(newPwd)) {
         showError('Password must contain at least one uppercase letter, one lowercase letter and one number.')
         return false
     }
     return true
 }
 function meetsLengthReq(pwd) {
     return pwd.length >= 8
 }
 function meetsComplexityReq(pwd) {
     let lc = pwd.match(/[a-z]/)
     let uc = pwd.match(/[A-Z]/)
     let num = pwd.match(/[0-9]/)
     return lc && uc && num
 }
 function showError(msg) {
     let div = document.getElementById('pwdErrorMsg')
     div.innerText = msg
     div.style.display = 'block'
 }
 function hideError() {
     document.getElementById('pwdErrorMsg').style.display = 'none'
 }
</script>


{{ template "shared/_footer.html" .}}

{{ end }}
