{{ define "users/show.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_header.html" .}}
{{ end }}

<!-- TODO: Make this an actual modal instead of a page -->
<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <div>
      <h2>{{ .user.Name }}</h2>
      <h4>{{ roleName .user.Role }} at {{ .user.Institution.Name }}</h4>
    </div>
  </div>

  <div class="modal-content">
    <div>
      {{ if .user.DeactivatedAt.IsZero }}
      <div class="is-flex is-justify-content-space-between mb-5">
        {{ if userCan .CurrentUser "UserCreate" .user.InstitutionID }}
        <button class="button" data-modal="modal-one" data-xhr-url="/users/edit/{{ .user.ID }}?modal=true">Edit</button>
        {{ end }}
        {{ if userCan .CurrentUser "UserDelete" .user.InstitutionID }}
        <button class="button" onclick="document.forms['userDeleteForm'].submit()">Deactivate</button>
        <form method="post" class="is-hidden" id="userDeleteForm" action="/users/delete/{{ .user.ID }}">
          <input type="hidden" name="id" value="{{ .user.ID }}"/>
          {{ template "forms/csrf_token.html" . }}
        </form>
      </div>
        {{ end }}
        <div class="is-flex is-justify-content-space-between">
        {{ if userCan .CurrentUser "UserUpdate" .user.InstitutionID }}
        <a class="button" href="/users/change_password/{{ .user.ID }}">Change Password</a>
        <a class="button" href="javascript:forcePasswordReset()">Force Password Reset</a>
        {{ end }}

      {{ else }} <!-- User is deactivated. Just show reactivation button. -->
        {{ if userCan .CurrentUser "UserUpdate" .user.InstitutionID }}
        <button class="button" onclick="document.forms['userReactivateForm'].submit()">Reactivate</button>
        <form method="post" class="is-hidden" id="userReactivateForm" action="/users/undelete/{{ .user.ID }}">
          <input type="hidden" name="id" value="{{ .user.ID }}"/>
          {{ template "forms/csrf_token.html" . }}
        </form>


        {{ end }}
      </div>
      {{ end }}
    </div>
    <div class="modal-list-row is-flex is-justify-content-space-between">
      <dl class="modal-list modal-list-left">
        <!-- TODO: Is there a way to hide empty fields? -->
        <dt class="text-label text-xs is-grey-dark">Email</dt>
        <dd class="text-table">{{ .user.Email }}</dd>
        <dt class="text-label text-xs is-grey-dark">Verified</dt>
        <dd class="text-table">{{ yesNo .user.EmailVerified }}</dd>
        <dt class="text-label text-xs is-grey-dark">Phone</dt>
        <dd class="text-table">{{ .user.PhoneNumber }}</dd>
        <dt class="text-label text-xs is-grey-dark">Sign In Count</dt>
        <dd class="text-table">{{ .user.SignInCount }}</dd>
        <dt class="text-label text-xs is-grey-dark">Current Sign In</dt>
        <dd class="text-table">{{ dateUS .user.CurrentSignInAt }} from {{ .user.CurrentSignInIP }}</dd>
        <dt class="text-label text-xs is-grey-dark">Last Sign In</dt>
        <dd class="text-table">{{ dateUS .user.LastSignInAt }} from {{ .user.LastSignInIP }}</dd>
        <dt class="text-label text-xs is-grey-dark">Initial Password Updated</dt>
        <dd class="text-table">{{ yesNo .user.InitialPasswordUpdated }}</dd>
        <dt class="text-label text-xs is-grey-dark">Force Password Update?</dt>
        <dd class="text-table">{{ yesNo .user.ForcePasswordUpdate }}</dd>
        <dt class="text-label text-xs is-grey-dark">2FA Required</dt>
        <dd class="text-table">{{ yesNo .user.OTPRequiredForLogin }}</dd>
        <dt class="text-label text-xs is-grey-dark">2FA Enabled</dt>
        <dd class="text-table">{{ yesNo .user.EnabledTwoFactor }}</dd>
        <dt class="text-label text-xs is-grey-dark">2FA Confirmed</dt>
        <dd class="text-table">{{ yesNo .user.ConfirmedTwoFactor }}</dd>
        <dt class="text-label text-xs is-grey-dark">2FA Required By</dt>
        <dd class="text-table">{{ dateUS .user.GracePeriod }}</dd>
        <dt class="text-label text-xs is-grey-dark">Authy Status</dt>
        <dd class="text-table">{{ .user.AuthyStatus }}</dd>
        <dt class="text-label text-xs is-grey-dark">Authy ID</dt>
        <dd class="text-table">{{ .user.AuthyID }}</dd>
        <dt class="text-label text-xs is-grey-dark">Last Authy SignIn</dt>
        <dd class="text-table">{{ dateUS .user.LastSignInWithAuthy }}</dd>
      </dl>

      <dl class="modal-list modal-list-right">
        <dt class="text-label text-xs is-grey-dark">Last Updated</dt>
        <dd class="text-table">{{ dateUS .user.UpdatedAt }}</dd>
        <dt class="text-label text-xs is-grey-dark">Deactivated</dt>
        <dd class="text-table">{{ dateUS .user.DeactivatedAt }}</dd>
      </dl>
    </div>
  </div>
</div>

<script>
 function forcePasswordReset() {
     if (confirm("Do you want to force this user to reset their password?")) {
         window.location.href = "/users/init_password_reset/{{ .user.ID }}"
     }
 }
</script>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
  {{ template "shared/_footer.html" .}}
{{ end }}



{{ end }}
