{{ define "users/show.html" }}

{{ template "shared/_header.html" .}}

{{ if .user.DeactivatedAt.IsZero }}
  {{ if userCan .CurrentUser "UserCreate" .user.InstitutionID }}
  <div class="float-right"><a class="button" href="/users/edit/{{ .user.ID }}">Edit</a></div>
  {{ end }}
  {{ if userCan .CurrentUser "UserDelete" .user.InstitutionID }}
  <div class="float-right"><a class="button" href="/users/delete/{{ .user.ID }}">Deactivate</a></div>
  {{ end }}
  {{ if userCan .CurrentUser "UserUpdate" .user.InstitutionID }}
  <div class="float-right"><a class="button" href="/users/change_password/{{ .user.ID }}">Change Password</a></div>
  <div class="float-right"><a class="button" href="javascript:forcePasswordReset()">Force Password Reset</a></div>
  {{ end }}

{{ else }} <!-- User is deactivated. Just show reactivation button. -->
  {{ if userCan .CurrentUser "UserUpdate" .user.InstitutionID }}
  <div class="float-right"><a class="button" href="/users/undelete/{{ .user.ID }}">Reactivate</a></div>
  {{ end }}
{{ end }}

<h1>{{ .user.Name }}</h1>
<h3>{{ roleName .user.Role }} at {{ .user.Institution.Name }}</h3>

<table>
  <tbody>
    <tr>
      <th>Email</th><td>{{ .user.Email }}</td>
    </tr>
    <tr>
      <th>Verified</th><td>{{ yesNo .user.EmailVerified }}</td>
    </tr>
    <tr>
      <th>Phone</th><td>{{ .user.PhoneNumber }}</td>
    </tr>
    <tr>
      <th>Last Updated</th><td>{{ dateUS .user.UpdatedAt }}</td>
    </tr>
    <tr>
      <th>Sign In Count</th><td>{{ .user.SignInCount }}</td>
    </tr>
    <tr>
      <th>Current Sign In</th><td>{{ dateUS .user.CurrentSignInAt }} from {{ .user.CurrentSignInIP }}</td>
    </tr>
    <tr>
      <th>Last Sign In</th><td>{{ dateUS .user.LastSignInAt }} from {{ .user.LastSignInIP }}</td>
    </tr>
    <tr>
      <th>Initial Password Updated</th><td>{{ yesNo .user.InitialPasswordUpdated }}</td>
    </tr>
    <tr>
      <th>Force Password Update?</th><td>{{ yesNo .user.ForcePasswordUpdate }}</td>
    </tr>
    <tr>
      <th>Deactivated</th><td>{{ dateUS .user.DeactivatedAt }}</td>
    </tr>
    <tr>
      <th>2FA Required</th><td>{{ yesNo .user.OTPRequiredForLogin }}</td>
    </tr>
    <tr>
      <th>2FA Enabled</th><td>{{ yesNo .user.EnabledTwoFactor }}</td>
    </tr>
    <tr>
      <th>2FA Confirmed</th><td>{{ yesNo .user.ConfirmedTwoFactor }}</td>
    </tr>
    <tr>
      <th>2FA Required By</th><td>{{ dateUS .user.GracePeriod }}</td>
    </tr>
    <tr>
      <th>Authy Status</th><td>{{ .user.AuthyStatus }}</td>
    </tr>
    <tr>
      <th>Authy ID</th><td>{{ .user.AuthyID }}</td>
    </tr>
    <tr>
      <th>Last Authy SignIn</th><td>{{ dateUS .user.LastSignInWithAuthy }}</td>
    </tr>
    <tr>
  </tbody>
</table>

<script>
 function forcePasswordReset() {
     if (confirm("Do you want to force this user to reset their password?")) {
         window.location.href = "/users/init_password_reset/{{ .user.ID }}"
     }
 }
</script>

{{ template "shared/_footer.html" .}}


{{ end }}
