@charset "utf-8";
@import "../../node_modules/normalize.css/normalize";

// Set brand colors
// Brand greys
$grey-dark-brand: #333030;
$grey-1: #6b6b6b;
$grey-2: #a2a2a2;
$grey-3: #c4c4c4;
$grey-4: #d6d6d6;
$grey-highlight: #eeeeee;
$grey-background: #f7f7f7;
$grey-pending: #8d9396;

// Override bulma greys
$grey-darker: $grey-dark-brand;
$grey-dark: $grey-1;
$grey: $grey-2;
$grey-light: $grey-3;
$grey-lighter: $grey-4;
$grey-lightest: $grey-highlight;

// Brand colors
$gold: #bb9566;
$purple: #13135c;
$red: #be1f45;
$teal: #00a99d;
$turquoise: $teal;
$green: #35826b;
$brown: #935a15;
$blue-dark: #608292;
$blue-light: #6097cd;

// Override bulma variables as needed
$body-background-color: $grey-background;
$body-color: $grey-darker;
$body-family: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
$body-line-height: 20px;
$family-monospace: "Roboto Mono", monospace;
$link: $grey-darker;
$primary: $purple;
$radius-large: 8px;
$hr-background-color: $grey-3;

// Import bulma packages as needed
@import "../../node_modules/bulma/sass/utilities/all";
@import "../../node_modules/bulma/sass/base/all";
// @import "../../node_modules/bulma/sass/components/all";
@import "../../node_modules/bulma/sass/elements/button";
@import "../../node_modules/bulma/sass/form/all";
// @import "../../node_modules/bulma/sass/grid/all";
@import "../../node_modules/bulma/sass/helpers/visibility";
// @import "../../node_modules/bulma/sass/layout/all";

// Import individual custom components
// @import "legacy";
@import "shared/all";

// Temporary styles
.modal {
  display: none;
}
