{{ define "forms/select.html" }}

{{ $value := .Value }}

<div class="field">
    <label class="label" for="{{ .Label }}">{{ .Label }}</label>
    <div class="control">
        <div class="select">
            <select id="{{ .Label }}">
                <option value="">Any</option>
                {{ range $index, $option := .Options }}
                <option value="{{ $option.Value }}" {{ if strEq $option.Value $value }}selected{{ end }}>{{ $option.Text }}</option>
                {{ end }}
            </select>
        </div>
    </div>
    {{ if .DisplayError }}<p class="help is-danger">{{ .ErrMsg }}</p>{{ end }}
</div>

{{ end }}
