{{ define "files/_request_restore.html" }}

<div class="container">

  <h1>Restore File</h1>

  <div class="row">
    <div class="column column-30">
    <p>This file will be restored to your institution's receiving bucket and you'll receive an email at {{ .CurrentUser.Email }} when it's ready.</p>

    <p>Restoration times vary. Large files take longer than smaller files. Items restored from Glacier and Glacier Deep Archive take longer than items restored from S3 and Wasabi.</p>
    </div>
  </div>

  <div class="row">
    <div class="column column-30">
      <button class="button button-outline" onclick="document.getElementById('modal-one').classList.remove('open')">Cancel</button>
    </div>
    <div class="column column-40">

    </div>
    <div class="column column-30">
      <button class="button" onclick="document.forms['fileRestoreForm'].submit()">Confirm</button>
    </div>
  </div>

  <form method="post" id="fileRestoreForm" action="/files/init_restore/{{ .file.ID }}">
    <input type="hidden" name="id" value="{{ .file.ID }}"/>
    {{ template "forms/csrf_token.html" . }}
  </form>


</div>

{{ end }}
