{{ define "files/_request_restore.html" }}

<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Restore File</h2>
    <a class="modal-exit is-grey-dark" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <div class="modal-content">
    <p class="mb-3">This file will be restored to your institution's receiving bucket and you'll receive an email at {{ .CurrentUser.Email }} when it's ready.</p>

    <p class="mb-5">Restoration times vary. Large files take longer than smaller files. Items restored from Glacier and Glacier Deep Archive take longer than items restored from S3 and Wasabi.</p>
    
    <div class="is-flex">
        <button class="button modal-exit mr-5">Cancel</button>
        <button class="button is-primary" data-modal-post-form="fileRestoreForm" data-modal-post-target="modal-one">Confirm</button> 
    </div>
  
    <form method="post" id="fileRestoreForm" action="/files/init_restore/{{ .file.ID }}">
      <input type="hidden" name="id" value="{{ .file.ID }}"/>
      {{ template "forms/csrf_token.html" . }}
    </form>
  </div>
</div>

{{ end }}
