{{ define "files/_request_delete.html" }}

<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Delete File</h2>
    <a class="modal-exit" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
  </div>

  <div class="modal-content">
    <p class="mb-3">Are you sure you want to delete this file?</p>

    <dl class="mb-3">
      <dt>Identifier</dt>
      <dd>{{ .file.Identifier }}</dd>
    </dl>

    <p class="mb-5">Confirming will mark this file for deletion and notify
      institutional admins to review the request.</p>

    <div class="is-flex">
        <button class="button modal-exit mr-5">Cancel</button>
        <button class="button is-primary" data-modal-post-form="fileDeleteForm" data-modal-post-target="modal-one">Confirm</button>
    </div>

    <form method="post" id="fileDeleteForm" action="/files/init_delete/{{ .file.ID }}">
      <input type="hidden" name="id" value="{{ .file.ID }}"/>
      {{ template "forms/csrf_token.html" . }}
    </form>
  </div>
</div>

{{ end }}
