{{ define "files/deletion_requested.html" }}

{{ template "shared/_header.html" .}}

<div class="box">
  <div class="box-header"><h1>Deletion Requested</h1></div>
  <div class="box-content">
    <p>Thanks. We have received your request to delete the following file:</p>

    <p><b>{{ .fileIdentifier }}</b></p>

    <p>The APTrust administrators at your institution will soon receive an email
    asking them to approve the deletion.</p>
  </div>
</div>

{{ template "shared/_footer.html" .}}

{{ end }}
