{{ define "files/index.html" }}

{{ template "shared/_header.html" .}}

<!-- .items type is []GenericFile (not view) -->

<h1>Generic Files</h1>

{{ template "files/_filters.html" . }}

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Size</th>
      <th>Storage Option</th>
      <th>Modified</th>
      <th>Last Fixity</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $gf := .items }}
    <tr class="clickable" onclick="window.location.href='/files/show/{{ $gf.ID }}'">
      <td>{{ truncate $gf.Identifier 80 }}</td>
      <td>{{ humanSize $gf.Size }}</td>
      <td>{{ $gf.StorageOption }}</td>
      <td>{{ dateUS $gf.UpdatedAt }}</td>
      <td>{{ dateUS $gf.LastFixityCheck }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "shared/_pager.html" dict "pager" .pager }}

{{ template "shared/_footer.html" .}}

{{ end }}
