{{ define "files/index.html" }}

{{ template "shared/_header.html" .}}

<!-- .items type is []GenericFile (not view) -->

<div class="box">
  <div class="box-header">
    <h1 class="h2">Generic Files</h1>
  </div>

  <div class="box-content">
    {{ template "files/_filters.html" . }}
  </div>

  <table class="table is-hoverable is-fullwidth has-padding">
    <thead>
      <tr>
        <th class="pl-5"><a href="{{ sortUrl .currentUrl `identifier` }}" class="is-flex is-align-items-center">
            Identifier
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `identifier` }}</span>
          </a></th>
        <th><a href="{{ sortUrl .currentUrl `size` }}" class="is-flex is-align-items-center">
            Size
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `size` }}</span>
          </a></th>
        <th><a href="{{ sortUrl .currentUrl `storage_option` }}" class="is-flex is-align-items-center">
            Storage Option
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `storage_option` }}</span>
          </a></th>
        <th><a href="{{ sortUrl .currentUrl `updated_at` }}" class="is-flex is-align-items-center">
            Modified
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `updated_at` }}</span>
          </a></th>
        <th><a href="{{ sortUrl .currentUrl `last_fixity_check` }}" class="is-flex is-align-items-center">
            Last Fixity
            <span class="material-icons sort-icon" aria-hidden="true">{{ sortIcon .currentUrl `last_fixity_check`
              }}</span>
          </a></th>
      </tr>
    </thead>
    <tbody>
      {{ range $index, $gf := .items }}
      <tr class="clickable" data-modal="modal-one" data-xhr-url="/files/show/{{ $gf.ID }}?modal=true">
        <td class="pl-5">
          <div class="is-flex is-align-items-center">
            <span class="is-grey-dark">{{ truncate $gf.Identifier 80 }}</span>
          </div>
        </td>
        <td class="is-grey-dark num text-sm">{{ humanSize $gf.Size }}</td>
        <td class="is-grey-dark">{{ $gf.StorageOption }}</td>
        <td class="is-grey-dark text-sm is-uppercase">{{ dateUS $gf.UpdatedAt }}</td>
        <td class="is-grey-dark text-sm is-uppercase">{{ dateUS $gf.LastFixityCheck }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  {{ template "shared/_pager.html" dict "pager" .pager }}
</div>

{{ template "shared/_footer.html" .}}

{{ end }}