{{ define "files/show.html" }}

{{ template "shared/_header.html" .}}

<h1>Generic File</h1>

<table>
  <tbody>
    <tr>
      <th>Identifier</th>
      <td>{{ .file.Identifier }}</td>
    </tr>
    <tr>
      <th>Size</th>
      <td>{{ .file.Size }}</td>
    </tr>
    <tr>
      <th>Format</th>
      <td>{{ .file.FileFormat }}</td>
    </tr>
    <tr>
      <th>State</th>
      <td>{{ .file.State }}</td>
    </tr>
    <tr>
      <th>Storage Option</th>
      <td>{{ .file.StorageOption }}</td>
    </tr>
    <tr>
      <th>Created</th>
      <td>{{ dateUS .file.CreatedAt }}</td>
    </tr>
    <tr>
      <th>Updated</th>
      <td>{{ dateUS .file.UpdatedAt }}</td>
    </tr>
    <tr>
      <th>Last Fixity Check</th>
      <td>{{ .file.LastFixityCheck }}</td>
    </tr>
    <tr>
      <th>UUID</th>
      <td>{{ .file.UUID }}</td>
    </tr>
    <tr>
      <th>Parent Object</th>
      <td><a href="/objects/show/{{ .file.IntellectualObject.ID }}">{{ .file.IntellectualObject.Identifier }}</a></td>
    </tr>
    <tr>
      <th>Storage URLs</th>
      <td>
        {{ range $index, $storageRecord := .file.StorageRecords }}
            {{ $storageRecord.URL }}<br/>
        {{ end }}
      </td>
    </tr>
    <tr>
      <th>Checksums</th>
      <td>
        {{ range $index, $cs := .file.Checksums }}
            {{ dateUS $cs.DateTime }} - {{ $cs.Algorithm }}:{{ $cs.Digest }}<br/>
        {{ end }}
      </td>
    </tr>
    <tr>
      <th>PREMIS Events</th>
      <td>
        {{ range $index, $event := .file.PremisEvents }}
            <a href="#" data-modal="modal-one" data-xhr-url="/events/show_xhr/{{ $event.ID }}">{{ dateUS $event.DateTime }} - {{ $event.EventType }} - {{ $event.Outcome }}</a><br/>
        {{ end }}
      </td>
    </tr>
  </tbody>
</table>


{{ template "shared/_footer.html" .}}

{{ end }}
