{{ define "files/show.html" }}

<!-- Show the header unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_header.html" .}}
{{ end }}

<div class="modal-detail">
  <div class="modal-title-row is-flex is-justify-content-space-between is-align-items-center">
    <h2>Generic File</h2>
    {{ if .showAsModal }}
    <a class="modal-exit is-grey-dark" href="#">
      <span class="material-icons" aria-hidden="true">close</span>
      <span class="is-sr-only">Close</span>
    </a>
    {{ end }}
  </div>

  <dl class="modal-header-row is-flex is-justify-content-space-between">
    <div>
      <dt class="text-label text-xs is-grey-dark">Identifier</dt>
      <dd class="text-table wrap-long-words">
        {{ .file.Identifier }}
      </dd>
    </div>
    <div>
      <dt class="text-label text-xs is-grey-dark">Size</dt>
      <dd class="text-table">{{ formatInt64 .file.Size }} ({{ humanSize .file.Size }})</dd>
    </div>
    <div>
      <dt class="text-label text-xs is-grey-dark">Format</dt>
      <dd class="text-table">{{ .file.FileFormat }}</dd>
    </div>
    <div>
      <dt class="text-label text-xs is-grey-dark">State</dt>
      <dd class="text-table">{{ .file.State }}</dd>
    </div>
  </dl>

  <div class="modal-content">
    <div class="modal-list-row is-flex is-justify-content-space-between">
      <dl class="modal-list modal-list-left">
        <dt class="text-label text-xs is-grey-dark">Storage Option</dt>
        <dd class="text-table">{{ .file.StorageOption }}</dd>
        <dt class="text-label text-xs is-grey-dark">Last Fixity Check</dt>
        <dd class="text-table">{{ .file.LastFixityCheck }}</dd>
        <dt class="text-label text-xs is-grey-dark">UUID</dt>
        <dd class="text-table">{{ .file.UUID }}</dd>
        <dt class="text-label text-xs is-grey-dark">Parent Object</dt>
        <dd class="text-table wrap-long-words"><a href="/objects/show/{{ .file.IntellectualObject.ID }}">{{
            .file.IntellectualObject.Identifier }}</a></dd>
        <dt class="text-label text-xs is-grey-dark">Storage URLs</dt>
        <dd class="text-table wrap-long-words">
          {{ range $index, $storageRecord := .file.StorageRecords }}
          <a href="{{ $storageRecord.URL }}">{{ $storageRecord.URL }}</a><br />
          {{ end }}
        </dd>
        <dt class="text-label text-xs is-grey-dark">Checksums</dt>
        <dd class="text-table wrap-long-words">
          {{ range $index, $cs := .file.Checksums }}
          {{ dateUS $cs.DateTime }} - {{ $cs.Algorithm }}:{{ $cs.Digest }}<br />
          {{ end }}
        </dd>
        <dt class="text-label text-xs is-grey-dark">PREMIS Events</dt>
        <dd class="text-table">
          {{ range $index, $event := .file.PremisEvents }}
          <a href="#" data-modal="modal-one" data-xhr-url="/events/show_xhr/{{ $event.ID }}">{{ dateUS $event.DateTime
            }} - {{ $event.EventType }} - {{ $event.Outcome }}</a><br />
          {{ end }}
        </dd>
      </dl>

      <dl class="modal-list modal-list-right">
        <dt class="text-label text-xs is-grey-dark">Created At</dt>
        <dd class="text-table">{{ dateUS .file.CreatedAt }}</dd>
        <dt class="text-label text-xs is-grey-dark">Updated At</dt>
        <dd class="text-table">{{ dateUS .file.UpdatedAt }}</dd>
      </dl>
    </div>


    {{ if eq .file.State "A" }}
    <div class="modal-footer-row">
      {{ if userCan .CurrentUser "FileRequestDelete" .file.InstitutionID }}
      <button class="button" data-modal="modal-one" data-xhr-url="/files/request_delete/{{ .file.ID }}" {{ if
        .hasPendingWorkItems }} disabled title="This file cannot be deleted until pending work items complete." {{ end }}>Delete</button>
      {{ end }}
      {{ if userCan .CurrentUser "FileRestore" .file.InstitutionID }}
      <button class="button" data-modal="modal-one" data-xhr-url="/files/request_restore/{{ .file.ID }}" {{ if
        .hasPendingWorkItems }} disabled title="This file cannot be restored until pending work items complete." {{ end }}>Restore</button>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>

<!-- Show the footer unless query string says modal=true -->
{{ if not .showAsModal }}
{{ template "shared/_footer.html" .}}
{{ end }}


{{ end }}